includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAlwaysTrueInLastCondition: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    errorFormat: table
    stubFiles:
        - ../lib/stub/memcached.stub
    bootstrapFiles:
        - ../lib/config.php
    scanFiles:
        - ../lib/bootstrap.php
    paths:
        - ../lib/util.php
        - ../app
        - ../classes
        - ../misc/phinx
        - ../scripts
        - ../tests
        - ../sections
    parallel:
        maximumNumberOfProcesses: 1
    dynamicConstantNames:
        - AJAX
        - BLOCK_TOR
        - DISABLE_IRC
        - DISABLE_TRACKER
        - DEBUG
        - DEBUG_EMAIL
        - DEBUG_MODE
        - DEBUG_UPLOAD_NOTIFICATION
        - FEATURE_EMAIL_REENABLE
        - HTTP_PROXY
        - IMAGE_HOST_BANNED
        - IMAGE_HOST_RECOMMENDED
        - IMAGE_CACHE_ENABLED
        - LASTFM_API_KEY
        - MONERO_DONATION_ADDRESS
        - OPEN_REGISTRATION
        - PUSH_SOCKET_LISTEN_ADDRESS
        - REAPER_TASK_CLAIM
        - REAPER_TASK_NOTIFY
        - REAPER_TASK_REMOVE_NEVER_SEEDED
        - REAPER_TASK_REMOVE_UNSEEDED
        - RECOVERY
        - RECOVERY_AUTOVALIDATE
        - RECOVERY_BUFFER
        - RECOVERY_DB
        - REQUEST_TAX
        - SHOW_PUBLIC_INDEX
        - STACKABLE_FREELEECH_TOKENS
        - USER_LIMIT
    ignoreErrors:
    -
      message: "/^Cannot access offset '\\w+' on array\\|false\\.$/"
      paths:
        -  ../app/Util/UploadForm.php
    -
      message: '/^Function \w+\(\) (?:has parameter \$\w+ with|return type has) no value type specified in iterable type array\.$/'
      paths:
        -  ../lib/util.php
    -
      message: '/^Method [^:]+::\w+\(\) has parameter \S+ with no (?:type specified|value type specified in iterable type array)\.$/'
      paths:
        -  ../app/*
        -  ../classes/text.class.php
        -  ../tests/*
    -
      message: '/^Method [^:]+::\w+\(\) return type has no value type specified in iterable type array\.$/'
      paths:
        -  ../app/*
        -  ../classes/text.class.php
        -  ../misc/phinx/migrations/*
        -  ../tests/phpunit/*
    -
      message: '/^PHPDoc tag @var for variable \$\w+ has no value type specified in iterable type array\./'
      paths:
        -  ../sections/*
    -
      message: '/^Property [^:]+::\$\w+ type has no value type specified in iterable type array\.$/'
      paths:
        -  ../app/*
        -  ../classes/text.class.php
        -  ../tests/phpunit/*
    -
      message: '/^Variable \$(?:Cache|DB|Debug|SessionID|Twig|Viewer) might not be defined\.$/'
      paths:
        - ../scripts/*
        - ../sections/*
    -
      message: '/^Variable \$Router might not be defined\.$/'
      paths:
        -  ../sections/forums/index.php
