parameters:
	ignoreErrors:
		-
			message: "#^Method Gazelle\\\\API\\\\AbstractAPI\\:\\:run\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/API/AbstractAPI.php

		-
			message: "#^Method Gazelle\\\\API\\\\Artist\\:\\:run\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/API/Artist.php

		-
			message: "#^Method Gazelle\\\\API\\\\Collage\\:\\:run\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/API/Collage.php

		-
			message: "#^Method Gazelle\\\\API\\\\Forum\\:\\:run\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/API/Forum.php

		-
			message: "#^Method Gazelle\\\\API\\\\GenerateInvite\\:\\:run\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/API/GenerateInvite.php

		-
			message: "#^Method Gazelle\\\\API\\\\Request\\:\\:run\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/API/Request.php

		-
			message: "#^Call to function is_null\\(\\) with Gazelle\\\\Torrent will always evaluate to false\\.$#"
			count: 1
			path: ../app/API/Torrent.php

		-
			message: "#^Method Gazelle\\\\API\\\\Torrent\\:\\:run\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/API/Torrent.php

		-
			message: "#^Method Gazelle\\\\API\\\\Wiki\\:\\:run\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/API/Wiki.php

		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 2
			path: ../app/Feed.php

		-
			message: "#^Parameter \\#2 \\$timestamp of function date expects int\\|null, int\\|false given\\.$#"
			count: 1
			path: ../app/Feed.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../app/File/RipLog.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../app/File/RipLogHTML.php

		-
			message: "#^Parameter \\#2 \\$property of method Gazelle\\\\Json\\\\User\\:\\:valueOrNull\\(\\) expects bool, string given\\.$#"
			count: 23
			path: ../app/Json/User.php

		-
			message: "#^Parameter \\#2 \\$property of method Gazelle\\\\User\\:\\:propertyVisible\\(\\) expects string, bool given\\.$#"
			count: 1
			path: ../app/Json/User.php

		-
			message: "#^Parameter \\#1 \\$id of class Gazelle\\\\Contest constructor expects int, float\\|int\\<min, \\-1\\>\\|int\\<1, max\\>\\|string\\|true given\\.$#"
			count: 1
			path: ../app/Manager/Contest.php

		-
			message: "#^Method Gazelle\\\\Util\\\\Proxy\\:\\:fetch\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/Util/Proxy.php

		-
			message: "#^Method Gazelle\\\\Util\\\\Proxy\\:\\:urlDecode\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/Util/Proxy.php

		-
			message: "#^Method Gazelle\\\\Util\\\\Proxy\\:\\:urlEncode\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../app/Util/Proxy.php

		-
			message: "#^Parameter \\#1 \\$num of function base_convert expects string, int\\|false given\\.$#"
			count: 3
			path: ../app/Util/Twig.php

		-
			message: "#^Parameter \\#2 \\$timestamp of function date expects int\\|null, string\\|null given\\.$#"
			count: 1
			path: ../app/Util/Twig.php

		-
			message: "#^Method Sphinxql\\:\\:error\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../classes/sphinxql.class.php

		-
			message: "#^Method Sphinxql\\:\\:register_query\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../classes/sphinxql.class.php

		-
			message: "#^Method Sphinxql\\:\\:sph_connect\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../classes/sphinxql.class.php

		-
			message: "#^Property Sphinxql\\:\\:\\$Connected has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxql.class.php

		-
			message: "#^Property Sphinxql\\:\\:\\$Connections has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxql.class.php

		-
			message: "#^Property Sphinxql\\:\\:\\$Ident has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxql.class.php

		-
			message: "#^Property Sphinxql\\:\\:\\$Queries has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxql.class.php

		-
			message: "#^Property Sphinxql\\:\\:\\$Time has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxql.class.php

		-
			message: "#^Cannot call method to_pair\\(\\) on SphinxqlResult\\|false\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Method SphinxqlQuery\\:\\:build_query\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Method SphinxqlQuery\\:\\:error\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Method SphinxqlQuery\\:\\:error\\(\\) has parameter \\$Msg with no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Method SphinxqlQuery\\:\\:get_meta\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Method SphinxqlQuery\\:\\:reset\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Method SphinxqlQuery\\:\\:where_between\\(\\) has parameter \\$Values with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Parameter \\#1 \\$Result of class SphinxqlResult constructor expects mysqli_result, null given\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Parameter \\#2 \\$Meta of class SphinxqlResult constructor expects array, null given\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Parameter \\#3 \\$Socket of static method Sphinxql\\:\\:init_connection\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$Errors has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$Expressions has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$Filters has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$GroupBy has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$Indexes has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$Limits has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$Options has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$QueryString has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$Select has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$SortBy has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$SortGroupBy has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Property SphinxqlQuery\\:\\:\\$Sphinxql has no type specified\\.$#"
			count: 1
			path: ../classes/sphinxqlquery.class.php

		-
			message: "#^Method SphinxqlResult\\:\\:__construct\\(\\) has parameter \\$Meta with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../classes/sphinxqlresult.class.php

		-
			message: "#^Method SphinxqlResult\\:\\:collect\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../classes/sphinxqlresult.class.php

		-
			message: "#^Method SphinxqlResult\\:\\:to_array\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../classes/sphinxqlresult.class.php

		-
			message: "#^Method SphinxqlResult\\:\\:to_pair\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../classes/sphinxqlresult.class.php

		-
			message: "#^Parameter \\#1 \\$userId of method Gazelle\\\\Manager\\\\User\\:\\:findById\\(\\) expects int, int\\|string given\\.$#"
			count: 1
			path: ../classes/users.class.php

		-
			message: "#^Parameter \\#2 \\$timestamp of function date expects int\\|null, int\\|false given\\.$#"
			count: 1
			path: ../classes/users.class.php

		-
			message: "#^Function payload\\(\\) has parameter \\$details with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../sections/ajax/top10/torrents.php

		-
			message: "#^Function payload\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../sections/ajax/top10/torrents.php

		-
			message: "#^Call to an undefined method object\\:\\:run\\(\\)\\.$#"
			count: 1
			path: ../sections/api/index.php

		-
			message: "#^Call to an undefined method Gazelle\\\\Better\\\\ArtistCollage\\|Gazelle\\\\Better\\\\ArtistDescription\\|Gazelle\\\\Better\\\\ArtistDiscogs\\|Gazelle\\\\Better\\\\ArtistImage\\|Gazelle\\\\Better\\\\Artwork\\|Gazelle\\\\Better\\\\Bad\\|Gazelle\\\\Better\\\\Checksum\\|Gazelle\\\\Better\\\\SingleSeeded\\:\\:setUploader\\(\\)\\.$#"
			count: 1
			path: ../sections/better/better.php

		-
			message: "#^Function notify invoked with 2 parameters, 3 required\\.$#"
			count: 1
			path: ../sections/error/404.php

		-
			message: "#^Function notify invoked with 2 parameters, 3 required\\.$#"
			count: 1
			path: ../sections/error/413.php

		-
			message: "#^Function notify invoked with 2 parameters, 3 required\\.$#"
			count: 1
			path: ../sections/error/504.php

		-
			message: "#^Function notify\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../sections/error/index.php

		-
			message: "#^Function notify\\(\\) has parameter \\$Channel with no type specified\\.$#"
			count: 1
			path: ../sections/error/index.php

		-
			message: "#^Function notify\\(\\) has parameter \\$Message with no type specified\\.$#"
			count: 1
			path: ../sections/error/index.php

		-
			message: "#^Function notify\\(\\) has parameter \\$Viewer with no type specified\\.$#"
			count: 1
			path: ../sections/error/index.php

		-
			message: "#^Variable \\$Error might not be defined\\.$#"
			count: 1
			path: ../sections/error/index.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../sections/recovery/pair.php

		-
			message: "#^Variable \\$prev might not be defined\\.$#"
			count: 1
			path: ../sections/recovery/pair.php

		-
			message: "#^Variable \\$info might not be defined\\.$#"
			count: 1
			path: ../sections/recovery/save.php

		-
			message: "#^Variable \\$recovery might not be defined\\.$#"
			count: 4
			path: ../sections/recovery/save.php

		-
			message: "#^Function print_or_return\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../sections/requests/take_fill.php

		-
			message: "#^Function print_or_return\\(\\) has parameter \\$Error with no type specified\\.$#"
			count: 1
			path: ../sections/requests/take_fill.php

		-
			message: "#^Function print_or_return\\(\\) has parameter \\$JsonMsg with no type specified\\.$#"
			count: 1
			path: ../sections/requests/take_fill.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../sections/tools/development/clear_cache.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: ../sections/tools/development/clear_cache.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$arrays of function array_merge expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: ../sections/tools/development/clear_cache.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: ../sections/tools/managers/ajax_take_enable_request.php

		-
			message: "#^Function forumList\\(\\) has parameter \\$list with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../sections/tools/managers/forum_transitions_list.php

		-
			message: "#^Function type_list\\(\\) has parameter \\$Types with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../sections/tools/managers/referral_accounts.php

		-
			message: "#^Parameter \\#1 \\(array\\<int, string\\>\\|string\\) of echo cannot be converted to string\\.$#"
			count: 1
			path: ../sections/tools/development/referral_sandbox.php

		-
			message: "#^Variable \\$post might not be defined\\.$#"
			count: 1
			path: ../sections/tools/development/referral_sandbox.php

		-
			message: "#^Variable \\$url might not be defined\\.$#"
			count: 2
			path: ../sections/tools/development/referral_sandbox.php

		-
			message: "#^Function diff\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../sections/wiki/compare.php
