<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
    bootstrap="phpunit-autoload.php"
    cacheDirectory="../cache/phpunit"
>
  <coverage/>
  <testsuites>
    <testsuite name="unit">
      <directory>../tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">../app</directory>
      <directory suffix=".php">../classes</directory>
      <directory suffix=".php">../lib</directory>
      <directory suffix=".php">../public</directory>
      <directory suffix=".php">../sections</directory>
    </include>
    <exclude/>
  </source>
</phpunit>
