// 
// APOLLOSTAGE THEME 
// DEFINE THEME COLORS AND ICONS

  $soil-100: #0B0F0B;
  $soil-200: #111611;
  $soil-300: #171E17;
  $soil-400: #1D261E;
  $soil-500: #222E24;
  $soil-600: #28362A;
  $grass-100: #040E05;
  $grass-200: #071E0B;
  $grass-300: #0B2E11;
  $grass-400: #0F3E17;
  $grass-500: #134D1D;
  $grass-600: #175D23;
  $grass-700: #1B6D29;
  $grass-800: #1F7D2F;
  $grass-900: #228C35;
  $grass-1000: #269C3B;
  $grass-1100: #2AAC41;
  $grass-1200: #2EBC47;
  $grass-1300: #32CB4D;
  $grass-1400: #40D05A;
  $grass-1500: #50D467;
  $grass-1600: #60D875;
  $grass-1700: #70DC83;
  $grass-1800: #80E090;
  $grass-1900: #8FE49E;
  $grass-2000: #9FE7AC;
  $grass-2100: #AFEBB9;
  $grass-2200: #BFEFC7;
  $grass-2300: #CEF3D5;
  $grass-2400: #DEF7E2;
  $grass-2500: #EEFBF0;


// define theme colors

$color-accent-border-blockquote: $grass-500;
$color-accent-border-box: $soil-600;
$color-accent-border-input-active: $grass-800;
$color-accent-border-input: $grass-200;
$color-accent-border-tooltipster: $grass-800;
$color-accent-border-popup: $grass-800;

$color-accent-cats_applications: silver;
$color-accent-cats_audiobooks: cornflowerblue;
$color-accent-cats_comedy: deepskyblue;
$color-accent-cats_comics: gold;
$color-accent-cats_ebooks: chocolate;
$color-accent-cats_elearningvideos: mediumpurple;
$color-accent-cats_music: darkslategray;
$color-accent-forum-inline-last-read: #fed100;
$color-accent-forum-unread: #fed100;
$color-background-base: $soil-100;
$color-background-blockquote: $soil-300;
$color-background-box: $soil-500;
$color-background-form: $soil-500;   // also boxes on frontpage
$color-mobilemenu-closed: $grass-700; // rules, also mobile menu header
$color-background-input: $soil-200;   // also table-even-rows
$color-mobilemenu-shadow: $grass-500;
$color-background-poll: $grass-400;
$color-background-popup: $grass-100;
$color-accent-selection-background: $grass-1400;
$color-background-table: $grass-300;  // primarily table-odd-rows
$color-background-table-discog: $grass-900;
$color-background-table-row-th: $grass-1100;
$color-background-table-row-odd: $grass-400;
$color-background-table-keyrows: $grass-700;
$color-background-table-secondary: $grass-500;  // also form field in focus
$color-background-table-torrents-group: $soil-600;
$color-background-torrent: $grass-400;

$color-text-anchor-hover: $grass-1400;
$color-text-anchor: $grass-1700;
$color-text-base: $grass-2400;
$color-text-bold: $grass-2500;
$color-text-button: $grass-100;
$color-text-footer: #dadada;
$color-text-heading-anchor: $grass-1100;
$color-text-heading: $grass-2200;
$color-text-important-alt: #099909;
$color-text-important: #b71010;
$color-text-input-active: $grass-1900;
$color-text-input: $grass-2400; // for pre-populated inputs
$color-text-linkbox: $grass-2400; 
$color-text-mono: $grass-2200;
$color-text-notification-words: $grass-200;
$color-text-popup-anchor-hover: $grass-2400;
$color-text-popup-anchor: $grass-1800;
$color-text-popup: $grass-2100;
$color-text-ratio-greenzone: #099909;
$color-text-ratio-redzone: #b71010;
$color-text-ratio-yellowzone: #d8d82d;
$color-accent-selection-text: $grass-2400; // usually #fff or $color-text-bold
$color-text-span-blue: hsl(235, 90%, 85%);   
$color-text-span-green: hsl(145, 90%, 70%);   
$color-text-table-discog-titles: $grass-1400;
$color-text-tooltipster: $grass-600; 
$color-text-tooltipster-anchor: $grass-1500; 
$color-text-tooltipster-anchor-hover: $grass-2200; 

$color-obj-button-base-1: #b8b8b8;
$color-obj-button-base-2: $soil-600;
$color-menu-1:  $grass-400; // unused (could be home)
$color-menu-2:  $grass-500; // torrents
$color-menu-3:  $grass-600; // collages
$color-menu-5:  $grass-700; // requests
$color-menu-5:  $grass-800; // forums
$color-menu-6:  $grass-900; // irc
$color-menu-7:  $grass-1000; // top10
$color-menu-8:  $grass-1100; // rules
$color-menu-9:  $grass-1200; // wiki
$color-menu-userinfo-hover:  $grass-1000; // VV pulldown menu ~ open
$color-menu-userinfo:  $grass-800; // VV pulldown menu ~ closed
$color-menu-username-hover:  $grass-1100; // username menu ~ open
$color-menu-username:  $grass-900; // username menu ~ closed
$color-mobilemenu-userinfo-1: $grass-400; // mobile pulldown menu gradient 1
$color-mobilemenu-userinfo-2: $grass-800; // mobile pulldown menu gradient 2
$color-background-notification-gradient-1: $grass-500; // usually works well with 'third-child'
$color-background-notification-gradient-2: $grass-1000; // usually works well with 'seventh-child'
$color-background-notification: #000;

$color-obj-noty-buttons-hover: $grass-900;
$color-obj-poll: $grass-1300; // poll active part of bargraph
$color-obj-tag_bubble-background: $grass-400; // These can equal "ninth" and "second"
$color-obj-tag_bubble-foreground: $grass-900; // These can equal "ninth" and "second"

// Forum icons

$icon-message-unread: url("https://wally-crunk.github.io/svg/gazelle/document-round.svg");
$icon-message-unread-locked: url("https://wally-crunk.github.io/svg/gazelle/lock-round.svg");
$icon-message-unread-sticky: url("https://wally-crunk.github.io/svg/gazelle/pin-round.svg");
$icon-message-unread-locked-sticky: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock-round.svg");

$icon-message-read: url("https://wally-crunk.github.io/svg/gazelle/document.svg");
$icon-message-read-locked: url("https://wally-crunk.github.io/svg/gazelle/lock.svg");
$icon-message-read-sticky: url("https://wally-crunk.github.io/svg/gazelle/pin.svg");
$icon-message-read-locked-sticky: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock.svg");

// Header Pulldown Menu (hamburger/chevron icon)

$icon-menu-open-state: url("https://wally-crunk.github.io/svg/gazelle/menu.svg");
$icon-menu-closed-state: url("https://wally-crunk.github.io/svg/gazelle/chevrons-down.svg");
$icon-menu-pulldown-mobile: url("https://wally-crunk.github.io/svg/gazelle/chevrons-down.svg");

// Used in Header

$logo-site-lockup: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-lockup.svg");
$logo-site-square: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-loop.svg");

// Used on Mobile
$icon-number-snatches: url("https://wally-crunk.github.io/svg/gazelle/arrow-loop.svg");
$icon-number-seeders: url("https://wally-crunk.github.io/svg/gazelle/arrow-up-round.svg");
$icon-number-leechers: url("https://wally-crunk.github.io/svg/gazelle/arrow-down-round.svg");
