// ASSIGNMENTS IN MIGRATION



// WORDBANK

* 
{
	$color-background-blockquote;
	$blockquote-border-color;
	$box-background-color;
	$button-base-color-1, 
	$color.accent.border.input;
	$color.accent.border.input.active;
	$color.accent.tag-bubble.background !important;
	$color.accent.tag-bubble.background !important; 
	$color.accent.tag-bubble.background;
	$color.accent.tag-bubble.background; 
	$color.accent.tag-bubble.background;*/
	$color.accent.tag-bubble.foreground !important;
	$color.accent.tag-bubble.foreground !important; 
	$color.accent.tag-bubble.foreground !important; 
	$color.accent.tag-bubble.foreground;
	$color.accent.tag-bubble.foreground; 
	$color.background.base
	$color.background.form;
	$color.background.gradient.1, 
	$color.background.gradient.1, 0 160px 160px #080808;
	$color.background.gradient.2) !important;
	$color.background.header;
	$color.background.input;
	$color.background.menu.2;
	$color.background.menu.3;
	$color.background.menu.4;
	$color.background.menu.5;
	$color.background.menu.6;
	$color.background.menu.7;
	$color.background.menu.9;
	$color.background.menu.userinfo-minor !important;
	$color.background.menu.userinfo-minor;
	$color.background.menu.userinfo-minor.hover;
	$color.background.menu.userinfo.1 );
	$color.background.menu.userinfo.1,
	$color.background.menu.userinfo.2 );
	$color.background.menu.userinfo.2,
	$color.background.menu.username;
	$color.background.menu.username.hover;
	$color.background.notification !important;
	$color.background.patch_inline;
	$color.background.poll;
	$color.background.selection
	$color.background.table;
	$color.background.table.secondary
	$color.background.torrent;
	$color.nav.button.base.2
	$color.nav.button.base.2, 
	$color.text.anchor 
	$color.text.anchor.hover
	$color.text.background
	$color.text.bold
	$color.text.button;
	$color.text.footer;
	$color.text.input;
	$color.text.mono;
	$color.text.ratio.greenzone;
	$color.text.ratio.redzone !important;
	$color.text.ratio.redzone;
	$color.text.ratio.yellowzone;
	$color.text.selection
	$color.text.span.blue !important;
	$color.text.span.green !important;
	$direct-offset-accent-color;
	$direct-primary-accent-color
	$direct-primary-accent-color;
	background-color: 
	background-color: 
	background-color: 
	background-color: 
	background-color: none;
	background-color: rgb(0 0 0 / 0%);
	background-color: rgb(0 0 0 / 32%);
	background-color: rgb(255 255 255 / 20%);
	background-color: transparent;
	background-color: transparent;
	background: 
	background: 
	background: 
	background: color-mix(in srgb, lightyellow, transparent 20%);
	background: linear-gradient(
	border-bottom: groove 
	border-top: 2px solid 
	border: 
	border: 0 solid 
	border: 1px dashed 
	border: 1px solid 
	border: 2px solid 
	border: 2px solid 
	border: thick solid 
	border: thin solid 
	box-shadow: 0px 50px 70px 
	color: 
	color: 
	color: 
	color: 
	color: #12a1e3;
	color: #26282e;
	color: black;
	color: darkslategray
	color: inherit !important;
	color: red;
	color: transparent;
	color: white;
	fill: 
	span[style*='color: blue'] {
	span[style*='color: green'] {
	span[style*='color: red'] {
}