// TODO: FIX_STATIC_SERVER - entire file

body {
    background-color: #262626;
    background: url(/static/styles/minimal/images/minimal_mod_header.png) repeat-x, url(/static/styles/minimal/images/minimal_mod_pattern.png) fixed 50% 0 repeat;
    color: #F1F1F1;
    font-family: Helvetica,Segoe UI,Arial,sans-serif;
    font-size: 11px;
    margin: 0;
}

h1, h2, h3, h4 {
    margin-top: 0;
    padding: 0;
}

a {
    color: #5AF;
    text-decoration: none;

    &:visited, &:active {
        color: #5AF;
        text-decoration: none;
    }

    &:hover {
        color: #49D;
        text-decoration: underline;
    }

    img {
        position: relative;
        top: 1px;
        border-style: none;
    }
}

input, select, textarea {
    background: #262626;
    border: 1px solid #9C9C9C;
    color: #F1F1F1;
    font-family: Arial,sans-serif;
    font-size: 11px;
    padding: 3px;
}

input:focus, textarea:focus {
    border: 1px solid #CCC;
}

blockquote {
    background: transparent url(/static/styles/minimal/images/blockquote.png) repeat;
    color: #f1f1f1 !important;
    border: 1px #000 dotted;
    margin: 10px;
    padding: 5px;
}

input {
    &[type=submit]:focus, &[type=button]:focus {
        background: #333;
    }

    &[type=submit]:active, &[type=button]:active {
        background: #5AF;
    }
}

select {
    padding: 1px;
}

textarea {
    &#quickpost {
        margin: 0;
        padding: 0;
    }

    &.wbbarea {
        margin: 3px auto 6px !important;
        width: 100%;
    }
}

#logo {
    position: absolute;
    left: 580px;
    top: 14px;
}

.box, #content table tr td {
    background: #373737;
    margin-bottom: 15px;
}

.sidebar {
    .box {
        position: relative;
        width: 250px;
    }

    img {
        max-width: 250px;
    }
}

.nobr {
    font-weight: 400;
    white-space: nowrap;
}

.rowa td {
    background-color: #303030 !important;
}

.rowb td {
    background-color: #232323;
}

.min_padding {
    padding: 0;
}

.head, .colhead, #user table tr td.center strong {
    background: #454545 !important;
    border: 1px solid #757575 !important;
    padding: 5px 7px;
}

.label {
    width: 15%;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
}

#header {
    height: 102px;
    overflow: visible;
    position: relative;
    z-index: 4;
}

#menu {
    overflow: hidden;
    margin: 0 0 0 -5px;
    padding: 0 249px 7px 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            text-align: center;
            margin: 2px 6px 0;

            a {
                color: #FFF;
                display: block;
                font-weight: 700;
                text-decoration: none;
                padding: 12px 4px 3px;
                font-size: 11px;
            }

            &:hover {
                background: #353535;

                a {
                    color: #FFF;
                }
            }
        }
    }
}

#index #nav_index a, #torrents #nav_torrents a, #collage #nav_collages a, #requests #nav_requests a, #forums #nav_forums a, #top10 #nav_top10 a, #rules #nav_rules a, #kb #nav_wiki a, #wiki #nav_wiki a, #staff #nav_staff a {
    background: #5af;
    color: #000;
}

#forums {
    min-height: 28px;
    min-width: 28px;
}

#userinfo_username li:first-child, #userinfo_major li:first-child, #userinfo_minor li:first-child, #userinfo_username li:first-child:hover, #userinfo_major li:first-child:hover, #userinfo_minor li:first-child:hover {
    background-image: url(/static/styles/minimal/images/minimal_mod_alt_sprite.png);
}

#userinfo_username li:first-child a, #userinfo_minor li:first-child a, #userinfo_major li:first-child a {
    background-image: url(/static/styles/minimal/images/minimal_mod_alt_sprite.png);

    &:hover {
        background-image: url(/static/styles/minimal/images/minimal_mod_alt_sprite.png);
    }
}

.show_torrents, .hide_torrents {
    background-image: url(/static/styles/minimal/images/minimal_mod_alt_sprite.png);
}

#userinfo {
    z-index: 3;

    * {
        text-transform: lowercase;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 11px;
    }

    ul {
        list-style: none;
        position: absolute;
        z-index: 2;
        margin: 12px 0 0;
        padding: 0;

        li {
            z-index: 2;

            a {
                position: relative;
                z-index: 2;
            }
        }
    }
}

#userinfo_username li:first-child, #userinfo_major li:first-child, #userinfo_minor li:first-child {
    background-position: 100% -177px;
    background-repeat: no-repeat;
    height: 23px;
    padding: 0 2px 0 0;
}

#userinfo_username li:first-child:hover, #userinfo_major li:first-child:hover, #userinfo_minor li:first-child:hover {
    background-position: 100% -527px;
}

#userinfo_username li:first-child a, #userinfo_major li:first-child a, #userinfo_minor li:first-child a {
    background-position: top left;
    background-repeat: no-repeat;
    height: 19px;
    padding: 4px 20px 0 22px;
}

#userinfo_username:hover, #userinfo_major:hover, #userinfo_minor:hover {
    background-color: #303030;
    border-bottom: 1px solid white;
}

#userinfo_username li a, #userinfo_major li a, #userinfo_minor li a {
    display: block;
    padding: 3px 3px 3px 19px;
}

#userinfo_username li:hover, #userinfo_major li:hover, #userinfo_minor li:hover {
    background-color: #5E5E5E;
}

#userinfo_major li, #userinfo_minor li {
    display: none;
    margin-bottom: 2px;
    padding-left: 2px;
}

#userinfo_username {
    li {
        &:first-child a {
            background-position: 0 -819px;
            text-transform: none;

            &:hover {
                background-position: 0 -580px;
            }
        }

        margin-bottom: 2px;
        padding-left: 2px;
    }

    min-width: 58px;
    right: 182px;
}

#userinfo_minor {
    li:first-child a {
        background-position: 0 -368px;

        &:hover {
            background-position: 0 -30px;
        }
    }

    right: 82px;
    width: 95px;
}

#userinfo_major {
    li:first-child a {
        background-position: 0 -421px;

        &:hover {
            background-position: 0 -474px;
        }
    }

    right: 0;
    width: 77px;
}

#userinfo_stats {
    position: fixed !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 1 !important;
    height: 28px;
    width: 100%;
    background-color: #222;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase !important;
    border-top: 1px solid #111;
    opacity: .8;

    li {
        text-transform: uppercase !important;
        float: right;
        padding: 0;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 20px;
        position: relative;
        z-index: 1 !important;
    }

    .stat {
        color: #757575;
    }
}

#stats_required .stat {
    color: #fa5;
}

#userinfo_stats a {
    color: #757575;
    text-transform: uppercase !important;
}

#stats_required a {
    color: #fa5;
    text-transform: uppercase !important;
}

#userinfo_username > li:first-child + li {
    > a {
        background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -322px;
    }

    + li > a {
        background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -679px;
    }
}

#userinfo_minor > li:first-child + li {
    > a {
        background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -129px;
    }

    + li {
        > a {
            background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -918px;
        }

        + li {
            > a {
                background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -871px;
            }

            + li {
                > a {
                    background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -83px;
                }

                + li {
                    > a {
                        background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -276px;
                    }

                    + li {
                        > a {
                            background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -958px;
                        }

                        + li > a {
                            background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -633px;
                        }
                    }
                }
            }
        }
    }
}

#userinfo_major > li:first-child + li {
    > a {
        background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -230px;
    }

    + li {
        > a {
            background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -755px;
        }

        + li > a {
            background: transparent no-repeat url(/static/styles/minimal/images/minimal_mod_alt_sprite.png) 0 -725px;
        }
    }
}

#alerts {
    position: fixed;
    bottom: 8px;
    left: 10px;
    color: #FFF;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999;
    padding-left: 10px;
    opacity: .95;
}

.alertbar {
    float: left;

    a {
        color: #f60021;
        padding-right: 10px;
    }
}

#searchbars {
    margin: 10px 0 0;
    width: 1000px;

    ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            list-style: none;
            position: relative;
            padding-right: 15px;

            &:last-of-type {
                margin-right: 0px !important;
            }
        }
    }

    form {
        display: inline;
    }

    input {
        background-color: #000;
        border: 1px solid #333;
        color: #777;
        width: 136px;
        margin: 0;
        padding: 5px;
        outline: none;
    }

    ul li ul {
        background: #262626 url(/static/styles/minimal/images/bg.png) repeat-x 0 -3px;
        border: 1px solid #757575;
        display: block;
        left: 0;
        margin-top: 12px;
        overflow: hidden;
        position: absolute;
        top: 1em;
        white-space: nowrap;
        z-index: 1000;

        li {
            display: block;
            margin: 0;
            padding: 3px;
            font-weight: bold;
            width: 142px;

            &.highlight {
                background-position: 0 -771px;
                background-repeat: repeat-x;
                color: #222;
                background-color: #5AF;
                font-weight: bold;
            }
        }
    }
}

#content .box, #torrents #content .box:last-child, #forums #content .box:last-child, #inbox #content .box:last-child, #artist #content div.center, #collage #content .sidebar div[class="box pad"] {
    border: 1px #757575 dotted;
}

#inbox #content .pad {
    border: 1px #757575 dotted !important;
}

#user #content .pad {
    border-top: 1px #757575 solid !important;
}

#release_list td, #vanityhouse td {
    border-top: 0 !important;
}

#user #content {
    .main_column .box .pad, .box #requests .colhead_dark td {
        border-top: 0 !important;
    }
}

#media_list td {
    border-bottom: 0 !important;
}

.forum_post {
    tr:last-child td {
        border-bottom: 0 !important;
    }

    &:last-of-type tr td {
        border-bottom: 1px #757575 solid !important;
    }
}

#torrents #content blockquote {
    border: 1px #000 dotted;
}

#artist #content div.center {
    padding: 4px;
}

#requests #content .box_albumart img, #torrents #content .box_albumart img {
    max-width: 100% !important;
    width: 100% !important;
}

table.collage td {
    background-color: transparent !important;
}

#wiki #content .sidebar .box, #collage #content .sidebar .box {
    width: auto !important;
}

#content {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;

    h2:first-child {
        border-bottom: 1px solid #353535;
    }

    .box h2 {
        background: none;
        border-bottom: 0;
        position: static;
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        padding: 0;

        td {
            padding: 5px;
        }

        .colhead td {
            background-color: #454545;
            font-weight: 700;
        }

        .colhead_dark td {
            background-color: #555;
        }

        .colhead td, .colhead_dark td {
            border: 1px solid #757575;
            color: #FFF;
        }

        .colhead a, .colhead_dark a {
            color: #FFF;
            font-weight: 700;
        }

        td {
            &.label {
                border-right: 1px solid #757575;
            }

            &.right {
                text-align: right;
            }
        }
    }
}

#footer {
    border-top: 1px solid #353535;
    color: #757575;
    padding: 40px 0;

    p {
        float: left;
        margin-right: 2%;
        width: 30%;
    }
}

#wiki {
    .pad ul:first-child {
        padding-left: 5px;
    }

    .linkbox {
        background-color: transparent;
        margin-bottom: 0;
    }
}

#friends {
    table {
        width: 60%;
        margin: 0 auto;
    }

    textarea {
        height: 42px;
        width: 270px !important;
        margin: 0;
    }

    .left {
        text-align: right;
        width: 50%;
    }
}

#inbox {
    .box .body {
        border: 1px solid #353535;
        padding: 10px;
    }

    form textarea {
        margin: 0 0 10px;
    }

    table a {
        color: #AAA;
    }

    .unreadpm a {
        color: #5AF;
        font-weight: 700;
    }
}

#requests #content div.center {
    background: #2A2A2A;
}

#top10 {
    #content div.center {
        background: #2A2A2A;
    }

    td.center {
        width: 30px;
    }
}

#staff .thin .box {
    padding-top: 3px !important;
}

#upload #post {
    font-size: 175%;
    margin-top: 10px;
}

table tr.colhead_dark td {
    background: #555;
    border: 0;
}

#user {
    #styleurl {
        width: 40% !important;
    }

    table textarea {
        width: 98% !important;
    }
}

#forums {
    h3 {
        margin: 15px 0;

        &:first-child {
            margin: 0 0 15px;
        }
    }

    table.border .cat_list {
        width: 80%;

        td {
            border: 0 !important;
            width: 20%;
            padding: 0 !important;
        }
    }
}

.forum_unread .colhead_dark {
    background-color: #e3f1f9 !important;
}

#forums table.forum_unread tr.colhead_dark td {
    background: #2B4A68;
}

.last_read {
    background: url(/static/styles/minimal/images/minimal_mod_alt_new.png) no-repeat center center;
    height: 12px;
    width: 12px;
    margin-left: 10px;

    a {
        border: none;
        display: block;
        height: 100%;
        width: 100%;

        &:hover {
            border: none;
        }
    }
}

#forums {
    #content {
        .thin td {
            &.read {
                background: #373737 url(/static/styles/minimal/images/minimal_mod_alt_balloon.png) no-repeat 50%;
                height: 14px;
                width: 14px;
            }

            &.unread {
                background: #373737 url(/static/styles/minimal/images/minimal_mod_alt_balloon_unread.png) no-repeat 50%;
                height: 14px;
                width: 14px;
            }

            &.read_sticky {
                background: #373737 url(/static/styles/minimal/images/minimal_mod_alt_sticky.png) no-repeat 50%;
                height: 14px;
                width: 14px;
            }

            &.unread_sticky {
                background: #373737 url(/static/styles/minimal/images/minimal_mod_alt_sticky_unread.png) no-repeat 50%;
                height: 14px;
                width: 14px;
            }

            &.read_locked {
                background: #373737 url(/static/styles/minimal/images/minimal_mod_alt_lock.png) no-repeat 50%;
                height: 14px;
                width: 14px;
            }

            &.unread_locked {
                background: #373737 url(/static/styles/minimal/images/minimal_mod_alt_lock_unread.png) no-repeat 50%;
                height: 14px;
                width: 14px;
            }

            &.read_locked_sticky, &.unread_locked_sticky {
                background: #373737 url(/static/styles/minimal/images/minimal_mod_alt_lock-sticky-unread.png) no-repeat 50%;
                height: 14px;
                width: 14px;
            }
        }

        a {
            color: #F1F1F1;
        }
    }

    .breadcrumbs {
        padding-top: 10px;
    }
}

form table.border {
    border-bottom: 1px #757575 solid;
}

#quickpostform {
    margin: 5px -22px -6px -18px;
}

div.thin form div.submit input.submit {
    margin-left: 0;
    margin-top: 8px;
}

forum_post box vertical_margin {
    background-color: #222;
    border: 1px solid #666;
    overflow: scroll;
    width: 920px;
    padding: 4px;
}

.forum_post pre {
    max-width: 755px;
    max-height: 500px;
    overflow: auto;
}

#threadpoll {
    padding-bottom: 32px;
}

#forums {
    .rowb .min_padding img, .rowa .min_padding img {
        position: relative;
        top: 3px;
    }

    .forum_post tr {
        border-left: 1px solid #757575;
        border-right: 1px solid #757575;
    }
}

#userhistory .forum_post tr, #collage .forum_post tr, #torrents .forum_post tr {
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
}

#forums .forum_post, #userhistory .forum_post, #collage .forum_post, #torrents .forum_post {
    border: 0;
    margin: 0;
}

.avatar {
    background-color: #161616 !important;
    border: 0 !important;
    width: 150px;
    padding: 1px 1px 1px 0;
}

#forums .forum_post .body, #userhistory .forum_post .body, #collage .forum_post .body, #torrents .forum_post .body {
    border-left: 0;
    padding: 0;
}

#forums .forum_post td, #userhistory .forum_post td, #collage .forum_post td, #torrents .forum_post td {
    border-left: 0;
    border-right: 0;
}

#forums .forum_post .body div, #collage .forum_post .body div, #torrents .forum_post .body div, #requests .forum_post .body div {
    padding: 10px 15px;
}

#userhistory .forum_post .body {
    padding: 20px;
}

#forums .forum_post .body div div, #collage .forum_post .body div div, #torrents .forum_post .body div div {
    background: none;
    padding: 0;
}

#forums {
    .forum_post {
        ul {
            margin: 5px 0 0;
            padding: 0;
        }

        li {
            margin: 0 0 0 20px;
            padding: 0;
        }
    }

    #content {
        .thin .box form .box input[type=Text] {
            font-size: 20px;
            width: 500px;
        }

        form .box {
            background-color: #404040;
            text-align: left;
            width: 510px;
            margin: 0 auto;
            padding: 1ex;
        }
    }
}

#torrents .filter_torrents {
    margin: 0 auto;

    .submit span {
        direction: ltr;
    }

    .cat_list {
        .label {
            border-right: 0;
        }

        label {
            position: relative;
            top: -3px;
        }

        margin: 5px 0;
        padding: 5px 0;
    }

    table {
        background-color: transparent;
    }

    h3 {
        margin-top: 0;
    }

    #taglist td {
        padding: 2px 5px;
    }

    .smallest {
        width: 80px;
    }

    table td.label {
        text-align: right;
        padding: 0 5px 0 0;
    }

    a#swaptags {
        display: block;
        font-weight: 700;
        text-align: center;
        padding: 5px 0;
    }

    .submit {
        direction: rtl;
        font-weight: 700;
        text-align: right;
        padding: 5px 0 0;
    }
}

.linkbox {
    margin-top: 8px;
    text-align: center;
    padding: 0 0 8px;

    a {
        padding: 0 3px;
    }
}

.show_torrents_link {
    border: none;
    display: block;
    height: 28px;
    width: 28px;
}

.show_torrents {
    background-position: 0 -1093px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.hide_torrents {
    background-position: 0 -1033px;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

#taglist a, .tags a {
    border-bottom: 1px #888 dotted;
    color: #888;
    font-weight: 400;
    text-decoration: none;
}

#torrent_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0;

    td {
        margin: 0;
        padding: 3px;
    }
}

.torrent_table {
    .pad td {
        border: 1px solid #757575 !important;
        padding: 20px !important;

        td {
            background: none;
            border-left: 0 !important;
            border-right: 0 !important;
            padding: 5px !important;
        }
    }

    tr.group_torrent td span {
        padding-left: 18px;
    }
}

#torrent_table tr.group_torrent td span {
    padding-left: 18px;
}

.torrent_table tr.group_torrent a, #torrent_table tr.group_torrent a {
    color: #999;
    font-weight: 400;
}

#torrents #content .center .box form div input[type=text], #wiki #content .center .box form div input[type=text], #artist #content .center .box form div input[type=text] {
    margin-bottom: 10px;
    width: 500px;
}

#torrents #content .center .box form div textarea, #wiki #content .center .box form div textarea, #upload textarea#album_desc {
    height: 200px;
}

#forums {
    #content .thin .box form .box textarea, #quickpost {
        height: 200px;
    }
}

.main_column {
    width: 700px;
}

.sidebar {
    float: right;
    width: 250px;
}

.main_column table {
    margin: 0 0 20px;
}

.box table {
    background-color: #FFF;
    margin: 0;
}

#discog_table, #collage_table {
    margin-top: 1px;
}

.sidebar {
    form br, .pad br {
        line-height: 1em;
    }

    .box .stats {
        border-bottom: 1px #757575 solid;
        border-left: 1px #757575 solid;
        border-right: 1px #757575 solid;
        list-style: none;
        margin: 0;
        padding: 10px;
    }

    ol {
        list-style-position: inside;
        margin: 0;
        padding: 0 !important;
    }

    ul {
        list-style-type: none;
        margin: 0;
    }

    .box li {
        margin: 0 0 2px;
    }

    form textarea {
        width: 220px !important;
    }

    .box .pad div {
        padding: 0 !important;
    }

    form {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.main_column .torrent_table {
    .pad {
        padding: 15px !important;
    }

    .torrent {
        background-color: #f6f6f6;
    }

    .pad blockquote {
        border: 1px dotted #e6e6e6;
        margin: 0 0 5px;
        padding: 5px;
    }
}

.poll {
    list-style: none;
    padding: 10px;
    margin: 5px;

    li {
        clear: both;
    }

    .graph {
        padding: 0 0 15px 0;

        span {
            display: block;
            height: 19px;
            float: left;
        }

        .center_poll {
            background: url(/static/styles/minimal/images/poll_middle.png) top left repeat-x;
        }
    }
}

.r00 {
    color: red;
}

.r03 {
    color: #FF2600;
}

.r04 {
    color: #FF4C00;
}

.r07 {
    color: #FF7100;
}

.r08 {
    color: #FF9700;
}

.r09 {
    color: #FA0;
}

.r10 {
    color: #74C42E;
}

.size1 {
    font-size: .75em;
}

.size2 {
    font-size: 1em;
}

.size3 {
    font-size: 1.25em;
}

.size4 {
    font-size: 1.5em;
}

.size5 {
    font-size: 1.75em;
}

.size6 {
    font-size: 2em;
}

.size7 {
    font-size: 2.25em;
}

.size8 {
    font-size: 2.5em;
}

.size9 {
    font-size: 2.75em;
}

.size10 {
    font-size: 3em;
}

.curtain {
    background-color: #000;
    filter: alpha(opacity = 80);
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.lightbox {
    height: 90%;
    left: 5%;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 5%;
    width: 90%;
    z-index: 1002;
    padding: 0;

    table {
        background-color: #e6e6e6;
        border: 5px solid #f6f6f6;
        left: 50%;
        margin-left: -300px !important;
        position: absolute;
        top: 50%;
        padding: 5px;
    }

    form {
        color: #aaa;
    }

    table * {
        text-align: left;
    }
}

.save_message {
    background-position: 0 -771px;
    background-repeat: repeat-x;
    color: #007dc6;
    display: table;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.nobullet {
    list-style: none;
    margin: 0;
    padding: 10px;
}

#menu ul:after, ul#userinfo_minor:after, div.sidebar:after, #content:after, #footer:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

* html {
    #menu ul, ul#userinfo_minor, div.sidebar, #content, #footer {
        height: 1%;
    }
}

#collage_table td {
    border: 0 !important;
    height: 140px !important;
    width: 140px !important;
    padding: 0 !important;

    img {
        float: left;
        height: 140px !important;
        width: 140px !important;

        &:hover {
            float: left;
            height: 300px !important;
            width: 300px !important;
            z-index: 100;
            margin: -80px;
        }
    }
}

#user .main_column td img {
    height: 130px !important;
    width: 130px !important;

    &:hover {
        height: 280px !important;
        width: 280px !important;
        z-index: 100;
        margin: -75px;
    }
}

#collage_table {
    width: 645px;
}

#requests .tags {
    color: #656565;

    a {
        color: #8c8c8c;

        &:hover {
            color: #575757;
        }
    }
}

h3 {
    margin: 10px 0;
}

#user {
    #userform {
        padding: 20px 0 0;
    }

    .linkbox {
        border-bottom: 0;
    }
}

#artist .linkbox, #collage .linkbox, #forums .linkbox, #bookmarks .linkbox, #torrents .linkbox {
    border-bottom: 0;
}

.cats_music {
    background: url(/static/styles/minimal/images/icons/minimal_mod_alt_music.png) top left no-repeat;
    height: 28px;
    width: 28px;
}

.cats_applications {
    background: url(/static/styles/minimal/images/icons/minimal_mod_alt_apps.png) top left no-repeat;
    height: 28px;
    width: 28px;
}

.cats_ebooks {
    background: url(/static/styles/minimal/images/icons/minimal_mod_alt_ebook.png) top left no-repeat;
    height: 28px;
    width: 28px;
}

.cats_audiobooks {
    background: url(/static/styles/minimal/images/icons/minimal_mod_alt_audiobook.png) top left no-repeat;
    height: 28px;
    width: 28px;
}

.cats_elearningvideos {
    background: url(/static/styles/minimal/images/icons/minimal_mod_alt_learning.png) top left no-repeat;
    height: 28px;
    width: 28px;
}

.cats_comedy {
    background: url(/static/styles/minimal/images/icons/minimal_mod_alt_comedy.png) top left no-repeat;
    height: 28px;
    width: 28px;
}

.cats_comics {
    background: url(/static/styles/minimal/images/icons/minimal_mod_alt_shield.png) top left no-repeat;
    height: 28px;
    width: 28px;
}

p, #rules #content li {
    margin: 0 0 5px;
}

td p, #content table td h4, .sidebar form input {
    margin: 0;
}

input {
    &#file, &[type=file] {
        color: #fff;
    }
}

#userinfo {
    color: #fff;

    a {
        color: #fff;
    }
}

#logchecker input[type=file] {
    color: #fff;
}

.pad, .main_column .body, .sidebar .box .body {
    padding: 10px;
}

.hidden, .hide, #userinfo_username .brackets, #friends br, #footer br {
    display: none;
}

#menu *, #userinfo_stats *, #searchbars * {
    text-transform: none;
}

#userinfo_major:hover li, #userinfo_minor:hover li, #userinfo_major li:first-child, #userinfo_minor li:first-child, #userinfo_username:hover .brackets, #user table tr td.center strong, div.sidebar, #content, #footer {
    display: block;
}

#userinfo_major li:last-child, #userinfo_minor li:last-child, #userinfo_username li:last-child, #requests .forum_post {
    margin-bottom: 0;
}

#userinfo_major .brackets strong, .group td.nobr {
    font-weight: 400;
}

table tr td, #user table tr td, div.filter_torrents div.box {
    border: 1px #757575 solid;
}

#user #content .box, #inbox #content .box, #forums #content .box, #index #content .box, #torrents #content .box, #artist #content .box, #collage #content .sidebar .box, #requests .forum_post .body {
    border: 0;
}

#torrents .filter_torrents {
    td, #taglist {
        border: 0;
    }
}

#taglist td, #torrent_table a img {
    border: 0;
}

#torrents #content .sidebar .box, #artist #content .sidebar .box, #requests #content .sidebar .box, #similar_artist_map, .linkbox, .main_column .group td {
    border: 0 !important;
}

table.recent tr, #artist #content .box .body, #user #content .pad, #index #content .pad, #artist #content .sidebar .box div:last-child {
    border-bottom: 1px #757575 solid;
    border-left: 1px #757575 solid;
    border-right: 1px #757575 solid;
}

#torrents #content {
    .box .body, .pad {
        border-bottom: 1px #757575 solid;
        border-left: 1px #757575 solid;
        border-right: 1px #757575 solid;
    }
}

#requests #content .box_albumart p, #torrents #content .box_albumart p, #inbox #content .box .body, #artist #content .sidebar .box:last-child ul, #collage #content .box .pad, #requests table tr.rowb, #forums #content #threadpoll {
    border-bottom: 1px #757575 solid;
    border-left: 1px #757575 solid;
    border-right: 1px #757575 solid;
}

#artist #content table.torrent_table tr[class~=discog], #collage #content table.torrent_table tr[class~=discog], table.border tr {
    border-left: 1px #757575 solid;
    border-right: 1px #757575 solid;
}

#disclaimer_container, #torrents #content .center .box form div, #wiki #content .center .box form div, #artist #content .center .box form div {
    text-align: left !important;
}

#wiki .pad ul, #discog_table div.tags {
    padding-left: 15px;
}

#messageform input, #quickreplybuttons {
    margin-top: 5px;
}

#log .center, #requests table.border {
    margin-bottom: 8px;
}

#forums #content a:hover, #taglist a:hover, .tags a:hover, .torrent_table tr.group_torrent a:hover, #torrent_table tr.group_torrent a:hover {
    color: #007dc6;
}

#forums #content {
    .forum_post a, .linkbox a, h2 a, .forum_post .colhead_dark a, #quickpostform a, .forum_post a:hover, .linkbox a:hover, h2 a:hover, .forum_post .colhead_dark a:hover, #quickpostform a {
        color: #5AF;
    }
}

#comments .avatar, #torrents .filter_torrents .inputtext {
    width: 150px;
}

#userhistory .forum_post tr.colhead_dark, #discog_table .center {
    background-image: none;
}

.torrent a, .group, #torrent_table tr.colhead td, .lightbox .colhead span {
    font-weight: 700;
}

#torrent_table .group_torrent td, .torrent_table .group_torrent td {
    background-color: #333;
}

.r01, .r02 {
    color: #FF1300;
}

.r05, .r06 {
    color: #FF5E00;
}

.r20, .r50, .r99 {
    color: #418B00;
}

ul.collage_images {
    margin: 0 2px 3px !important;

    img {
        height: 139px !important;
        width: 139px !important;
    }

    li {
        a {
            height: 139px !important;

            &:hover {
                position: relative;
                overflow: visible !important;

                img {
                    position: absolute;
                    margin: -80px;
                    z-index: 4;
                    width: 300px !important;
                    height: 300px !important;
                }
            }
        }

        width: 139px !important;
        height: 139px !important;

        /*border: 1px solid #757575;*/
    }

    width: 695px !important;
}

.linkbox .brackets {
    &:before {
        content: "[ ";
    }

    &:after {
        content: " ]";
    }

    &:before, &:after {
        color: #F1F1F1;
    }
}

.top10_quantity_links .brackets {
    &:before, &:after {
        color: #F1F1F1;
    }
}