//  font call for baseline apollostage theme
//  2024-07-03

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-100-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-200-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-300-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-400-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-500-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-600-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-700-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-800-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-100.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-200.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-300.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-400.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-500.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-600.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-700.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/JetBrainsMono/JetBrainsMono-800.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-100-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-200-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-300-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-400-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-500-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-600-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-700-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-800-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-900-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-100.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-200.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-300.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-400.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-500.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-600.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-700.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-800.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src:
    url("/styles/apollostage/fonts/ttf/NotoSans/NotoSans-900.ttf")
    format("truetype");
}
