// APOLLOSTAGE THEME
// DEFINE THEME COLORS AND ICONS

// ////////////////////////////////////////////////////////////////////////////////
// SLUG

$build-slug: "Apollostage build 240906"; // must include quotes

// ////////////////////////////////////////////////////////////////////////////////
// COLORS

// physical_layout -> token, and token -> raw value.

//Backgrounds -- 100-600 are used
$back-100: #121616;
$back-200: #181d1d;
$back-300: #1d2424;
$back-400: #222b2b;
$back-500: #252f32;
$back-600: #2d393a;
$back-700: #324041;
$back-800: #384749;
$back-900: #3c4d50;
$back-1000: #405256;
$back-500-low: rgba(110.7, 149, 169, 0.15);
$back-600-low: #2d393a54;
$back-600-mid: #2d393a88;

//Mids
$midtone-100: #093a2e;
$midtone-200: #0c4a3b;
$midtone-300: #0f5b49;
$midtone-400: #126c56;
$midtone-500: #157d63;
$midtone-600: #188e71;
$midtone-700: #1a9f7e;
$midtone-800: #1daf8b;
$midtone-900: #20c098;
$midtone-1000: #23d1a5;

//Menu theme
//can be same as "midtone" above.

$menutheme-100: #003d2d;
$menutheme-200: #004b38;
$menutheme-300: #005943;
$menutheme-400: #00674e;
$menutheme-500: #00745a;
$menutheme-600: #008265;
$menutheme-700: #008d6d;
$menutheme-800: #009777;
$menutheme-900: #00a280;
$menutheme-1000: #00ad89;

//Fores -- 400-1000 are used
$fore-100: #6e7968;
$fore-200: #7e887b;
$fore-300: #8c978a;
$fore-400: #99a598;
$fore-500: #a7b4a8;
$fore-600: #b6c3b8;
$fore-700: #c6d2c8;
$fore-800: #d5e0d9;
$fore-900: #e5efe9;
$fore-1000: #fdfffd;

//Direct-Specialty
$ds-neutral-300: #dcdfe4;
$ds-neutral-400: #b8b8b8;
$ds-neutral-500: #8591a2;
$ds-neutral-000: #000;
$ds-red: #b71010;
$ds-green: #099909;
$ds-yellow: #f9e340;
$ds-goldenrod: #daa520;
$ds-fx-low: rgb(255 255 255 / 8%);
$ds-fx-mid: rgb(255 255 255 / 25%);
$ds-fx-menutheme: rgb(255 255 255 / 25%);
$ds-gray-05: hsl(178deg 2.5% 05%);
$ds-gray-62: hsl(181deg 3.5% 62%);
$ds-gray-92: hsl(183deg 2.5% 92%);
$ds-black: #000;

// DEFINE FROM LOGICAL LAYOUT TO TOKENS

$color-background-base: $back-100;
$color-background-blockquote: $back-500-low;
$color-background-box: $back-500-low;
$color-background-form: $back-200; // also boxes on frontpage
$color-background-input: $back-400;
$color-background-input-active: $back-500;
$color-background-poll: $back-500;
$color-background-searchbars: $back-300;
$color-background-searchbars-field-focus: $back-100;
$color-background-searchbars-surround: $back-500;
$color-background-table: $back-200; // tables/forms without odd-even treatment
$color-background-table-details: $back-400; // equal to blockquote
$color-background-table-row-th: $back-700;
$color-background-table-row-odd: $back-500;
$color-background-table-row-even: $back-300;
$color-background-table-torrenttable: $back-300; // also form field in focus
$color-background-table-torrents-group: $back-600;
$color-background-tooltipster: $back-100;
$color-background-fx-unread: $ds-fx-mid;
$color-background-torrent: $midtone-200; // edition in group-list
$color-background-table-discog: $midtone-300; // navigation row ~ "jump down to.."
$color-background-table-keyrows: $midtone-300; // navigation row ~ "jump up to.."

$color-menu-1: orangered; // UNUSED (could be home)
$color-menu-2: $menutheme-100; // torrents
$color-menu-3: $menutheme-200; // collages
$color-menu-4: $menutheme-300; // requests
$color-menu-5: $menutheme-400; // forums
$color-menu-6: $menutheme-500; // irc
$color-menu-7: $menutheme-600; // top10
$color-menu-8: $menutheme-700; // rules
$color-menu-9: $menutheme-800; // wiki
$color-menu-username: $menutheme-900; // username menu ~ closed
$color-menu-userinfo: $menutheme-1000; // VV pulldown menu ~ closed
$color-menu-hover: $menutheme-300;
$color-menu-username-hover: $menutheme-900; // username menu ~ open
$color-menu-userinfo-hover: $menutheme-900; // VV pulldown menu ~ open
$color-menu-fx-selection: $ds-fx-menutheme;
$color-mobilemenu-userinfo-1: $menutheme-400; // mobile pulldown menu gradient 1
$color-mobilemenu-userinfo-2: $menutheme-900; // mobile pulldown menu gradient 2
$color-mobilemenu-closed: $menutheme-700; // rules, also mobile menu header
$color-mobilemenu-shadow: $menutheme-500; //mobile menu
$color-mobilemenu-closed-overlays: $menutheme-100; // bg for icons on the hedaer

$color-text-anchor-hover: $midtone-1000;
$color-text-anchor: $fore-1000;
$color-text-base: $fore-700;
$color-text-bold: $fore-800;
$color-text-button: $ds-gray-05;
$color-text-footer: $ds-neutral-300;
$color-text-heading-anchor: $midtone-900;
$color-text-heading: $fore-700;
$color-text-important-alt: $ds-green;
$color-text-important: $ds-red;
$color-text-input: $fore-600; // for pre-populated inputs
$color-text-input-active: $fore-900;
$color-text-linkbox: $midtone-800; // links in linkbox
$color-text-menu: $fore-1000;
$color-text-menu-hover: $color-text-menu; // during pulldown
$color-text-mono: $fore-500;
$color-text-ratio-greenzone: $ds-green;
$color-text-ratio-redzone: $ds-red;
$color-text-ratio-yellowzone: $ds-yellow;
$color-text-span-blue: hsl(235deg 90% 85%);
$color-text-span-green: hsl(145deg 90% 70%);
$color-text-span-red: $ds-red;
$color-text-table-discog-titles: $midtone-900;
$color-text-tooltipster: $fore-700;
$color-text-tooltipster-anchor: $fore-900;
$color-text-tooltipster-anchor-hover: $fore-800;

// popup notifications
$color-background-notification-gradient-1: $midtone-1000; // menu low/high suggested
$color-background-notification-gradient-2: $midtone-500; // menu high/low suggested
$color-background-notification: $ds-neutral-000;
$color-text-notification-words: $fore-1000;
$color-background-popup: $back-300; // upload musicbrainz info
$color-text-popup-anchor-hover: $midtone-1000;
$color-text-popup-anchor: $fore-900;
$color-text-popup: $fore-700;
$color-accent-border-popup: $midtone-800;
$color-obj-button-base-1: $ds-gray-62;
$color-obj-button-base-2: $ds-gray-92;
$color-obj-poll: $midtone-900; // poll active part of bargraph

$color-obj-tag_bubble-background: $midtone-200; // menu-2 suggested
$color-obj-tag_bubble-foreground: $midtone-900; // menu-9 suggested
$color-obj-tag_bubble_snatched-background: $back-600;
$color-obj-tag_bubble_snatched-foreground: $fore-800;

// Autocompletes
$color-background-autocompletes: $color-background-searchbars;
$color-accent-border-autocompletes: $midtone-300;
$color-text-autocomplete: $color-text-input;
$color-text-autocomplete-highlight-match: $fore-1000;

$color-accent-border-blockquote: $back-900; // Dotted
$color-accent-border-box: $back-900;
$color-accent-border-input: $ds-fx-low;
$color-accent-border-input-active: $ds-fx-mid;
$color-accent-border-tooltipster: $midtone-800;
$color-accent-border-tableouter: $back-600-mid;
$color-accent-border-tablerows: $back-600-low;
$color-accent-border-tablerows-torrent: $back-600-mid;
$color-accent-shadow-menutext: initial; // provisioned for derivative themes

$color-accent-cats_applications: silver;
$color-accent-cats_audiobooks: cornflowerblue;
$color-accent-cats_comedy: deepskyblue;
$color-accent-cats_comics: gold;
$color-accent-cats_ebooks: chocolate;
$color-accent-cats_elearningvideos: mediumpurple;
$color-accent-cats_music: darkslategray;
$color-accent-forum-inline-last-read: #fed100; // arrow ➤
$color-accent-forum-unread: #fed100;
$color-accent-selection-background: $midtone-800;
$color-accent-selection-text: $fore-700; // usually #fff or $color-text-bold

// alerts
$color-accent-border-alert: $midtone-500;
$color-background-alert: $midtone-100;
$color-text-alert: $fore-700;
$color-anchor-alert: $fore-1000;

$ds-shadow-heavy:
  0 10px 18px rgb(0 0 0 / 55%),
  0 7px 7px rgb(0 0 0 / 52%),
  0 -5px 9px rgb(0 0 0 / 32%);
$ds-shadow-raised:
  0 10px 18px rgb(0 0 0 / 25%),
  0 7px 7px rgb(0 0 0 / 22%);
$ds-shadow-raised-hover:
  0 14px 28px rgb(0 0 0 / 25%),
  0 10px 10px rgb(0 0 0 / 22%);

$color-accent-border-error: $ds-goldenrod;
$color-background-error: $ds-gray-92;
$color-text-error: $ds-black;
$color-text-anchor-error: $ds-red;

$color-accent-border-warning-1: hsl(348deg 99% 77%);
$color-accent-border-warning-2: hsl(348deg 84% 51%);
$color-background-warning: #633;
$color-text-warning: $fore-700;
$color-anchor-warning: $fore-1000;

// ////////////////////////////////////////////////////////////////////////////////
// ICONS

// Forum icons

$icon-message-unread: url(config('STATIC_SERVER') + "/svg/std/document-round-ccc.svg");
$icon-message-unread-locked: url(config('STATIC_SERVER') + "/svg/std/lock-round-ccc.svg");
$icon-message-unread-sticky: url(config('STATIC_SERVER') + "/svg/std/pin-round-ccc.svg");
$icon-message-unread-locked-sticky: url(config('STATIC_SERVER') + "/svg/std/pin-and-lock-round-ccc.svg");
$icon-message-read: url(config('STATIC_SERVER') + "/svg/std/document-ccc.svg");
$icon-message-read-locked: url(config('STATIC_SERVER') + "/svg/std/lock-ccc.svg");
$icon-message-read-sticky: url(config('STATIC_SERVER') + "/svg/std/pin-ccc.svg");
$icon-message-read-locked-sticky: url(config('STATIC_SERVER') + "/svg/std/pin-and-lock-ccc.svg");

// Header Pulldown Menu (hamburger/chevron icon)
$icon-menu-open-state: url(config('STATIC_SERVER') + "/svg/std/menu-ccc.svg");
$icon-menu-closed-state: url(config('STATIC_SERVER') + "/svg/std/chevrons-down-ccc.svg");
$icon-menu-pulldown-mobile: url(config('STATIC_SERVER') + "/svg/std/chevrons-down-ccc.svg");

// Used in Header
// Orpheus specific.  Other deployments, provide your own.
$logo-site-lockup: url(config('STATIC_SERVER') + "/svg/site/ops-logo-lockup-darkmode.svg");
$logo-site-square: url(config('STATIC_SERVER') + "/svg/site/ops-logo-loop-darkmode.svg");

// Used on Mobile
$icon-number-snatches: url(config('STATIC_SERVER') + "/svg/std/arrow-loop-ccc.svg");
$icon-number-seeders: url(config('STATIC_SERVER') + "/svg/std/arrow-up-round-ccc.svg");
$icon-number-leechers: url(config('STATIC_SERVER') + "/svg/std/arrow-down-round-ccc.svg");

// Used on alerts

// // standard:
$icon-mobile-rotate: url(config('STATIC_SERVER') + "/svg/std/notify-rotate-darkmode-ccc.svg");
// and
// $icon-notification: url(config('STATIC_SERVER') + "/svg/std/notification-bell-333xccc.svg");
// $icon-warning: url(config('STATIC_SERVER') + "/svg/std/x-c33.svg")

// // Orpheus specific. Other deployments, use the above.
$icon-notification: url(config('STATIC_SERVER') + "/svg/site/ops-icon-harp-ccc.svg");
$icon-warning: url(config('STATIC_SERVER') + "/svg/site/ops-icon-triangle-000.svg");

// EOF
// ////////////////////////////////////////////////////////////////////////////////
