// 
// APOLLOSTAGE THEME 
// DEFINE THEME COLORS AND ICONS

// define theme colors

$primary-accent-color: #83e4a6;
$base-background-color: #041813;
$base-text-color: #b9bdbd;
$mono-text-color: #bdd;

$table-background-color: #212A2D;						
$secondary-table-background-color: #262e27;				// also form field in focus
$form-background-color: #1B2426;
$a-color: #f0f0f0;
$a-hover-color: #c7fada;

// menu bar gradient
$menu-li-second-child-background-color: #0a3a2e;        // torrents        
$menu-li-third-child-background-color: #0c4a3b;         // collages   
$menu-li-fourth-child-background-color: #0f5b48;        // requests        
$menu-li-fifth-child-background-color: #126c56;         // forums     
$menu-li-sixth-child-background-color: #157d63;         // irc   
$header-background-color: #1a9f7d;                      // top10
$menu-li-seventh-child-background-color: #188e70;       // rules and mobile menu header        
$menu-li-ninth-child-background-color: #1daf8b;         // wiki  
$userinfo-username-color: #20c098;                      // username menu ~ closed
$userinfo-username-hover-background-color: #16866a;     // username menu ~ open       
$userinfo-minor-color: #23d1a5;                         // VV pulldown menu ~ closed
$userinfo-minor-hover-background-color: #189273;        // VV pulldown menu ~ open        

// mobile pulldown menu gradient

$userinfo-background-color-1: #0a3a2e;   // mobile pulldown menu gradient 1			
$userinfo-background-color-2: #22696e;	 // mobile pulldown menu gradient 2

// notification gradient

$gradient-color-1: #0c4a3b;	// usually works well with 'third-child'
$gradient-color-2: #188e70; // usually works well with 'seventh-child'

// these are GNDN: goes nowhere, does nothing

$menu-background-color-1: #009999;		// noop
$menu-background-color-2: #008888;		// noop

// formatting colors for page elements

$blockquote-background-color: #33363d;
$box-background-color: #50505070;
$box-border-color: #212A2DAA;
$input-background-color: #252F32;
$torrent-background-color: #1F282B;
$footer-color: #959a9e;
$input-color: #c6c9c9;
$ratio-red-color: #e85050;
$ratio-yellow-color: #e3ba65;
$ratio-green-color: #4fb650;
$selection-background-color: rgb(105 217 146 / 60%);
$poll-background-color: rgb(131 228 166 / 10%);

// overrides these colors when called: why?

$span-green-color: #4fb650; 	
$span-blue-color: #4f50e9;  	

// accent color for upload categories (stripes)

$accent-color-cats_music: darkslategray;
$accent-color-cats_applications: silver;
$accent-color-cats_audiobooks: cornflowerblue;
$accent-color-cats_comedy: deepskyblue;
$accent-color-cats_comics: gold;
$accent-color-cats_ebooks: chocolate;
$accent-color-cats_elearningvideos: mediumpurple;

// accent color for tag bubbles

// These can equal "ninth" and "second"
// or adjust contrast as desired to emphasize/de-emphaszie
$tag-bubble-background-color: #0a3a2e; 
$tag-bubble-foreground-color: #1daf8b; 

// Forum icons

$unread-icon: url("https://wally-crunk.github.io/svg/gazelle/document-round.svg");
$unread-locked-icon: url("https://wally-crunk.github.io/svg/gazelle/lock-round.svg");
$unread-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-round.svg");
$unread-locked-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock-round.svg");

$read-icon: url("https://wally-crunk.github.io/svg/gazelle/document.svg");
$read-locked-icon: url("https://wally-crunk.github.io/svg/gazelle/lock.svg");
$read-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin.svg");
$read-locked-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock.svg");

// Header Pulldown Menu (hamburger/chevron icon)

$menu-open-state-icon: url("https://wally-crunk.github.io/svg/gazelle/menu.svg");
$menu-closed-state-icon: url("https://wally-crunk.github.io/svg/gazelle/chevrons-down.svg");
$mobile-pulldown-icon: url("https://wally-crunk.github.io/svg/gazelle/chevrons-down.svg");

// Used in Header

$site-logo-lockup: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-lockup.svg");
$site-logo-square: url("https://wally-crunk.github.io/svg/orpheus/ops-classic-loop-dark-trans.svg");

// Used on Mobile
$number-snatches-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-loop.svg");
$number-seeders-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-up-round.svg");
$number-leechers-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-down-round.svg");
