<table class="layout" id="donation_box">
    <tr class="colhead">
        <td colspan="2">
            Donations
        </td>
    </tr>
    <tr><td colspan="2"><b>Manual Donation</b></td></tr>
    <tr>
        <td class="label">Value:</td>
        <td>
            <input type="text" size="8" name="donation_value" />
            <select name="donation_currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="XBT" selected="selected">XBT</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="label">Reason:</td>
        <td><input type="text" class="wide_input_text" name="donation_reason" /></td>
    </tr>
    <tr>
        <td colspan="2"><b>Donation point adjustement</b><br />Changes will be ignored if there also is a manual donation above.</td>
    </tr>
    <tr>
        <td colspan="2">Use this section only when manually adjusting
        values. If crediting donations normally, use the Manual Donation
        section. Active points represent the donation amount that has
        not yet expired. Total points represent the combined amount of
        all donations and never expire. These are used to determine the
        Special Rank and Leaderboard placement of a member.</td>
    </tr>
    <tr>
        <td class="label">Special Rank:</td>
        <td><b>{{ donor.specialRank }}</b></td>
    </tr>
    <tr>
        <td class="label">Adjust active points:</td>
        <td>currently <b>{{ donor.Rank }}</b> (add or subtract) 
            <input type="text" size="4" name="donor_rank_delta" value="0" />
        </td>
    </tr>
    <tr>
        <td class="label">Adjust total points:</td>
        <td>currently <b>{{ donor.totalRank }}</b> (add or subtract)</b>
            <input type="text" size="4" name="total_donor_rank_delta" value="0" />
        </td>
    </tr>
    <tr>
        <td class="label">Reason:</td>
        <td><input type="text" class="wide_input_text" name="reason" /></td>
    </tr>
</table>
