Your upload is complete. However, {{ clash }} torrent{{ clash|plural }} {% if clash > 1 %}have{% else %}has{% endif%}
the same folder name as your newly added torrent. This may cause problems if people attempt to download both torrents.<br>
You might want to make a cup of tea and rethink your naming strategy. You can
<a href="wiki.php?action=article&amp;name=deletetorrent" target="_blank">remove the upload</a> now, before people
start queuing it up. You can then adjust the folder name locally and try again.
