The &quot;source&quot; flag was not set to <i>{{ constant('SOURCE') }}</i>. Please read the
<a href="wiki.php?action=article&amp;id={{ constant('SOURCE_FLAG_WIKI_PAGE_ID') }}" target="_blank">wiki page about
source flags</a> to find out why this is important.
