*~
*.bak
*.swp

.DS_Store
.bash_history
.cache/
.config/
.docker/data/
.idea/
.vscode/
.local/
.npm-global/
.npm/
.npmrc
.pki/
.profile
.wine/
__MACOSX/

/cache
/node_modules
/public/static/font/
/public/static/local/
/vendor
/classes/config.php
/mix-manifest.json
/mix.js.map

/public/static/styles/**/*.css
/public/static/styles/**/*.css.map
!/public/static/styles/opendyslexic/style.css
!/public/static/styles/tooltipster/custom.css
!/public/static/styles/tooltipster/reset.css

/public/static/stylespreview/
!/public/static/stylespreview/.gitkeep

/public/static/userscripts/gazelle-json-export.js.txt
