*~
*.bak
*.swp

.DS_Store
.bash_history
.docker-init-done
.cache/
.config/
.idea/
.vscode/
.local/
.npm-global/
.npm/
.npmrc
.pki/
.phive/
.profile
.wine/
__MACOSX/

/cache
/misc/docker/data/
/misc/mysql-dump.sql
/misc/postgresql-dump.sql
/misc/phinx/seeded.txt
/node_modules
/public/static/font/
/public/static/local/
/vendor
/lib/override.config.php
/npm-debug.log
/yarn-error.log

/misc/docker/mysql-home/.mysql_history
!/misc/docker/mysql-home/.my.cnf

/public/static/styles/**/*.css
/public/static/styles/**/*.css.map
!/public/static/styles/opendyslexic/style.css
!/public/static/styles/tooltipster/custom.css
!/public/static/styles/tooltipster/reset.css
!/public/static/styles/katex/*

/public/static/stylespreview/
!/public/static/stylespreview/.gitkeep

/public/static/userscripts/gazelle-json-export.js.txt

.phpunit.result.cache
