.idea/
html/
/classes/config.php
/sphinx.conf
.DS_Store
logs/
!logs/README.txt

static/similar/
!static/similar/.gitkeep

static/stylespreview/
!static/stylespreview/.gitkeep

sections/tools/development/node_modules/
/vendor/

static/userscripts/gazelle-json-export.js.txt

.bash_history
.cache/
.config/
.local/
.npm-global/
.npm/
.npmrc
.pki/
.profile
.wine/

report/
.vagrant/machines/
.vagrant/rgloader/
