services:
  web:
    build: .
    ports:
      - 127.0.0.1:7001:80
    depends_on:
      - memcached
      - mysql
      - pg
    volumes:
      - .:/var/www
      - ./misc/docker/web/nginx.conf:/etc/nginx/sites-available/gazelle.conf
    environment:
      - ENV=dev
      # These should match what you set for your mysql container below
      - MYSQL_USER=gazelle
      - MYSQL_PASSWORD=password

  memcached:
    image: memcached:1.6.32-alpine

  pg:
    image: postgres:17-bookworm
    ports:
      - 127.0.0.1:54321:5432
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=nyala
      - POSTGRES_PASSWORD=nyalapw
      - POSTGRES_DB=gz
  mysql:
    image: percona:ps-8.0
    ports:
      - 127.0.0.1:36000:3306
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=gazelle
      - MYSQL_USER=gazelle
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=sc5tlc9JSCC6
    command:
      - mysqld
      - --group-concat-max-len=1048576
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_0900_ai_ci
      - --log-bin-trust-function-creators=ON
      - --userstat=on
      - --sql-mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
      # neither sphinxsearch or ocelot are compatible with the mysql8 caching_sha2_password plugin
      - --default-authentication-plugin=mysql_native_password

  sphinxsearch:
    build: misc/docker/sphinxsearch
    depends_on:
      - mysql
      - web
    volumes:
      - sphinx-data:/var/lib/sphinxsearch/data/
      - ./misc/docker/sphinxsearch/sphinx.conf:/var/lib/sphinxsearch/conf/sphinx.conf
    environment:
      # These should match what you set for your mysql container above
      - MYSQL_USER=gazelle
      - MYSQL_PASSWORD=password

volumes:
  mysql-data:
  pg-data:
  sphinx-data:
