includes:
    - phpstan-baseline.neon

parameters:
    level: 3
    stubFiles:
        - lib/stub/memcached.stub
    bootstrapFiles:
        - lib/config.php
    scanFiles:
        - lib/bootstrap.php
        - lib/util.php
    paths:
        - app
        - classes
        - db
        - scripts
    excludePaths:
        - sections
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        # lib/bootstrap.php declares these variables, and thus available everywhere.
        - '/Variable \$(Cache|DB|Debug|Twig) might not be defined\./'
