parameters:
	ignoreErrors:
		-
			message: "#^Offset 'CategoryID' does not exist on array\\('DisplayArtists' \\=\\> string\\)\\.$#"
			count: 1
			path: app/API/Request.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$page int The page number to fetch \\(50 entries\\) defaults to 1\\)\\: Unexpected token \"\\$page\", expected type at offset 928$#"
			count: 1
			path: app/Manager/Applicant.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$resolved int Should resolved applications be included \\(defaults to no\\)\\.\\)\\: Unexpected token \"\\$resolved\", expected type at offset 1004$#"
			count: 1
			path: app/Manager/Applicant.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\$userId int If non\\-zero, return applications of this userId\\)\\: Unexpected token \"\\$userId\", expected type at offset 1091$#"
			count: 1
			path: app/Manager/Applicant.php

		-
			message: "#^PHPDoc tag @return with type Gazelle\\\\Manager\\\\a is incompatible with native type array\\.$#"
			count: 1
			path: app/Manager/Applicant.php

		-
			message: "#^Return typehint of method Gazelle\\\\Manager\\\\Applicant\\:\\:list\\(\\) has invalid type Gazelle\\\\Manager\\\\a\\.$#"
			count: 1
			path: app/Manager/Applicant.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$clientID$#"
			count: 1
			path: app/Manager/ClientWhitelist.php

		-
			message: "#^Class Gazelle\\\\Manager\\\\Thread referenced with incorrect case\\: Gazelle\\\\Manager\\\\thread\\.$#"
			count: 1
			path: app/Manager/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Gazelle\\\\User viewer\\)\\: Unexpected token \"viewer\", expected variable at offset 462$#"
			count: 1
			path: app/Manager/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(array hash of values \\(keyed on lowercase column names\\)\\)\\: Unexpected token \"hash\", expected variable at offset 46$#"
			count: 1
			path: app/Manager/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int id The post ID\\.\\)\\: Unexpected token \"id\", expected variable at offset 72$#"
			count: 1
			path: app/Manager/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int id The thread ID\\.\\)\\: Unexpected token \"id\", expected variable at offset 74$#"
			count: 1
			path: app/Manager/Forum.php

		-
			message: "#^PHPDoc tag @return with type Gazelle\\\\Manager\\\\Thread is incompatible with native type int\\|null\\.$#"
			count: 1
			path: app/Manager/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int limit\\)\\: Unexpected token \"limit\", expected variable at offset 66$#"
			count: 1
			path: app/Manager/Invite.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int offset\\)\\: Unexpected token \"offset\", expected variable at offset 90$#"
			count: 1
			path: app/Manager/Invite.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string email address fragment\\)\\: Unexpected token \"email\", expected variable at offset 76$#"
			count: 1
			path: app/Manager/Invite.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string invite key\\)\\: Unexpected token \"invite\", expected variable at offset 56$#"
			count: 1
			path: app/Manager/Invite.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int Group ID\\)\\: Unexpected token \"Group\", expected variable at offset 79$#"
			count: 1
			path: app/Manager/ReportV2.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int User ID of uploader\\)\\: Unexpected token \"User\", expected variable at offset 82$#"
			count: 1
			path: app/Manager/ReportV2.php

		-
			message: "#^PHPDoc tag @return with type float\\|int is not subtype of native type int\\.$#"
			count: 2
			path: app/Manager/ReportV2.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int ID of option\\)\\: Unexpected token \"ID\", expected variable at offset 94$#"
			count: 1
			path: app/Manager/SiteOption.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string Mandatory comment\\)\\: Unexpected token \"Mandatory\", expected variable at offset 148$#"
			count: 1
			path: app/Manager/SiteOption.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string Mandatory comment\\)\\: Unexpected token \"Mandatory\", expected variable at offset 201$#"
			count: 1
			path: app/Manager/SiteOption.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string Name of option\\)\\: Unexpected token \"Name\", expected variable at offset 128$#"
			count: 1
			path: app/Manager/SiteOption.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string Name of option\\)\\: Unexpected token \"Name\", expected variable at offset 64$#"
			count: 1
			path: app/Manager/SiteOption.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string Name of option\\)\\: Unexpected token \"Name\", expected variable at offset 75$#"
			count: 1
			path: app/Manager/SiteOption.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string Value of option\\)\\: Unexpected token \"Value\", expected variable at offset 111$#"
			count: 1
			path: app/Manager/SiteOption.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string Value of option\\)\\: Unexpected token \"Value\", expected variable at offset 164$#"
			count: 1
			path: app/Manager/SiteOption.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int ID of the vistort\\)\\: Unexpected token \"ID\", expected variable at offset 70$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int blog id\\)\\: Unexpected token \"blog\", expected variable at offset 148$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int user id\\)\\: Unexpected token \"user\", expected variable at offset 107$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int user id\\)\\: Unexpected token \"user\", expected variable at offset 70$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string body of the blog post\\)\\: Unexpected token \"body\", expected variable at offset 67$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string title of the blog post\\)\\: Unexpected token \"title\", expected variable at offset 68$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^Property Gazelle\\\\Manager\\\\StaffBlog\\:\\:\\$blogId \\(int\\) does not accept null\\.$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^Property Gazelle\\\\Manager\\\\StaffBlog\\:\\:\\$body \\(string\\) does not accept null\\.$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^Property Gazelle\\\\Manager\\\\StaffBlog\\:\\:\\$title \\(string\\) does not accept null\\.$#"
			count: 1
			path: app/Manager/StaffBlog.php

		-
			message: "#^Method Gazelle\\\\Manager\\\\Wiki\\:\\:create\\(\\) should return int but returns Gazelle\\\\Wiki\\.$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int author id\\)\\: Unexpected token \"author\", expected variable at offset 193$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int can the viewer administrate the wiki\\)\\: Unexpected token \"can\", expected variable at offset 115$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int minimum class to modify\\)\\: Unexpected token \"minimum\", expected variable at offset 151$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int minimum class to read\\)\\: Unexpected token \"minimum\", expected variable at offset 111$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int the proposed edit class\\)\\: Unexpected token \"the\", expected variable at offset 243$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int the proposed read class\\)\\: Unexpected token \"the\", expected variable at offset 201$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int viewer class\\)\\: Unexpected token \"viewer\", expected variable at offset 170$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string body\\)\\: Unexpected token \"body\", expected variable at offset 88$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string title\\)\\: Unexpected token \"title\", expected variable at offset 61$#"
			count: 1
			path: app/Manager/Wiki.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\?int original year\\)\\: Unexpected token \"original\", expected variable at offset 77$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(\\?int remaster year\\)\\: Unexpected token \"remaster\", expected variable at offset 110$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Feed an RSS feed object\\)\\: Unexpected token \"an\", expected variable at offset 186$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(array List of tags\\)\\: Unexpected token \"List\", expected variable at offset 75$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message:
				"""
					#^PHPDoc tag @param has invalid value \\(array array of artist roles and lists of artist \\( of artists \\(id, id, id\\)
					 \\[main \\=\\> \\[1, 2, 3\\], guest \\=\\> \\[4, 5, 6\\], \\.\\.\\.\\]\\)\\: Unexpected token "array", expected variable at offset 93$#
				"""
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(bool debug on/off\\)\\: Unexpected token \"debug\", expected variable at offset 71$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int Group ID of the release\\)\\: Unexpected token \"Group\", expected variable at offset 100$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int Torrent ID of the releas\\)\\: Unexpected token \"Torrent\", expected variable at offset 142$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int user id of the uploader\\)\\: Unexpected token \"user\", expected variable at offset 294$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string Feed item\\)\\: Unexpected token \"Feed\", expected variable at offset 226$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string category\\)\\: Unexpected token \"category\", expected variable at offset 91$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string column The name of the DB column to look at\\)\\: Unexpected token \"column\", expected variable at offset 92$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string dimension the value \\(if empty, column matches empty string\\)\\)\\: Unexpected token \"dimension\", expected variable at offset 157$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string encoding\\)\\: Unexpected token \"encoding\", expected variable at offset 93$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string format\\)\\: Unexpected token \"format\", expected variable at offset 91$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string media\\)\\: Unexpected token \"media\", expected variable at offset 90$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string release type \\(Album, EP, \\.\\.\\.\\)\\)\\: Unexpected token \"release\", expected variable at offset 97$#"
			count: 1
			path: app/Notification/Upload.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int log ID\\)\\: Unexpected token \"log\", expected variable at offset 80$#"
			count: 1
			path: app/RipLog.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int torrent ID\\)\\: Unexpected token \"torrent\", expected variable at offset 50$#"
			count: 1
			path: app/RipLog.php

		-
			message: "#^PHPDoc tag @throws with type Gazelle\\\\Gazelle\\\\Exception\\\\ResourceNotFoundException is not subtype of Throwable$#"
			count: 1
			path: app/RipLog.php

		-
			message: "#^Method Gazelle\\\\Schedule\\\\Scheduler\\:\\:createRunner\\(\\) should return Gazelle\\\\Schedule\\\\Task but returns null\\.$#"
			count: 1
			path: app/Schedule/Scheduler.php

		-
			message: "#^Method Gazelle\\\\Search\\\\Forum\\:\\:isBodySearch\\(\\) should return true but returns bool\\.$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(array a collection of results\\)\\: Unexpected token \"a\", expected variable at offset 83$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(array list of forum IDs\\)\\: Unexpected token \"list\", expected variable at offset 87$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(bool do we split\\? \\(e\\.g\\. not on thread title lookups\\)\\)\\: Unexpected token \"do\", expected variable at offset 98$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(bool set whether only unread posts are wanted\\)\\: Unexpected token \"set\", expected variable at offset 99$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(bool set whether post history is grouped\\)\\: Unexpected token \"set\", expected variable at offset 108$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int From whence in the list \\(offset\\)\\)\\: Unexpected token \"From\", expected variable at offset 132$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int Number of threads to fetch \\(limit\\)\\)\\: Unexpected token \"Number\", expected variable at offset 79$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int number of rows\\)\\: Unexpected token \"number\", expected variable at offset 151$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed The values to bind to the placeholders\\)\\: Unexpected token \"The\", expected variable at offset 142$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed The values to bind to the placeholders\\)\\: Unexpected token \"The\", expected variable at offset 149$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed The values to bind to the placeholders\\)\\: Unexpected token \"The\", expected variable at offset 151$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string The SQL condition with one or more placeholders\\)\\: Unexpected token \"The\", expected variable at offset 74$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string The SQL condition with one or more placeholders\\)\\: Unexpected token \"The\", expected variable at offset 81$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string The SQL condition with one or more placeholders\\)\\: Unexpected token \"The\", expected variable at offset 83$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string date \\(yyyy/mm/dd\\)\\)\\: Unexpected token \"date\", expected variable at offset 90$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string date \\(yyyy/mm/dd\\)\\)\\: Unexpected token \"date\", expected variable at offset 91$#"
			count: 2
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string date \\(yyyy/mm/dd\\)\\)\\: Unexpected token \"date\", expected variable at offset 92$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string mode \\(if 'body' then search in post bodies, anything else defaults to thread title\\)\\)\\: Unexpected token \"mode\", expected variable at offset 85$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string text\\)\\: Unexpected token \"text\", expected variable at offset 105$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string username\\)\\: Unexpected token \"username\", expected variable at offset 72$#"
			count: 1
			path: app/Search/Forum.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(Gazelle\\\\User viewer\\)\\: Unexpected token \"viewer\", expected variable at offset 268$#"
			count: 1
			path: app/StaffPM.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int length number of intervals\\)\\: Unexpected token \"length\", expected variable at offset 478$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int length number of intervals\\)\\: Unexpected token \"length\", expected variable at offset 542$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int n\\)\\: Unexpected token \"n\", expected variable at offset 100$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int n\\)\\: Unexpected token \"n\", expected variable at offset 79$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int n\\)\\: Unexpected token \"n\", expected variable at offset 81$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int n\\)\\: Unexpected token \"n\", expected variable at offset 92$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int offset number of intervals back in time\\)\\: Unexpected token \"offset\", expected variable at offset 420$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(int offset number of intervals back in time\\)\\: Unexpected token \"offset\", expected variable at offset 484$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string interval Mysql interval \\(HOUR, DAY, MONTH, YEAR\\.\\.\\.\\)\\)\\: Unexpected token \"interval\", expected variable at offset 350$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string interval Mysql interval \\(HOUR, DAY, MONTH, YEAR\\.\\.\\.\\)\\)\\: Unexpected token \"interval\", expected variable at offset 414$#"
			count: 1
			path: app/Stats/Bonus.php

		-
			message: "#^Cannot access offset 'totalBounty' on false\\.$#"
			count: 1
			path: app/Stats/Economic.php

		-
			message: "#^Cannot access offset 'totalDownload' on false\\.$#"
			count: 1
			path: app/Stats/Economic.php

		-
			message: "#^Cannot access offset 'totalEnabled' on false\\.$#"
			count: 1
			path: app/Stats/Economic.php

		-
			message: "#^Cannot access offset 'totalUpload' on false\\.$#"
			count: 1
			path: app/Stats/Economic.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string page name \\[artist, collages requests torrents\\]\\)\\: Unexpected token \"page\", expected variable at offset 90$#"
			count: 1
			path: app/Stats/User.php

		-
			message: "#^PHPDoc tag @return with type int is incompatible with native type array\\.$#"
			count: 1
			path: app/Stats/Users.php

		-
			message: "#^Part \\$attr \\(array\\<int, string\\>&nonEmpty\\) of encapsed string cannot be cast to string\\.$#"
			count: 1
			path: classes/torrents.class.php

