*/15      *  *   *    *       /usr/bin/php /var/www/public/schedule.php OL9n0m2JxhBxYyMvXWJg >> /tmp/schedule.log
10-59/15  *  *   *    *       /usr/bin/php /var/www/public/peerupdate.php OL9n0m2JxhBxYyMvXWJg >> /tmp/peerupdate.log
