/* APOLLOSTAGE PAPER THEME */
/* 2024-05-24 */

/// ////////////////////////////////////////////////////////////////////////////////
// SLUG

// import basic colors as a backup:
@import '../apollostage/_variables';

// must be after import.
$debug-deriv: "Paper";
$debug-deriv-slug: "dev01.1750";

// ////////////////////////////////////////////////////////////////////////////////
// COLORS

// PhysicalLayout -> token
// and Token -> Raw value

// and override as follows: -- palettte.app was helpful for this
$bob-100: #EBEFF0;
$bob-200: #DEE2E2;
$bob-300: #D0D4D5;
$bob-400: #C2C6C7;
$bob-500: #B5B9BA;
$bob-600: #A7ABAC;
$bob-700: #9A9E9F;
$bob-800: #8D9091;
$bob-900: #808384;
$bob-1000: #727576;
$gary-1100: #727676;
$gary-1200: #5C6464;
$gary-1300: #475350;
$gary-1400: #35423B;
$gary-1500: #243026;
$mike-100: #65BC98;
$mike-200: #55AE88;
$mike-300: #4BA67F;
$mike-400: #429E77;
$mike-500: #3B9972;
$mike-600: #35956D;
$mike-700: #308E67;
$mike-800: #2A8760;
$mike-900: #247D59;
$mike-1000: #1D714D;
$fran-000: #0E151C;
$fran-100: #192E47;
$fran-300: #103764;
$fran-400: #0D4184;
$fran-500: #144B9F;
$fran-600: #1F58BB;
$fran-700: #2478DB;
$fran-800: #2884F0;
$fran-900: #99C8FF;
$fran-1000: #CAE3FF;
$gray-300: #727576;
$yellow-300: #e3ba65;

// Backs
$back-100: #EBEFF0;
$back-200: #DEE2E2;
$back-300: #D0D4D5;
$back-400: #C2C6C7;
$back-500: #B5B9BA;
$back-600: #A7ABAC;
$back-700: #9A9E9F;
$back-800: #8D9091;
$back-900: #808384;
$back-1000: #727576;

// Backs
$back-100: #EBEFF0;
$back-200: #DEE2E2;
$back-300: #D0D4D5;
$back-400: #C2C6C7;
$back-500: #B5B9BA;
$back-600: #A7ABAC;
$back-700: #9A9E9F;
$back-800: #8D9091;
$back-900: #808384;
$back-1000: #727576;

//Mids
$mid-100: #65BC98;
$mid-200: #55AE88;
$mid-300: #4BA67F;
$mid-400: #429E77;
$mid-500: #3B9972;
$mid-600: #35956D;
$mid-700: #308E67;
$mid-800: #2A8760;
$mid-900: #247D59;
$mid-1000: #1D714D;

//Fores
$fore-100: #8E9FB3;
$fore-200: #577AA4;
$fore-300: #2E5D95;
$fore-400: #174A86;
$fore-500: #0C3376;
$fore-600: #0D3167;
$fore-700: #123058;
$fore-800: #162E49;
$fore-900: #17212E;
$fore-1000: #0D1012;

//Direct-Specialty

 $ds-neutral-300: #979a9c;
 $ds-neutral-400: #7f807f;
 $ds-neutral-500: #5d6670;
 $ds-neutral-000: #000;
 $ds-red: #a41610;
 $ds-green: #11890e;
 $ds-yellow: #c9a612;
 $ds-fx-low: rgba(0,0,0, 0.15);
 $ds-fx-mid: rgba(0,0,0, 0.25);
 $ds-gray-05: hsl(178, 2.5%, 5%);  
 $ds-gray-52: hsl(181, 3.5%, 52%);  
 $ds-gray-72: hsl(183, 4.0%, 72%);
 
// DEFINE FROM LOGICAL LAYOUT TO TOKENS

$color-background-base: $back-100;
$color-background-blockquote: $back-400;
$color-background-box: $back-500;
$color-background-form: $back-200; // also boxes on frontpage
$color-background-input: $back-400;
$color-background-input-active: $back-500;
$color-background-poll: $back-500;
$color-background-popup: $back-300; // upload musicbrainz info
$color-background-popup-warning: $ds-yellow;
$color-background-searchbars: $back-300;
$color-background-searchbars-field-focus: $back-100;
$color-background-searchbars-surround: $back-500;
$color-background-table: $back-200; // tables/forms without odd-even treatment
$color-background-table-discog: $mid-300; // navigation row ~ "jump down to.."
$color-background-table-row-th: $back-500;
$color-background-table-row-odd: $back-300;
$color-background-table-row-even: $back-200;
$color-background-table-keyrows: $mid-300; // navigation row ~ "jump up to.."
$color-background-table-secondary: orangered; // no longer used
$color-background-table-torrenttable: $back-300; // also form field in focus
$color-background-table-torrents-group: $back-600;
$color-background-torrent: $mid-200; // edition in group-list

$color-text-anchor-hover: $fore-200;
$color-text-anchor: $fore-1000;
$color-text-base: $fore-700;
$color-text-bold: $fore-800;
$color-text-button: $ds-gray-05;  //xx checkme
$color-text-footer: $ds-neutral-300;
$color-text-heading-anchor: $fore-300; //x
$color-text-heading: $fore-700;
$color-text-important-alt: $ds-green;
$color-text-important: $ds-red;
$color-text-input: $fore-600; // for pre-populated inputs
$color-text-input-active: $fore-900;
$color-text-linkbox: $color-text-heading-anchor; // links in linkbox
$color-text-menu: $fore-1000;
$color-text-menu-hover: $ds-gray-05; // during pulldown
$color-text-mono: $fore-500;
$color-text-notification-words: $fore-1000;
$color-text-popup-anchor-hover: $mid-1000;
$color-text-popup-anchor: $fore-900;
$color-text-popup: $fore-700;
$color-text-ratio-greenzone: $ds-green;
$color-text-ratio-redzone: $ds-red;
$color-text-ratio-yellowzone: $ds-yellow;
$color-text-span-blue: hsl(235, 90%, 55%); //x lower
$color-text-span-green: hsl(145, 90%, 40%); //x lower
$color-text-span-red: $ds-red;
$color-text-table-discog-titles: $fore-300;
$color-text-tooltipster: $fore-400;
$color-text-tooltipster-anchor: $fore-900;
$color-text-tooltipster-anchor-hover: $fore-200;

$color-menu-1: $mid-1000; // unused (could be home)
$color-menu-2: $mid-100; // torrents
$color-menu-3: $mid-200; // collages
$color-menu-4: $mid-300; // requests
$color-menu-5: $mid-400; // forums
$color-menu-6: $mid-500; // irc
$color-menu-7: $mid-600; // top10
$color-menu-8: $mid-700; // rules
$color-menu-9: $mid-800; // wiki
$color-menu-username: $mid-900; // username menu ~ closed
$color-menu-userinfo: $mid-1000; // VV pulldown menu ~ closed
$color-menu-hover: $mid-300;
$color-menu-username-hover: $mid-900; // username menu ~ open
$color-menu-userinfo-hover: $mid-900; // VV pulldown menu ~ open
$color-menu-fx-selection: $ds-fx-mid;
$color-mobilemenu-userinfo-1: $mid-400; // mobile pulldown menu gradient 1
$color-mobilemenu-userinfo-2: $mid-900; // mobile pulldown menu gradient 2
$color-mobilemenu-closed: $mid-700; // rules, also mobile menu header
$color-mobilemenu-shadow: $mid-500; //mobile menu

$color-background-notification-gradient-1: $mid-1000; // menu low/high suggested
$color-background-notification-gradient-2: $mid-400;  // menu high/low suggested
$color-background-notification: #fff;

$color-obj-button-base-1: $ds-gray-72; 
$color-obj-button-base-2: $ds-gray-52;
$color-obj-noty-buttons-hover: $mid-900;
$color-obj-poll: $mid-900; // poll active part of bargraph

$color-obj-tag_bubble-background: $mid-200; // menu-2 suggested
$color-obj-tag_bubble-foreground: $mid-900; // menu-9 suggested
$color-obj-tag_bubble_snatched-background: $back-600;

$color-accent-border-blockquote: $back-900; // Dotted
$color-accent-border-box: $back-900;
$color-accent-border-input: $ds-fx-low;
$color-accent-border-input-active: $ds-fx-mid;
$color-accent-border-tooltipster: $mid-800;
$color-accent-border-popup: $mid-800;
$color-accent-border-tableouter: $back-600-mid;
$color-accent-border-tablerows: $back-600-low;
$color-accent-border-tablerows-torrent: $back-600-mid;
$color-accent-shadow-menutext: initial; // provisioned for derivative themes

$color-accent-cats_applications: silver;
$color-accent-cats_audiobooks: cornflowerblue;
$color-accent-cats_comedy: deepskyblue;
$color-accent-cats_comics: gold;
$color-accent-cats_ebooks: chocolate;
$color-accent-cats_elearningvideos: mediumpurple;
$color-accent-cats_music: darkslategray;
$color-accent-forum-inline-last-read: $ds-yellow;
$color-accent-forum-unread: $ds-yellow;

$color-accent-selection-background: $mid-800;
$color-accent-selection-text: $fore-700; // usually #fff or $color-text-bold

// ////////////////////////////////////////////////////////////////////////////////
// ICONS

$icon-message-unread: url("https://wally-crunk.github.io/svg/gazelle/document-round-000.svg");
$icon-message-unread-locked: url("https://wally-crunk.github.io/svg/gazelle/lock-round-000.svg");
$icon-message-unread-sticky: url("https://wally-crunk.github.io/svg/gazelle/pin-round-000.svg");
$icon-message-unread-locked-sticky: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock-round-000.svg");

$icon-message-read: url("https://wally-crunk.github.io/svg/gazelle/document-000.svg");
$icon-message-read-locked: url("https://wally-crunk.github.io/svg/gazelle/lock-000.svg");
$icon-message-read-sticky: url("https://wally-crunk.github.io/svg/gazelle/pin-000.svg");
$icon-message-read-locked-sticky: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock-000.svg");

// Header Pulldown Menu (hamburger/chevron icon)
// not changing, still dark background


// Used in Header

$logo-site-lockup: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-lockup-whiteusage.svg");
$logo-site-square: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-loop-whiteusage.svg");


// Used on Mobile
$icon-number-snatches: url("https://wally-crunk.github.io/svg/gazelle/arrow-loop-000.svg");
$icon-number-seeders: url("https://wally-crunk.github.io/svg/gazelle/arrow-up-round-000.svg");
$icon-number-leechers: url("https://wally-crunk.github.io/svg/gazelle/arrow-down-round-000.svg");

// EOF

@import '../apollostage/_base';

/* local overrides for this theme */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&display=swap');

body, textarea {
 font-family: "Merriweather Sans", Noto, "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 320;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.6;
  margin: 0 8px;
}
h1,
h2,
h3,
h4,
h5,
h6,
 {
    font-family: 'Merriweather', Noto, 'Noto Sans', 'Open Sans', Tahoma, sans-serif;
    font-weight: 700;
 }


// tracer only
debug { 
    debug_1: $debug-identity;
    debug_2: $debug-slug;
    debug_3: $debug-deriv;
    debug_4: $debug-deriv-slug;
}

// EOF
// ////////////////////////////////////////////////////////////////////////////////
