<table class="layout" width="100%">
    <tr>
        <td><strong><a href="#" id="debug-view-extension" class="brackets">View</a>
        Extensions:</strong></td>
    </tr>
</table>
<table id="debug_extension" class="debug_table hidden">
{% for name, extension in list %}                
    <tr>
        <td style="vertical-align: top">{{ name }}</td>
        <td>
    {%- for e in extension %}{{ e }} {% endfor -%}
        </td>
    </tr>
{% endfor %}
</table>
