<table class="layout" width="100%">
    <tr>
        <td><strong><a href="#" id="debug-view-perf" class="brackets">View</a>
        Performance statistics</strong></td>
    </tr>
</table>
<table id="debug_perf" class="debug_table hidden">
{% for stat, value in list %}
    <tr valign="top">
        <td class="debug_perf_stat">{{ stat }}</td>
        <td class="debug_perf_data">{{ value }}</td>
    </tr>
{% endfor %}
</table>
