{%- from 'macro/header.twig' import css, script -%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="referrer" content="none, no-referrer, same-origin" />
<title>{{ page_title }}</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
{{ css('public/style.css') }}
{% for js in script %}
{{ script(js) }}
{% endfor %}
</head>
<body>
<div id="maincontent">
