/* ########################################################################
   ORPHEUS PAPER THEME
   ######################################################################## */

// ////////////////////////////////////////////////////////////////////////////////
// ABOUT

// This theme provides "light mode" appearance and is based on apollostage.
// Most code is imported from apollostage.

// ////////////////////////////////////////////////////////////////////////////////
// SLUG/SETUP

// import basic colors as a backup:
@use '../apollostage/_variables';

// debug slugs: must be after import.
variables.$build-slug: variables.$build-slug + " " + "paper";

// override as follows:
// ////////////////////////////////////////////////////////////////////////////////
// COLORS

// physical_layout -> token, and token -> raw value.

// Backgrounds
variables.$back-100: #EBEFF0;
variables.$back-200: #DEE2E2;
variables.$back-300: #D0D4D5;
variables.$back-400: #C2C6C7;
variables.$back-500: #B5B9BA;
variables.$back-600: #A7ABAC;
variables.$back-700: #9A9E9F;
variables.$back-800: #8D9091;
variables.$back-900: #808384;
variables.$back-1000: #727576;
$back-800-low: #8D909155;

// Mids
$mid-100: #00AD89;
$mid-200: #00A280;
$mid-300: #009777;
$mid-400: #008D6D;
$mid-500: #008265;
$mid-600: #00745A;
$mid-700: #00674E;
$mid-800: #005943;
$mid-900: #004B38;
$mid-1000: #003D2D;

// Menutheme ~ for base apollostage, same as mids
variables.$menutheme-100: #003D2D;
variables.$menutheme-200: #004B38;
variables.$menutheme-300: #005943;
variables.$menutheme-400: #00674E;
variables.$menutheme-500: #00745A;
variables.$menutheme-600: #008265;
variables.$menutheme-700: #008D6D;
variables.$menutheme-800: #009777;
variables.$menutheme-900: #00A280;
variables.$menutheme-1000: #00AD89;

// Fores
variables.$fore-100: #8E9FB3;
variables.$fore-200: #577AA4;
variables.$fore-300: #2E5D95;
variables.$fore-400: #174A86;
variables.$fore-500: #0C3376;
variables.$fore-600: #0D3167;
variables.$fore-700: #123058;
variables.$fore-800: #162E49;
variables.$fore-900: #17212E;
variables.$fore-1000: #0E0F0F;

// Neutrals (Ink)
$neutral-000: #FFFFFF;
$neutral-100: #F7F8F9;
$neutral-200: #F1F2F4;
$neutral-300: #DCDFE4;
$neutral-400: #B3B9C4;
$neutral-500: #8590A2;
$neutral-600: #758195;
$neutral-700: #626F86;
$neutral-800: #44546F;
$neutral-900: #2C3E5D;
$neutral-1000: #172B4D;
$neutral-1100: #091E42;

// Blues
$blue-000: #E9F2FF;
$blue-100: #CCE0FF;
$blue-200: #85B8FF;
$blue-300: #579DFF;
$blue-400: #388BFF;
$blue-500: #1D7AFC;
$blue-600: #0C66E4;
$blue-700: #0055CC;
$blue-800: #09326C;
$blue-900: #1C2B41;

// Direct-Specialty
variables.$ds-neutral-300: #979a9c;
variables.$ds-neutral-400: #7f807f;
variables.$ds-neutral-500: #5d6670;
variables.$ds-neutral-000: #000;
variables.$ds-red: #a41610;
variables.$ds-green: #11890e;
variables.$ds-yellow: #c9a612;
$ds-orange: #ff8c00;
variables.$ds-fx-low: rgb(0 0 0 / 15%);
variables.$ds-fx-mid: rgb(0 0 0 / 22.5%);
$ds-fx-blue: hsl(215deg 90% 56% / 30%);
variables.$ds-gray-05: hsl(178deg 100% 5.1%);
$ds-gray-13: hsl(180deg 11% 13%); //goes nowhere does nothing;
$ds-gray-52: hsl(181deg 3.5% 52%);
$ds-gray-72: hsl(183deg 4% 72%);
$ds-gray-99: hsl(120deg 100% 99.6%);

// DEFINE FROM LOGICAL LAYOUT TO TOKENS

variables.$color-background-base: variables.$back-100;
variables.$color-background-blockquote: $back-800-low;
variables.$color-background-box: $back-800-low;
variables.$color-background-form: variables.$back-200; // also boxes on frontpage
variables.$color-background-input: variables.$back-400;
variables.$color-background-input-active: variables.$back-500;
variables.$color-background-poll: variables.$back-500;
variables.$color-background-popup: variables.$back-300; // upload musicbrainz info
$color-background-popup-warning: variables.$ds-yellow;
variables.$color-background-searchbars: variables.$back-300;
variables.$color-background-searchbars-field-focus: variables.$back-100;
variables.$color-background-searchbars-surround: variables.$back-500;
variables.$color-background-table: variables.$back-200; // tables/forms without odd-even treatment
variables.$color-background-table-discog: $mid-300; // navigation row ~ "jump down to.."
variables.$color-background-table-row-th: variables.$back-700;
variables.$color-background-table-row-odd: variables.$back-500;
variables.$color-background-table-row-even: variables.$back-300;
variables.$color-background-table-keyrows: $mid-300; // navigation row ~ "jump up to.."
variables.$color-background-table-torrenttable: variables.$back-300; // also form field in focus
variables.$color-background-table-details: variables.$back-400; // equal to blockquote
variables.$color-background-table-torrents-group: variables.$back-600;
variables.$color-background-tooltipster: variables.$back-100;
variables.$color-background-torrent: $mid-200; // edition in group-list
variables.$color-background-fx-unread: $ds-fx-blue;

variables.$color-text-anchor-hover: $blue-800;
variables.$color-text-anchor: $blue-700;
variables.$color-text-base: $neutral-1000;
variables.$color-text-bold: $neutral-1100;
variables.$color-text-button: variables.$ds-gray-05;  //xx checkme
variables.$color-text-footer: variables.$ds-neutral-300;
variables.$color-text-heading-anchor: $blue-700; //x
variables.$color-text-heading: variables.$fore-700;
variables.$color-text-important-alt: variables.$ds-green;
variables.$color-text-important: variables.$ds-red;
variables.$color-text-input: variables.$fore-600; // for pre-populated inputs
variables.$color-text-input-active: variables.$fore-900;
variables.$color-text-linkbox: $blue-700; // links in linkbox
variables.$color-text-menu: $ds-gray-99; // new
variables.$color-text-menu-hover: $ds-gray-99; //new // during pulldown
variables.$color-text-mono: variables.$fore-500;
variables.$color-text-popup-anchor-hover: $blue-800;
variables.$color-text-popup-anchor: $blue-700;
variables.$color-text-popup: $neutral-1000;
variables.$color-text-ratio-greenzone: variables.$ds-green;
variables.$color-text-ratio-redzone: variables.$ds-red;
variables.$color-text-ratio-yellowzone: variables.$ds-yellow;
variables.$color-text-span-blue: hsl(235deg 90% 55%); //x lower
variables.$color-text-span-green: hsl(145deg 90% 35%); //x lower
variables.$color-text-span-red: variables.$ds-red;
variables.$color-text-table-discog-titles: variables.$fore-300;
variables.$color-text-tooltipster: variables.$fore-700;
variables.$color-text-tooltipster-anchor: variables.$fore-900;
variables.$color-text-tooltipster-anchor-hover: variables.$fore-800;

variables.$color-menu-1: orangered; // unused (could be home)
variables.$color-menu-2: variables.$menutheme-100; // torrents
variables.$color-menu-3: variables.$menutheme-200; // collages
variables.$color-menu-4: variables.$menutheme-300; // requests
variables.$color-menu-5: variables.$menutheme-400; // forums
variables.$color-menu-6: variables.$menutheme-500; // irc
variables.$color-menu-7: variables.$menutheme-600; // top10
variables.$color-menu-8: variables.$menutheme-700; // rules
variables.$color-menu-9: variables.$menutheme-800; // wiki
variables.$color-menu-username: variables.$menutheme-900; // username menu ~ closed
variables.$color-menu-userinfo: variables.$menutheme-1000; // VV pulldown menu ~ closed
variables.$color-menu-hover: variables.$menutheme-300;
variables.$color-menu-username-hover: variables.$menutheme-900; // username menu ~ open
variables.$color-menu-userinfo-hover: variables.$menutheme-900; // VV pulldown menu ~ open
variables.$color-menu-fx-selection: variables.$ds-fx-menutheme;
variables.$color-mobilemenu-userinfo-1: variables.$menutheme-400; // mobile pulldown menu gradient 1
variables.$color-mobilemenu-userinfo-2: variables.$menutheme-900; // mobile pulldown menu gradient 2
variables.$color-mobilemenu-closed: $mid-700; // rules, also mobile menu header
variables.$color-mobilemenu-shadow: $mid-500; //mobile menu

variables.$color-obj-button-base-1: $ds-gray-72;
variables.$color-obj-button-base-2: $ds-gray-52;
variables.$color-obj-poll: $mid-900; // poll active part of bargraph

variables.$color-obj-tag_bubble-background: $mid-200; // menu-2 suggested
variables.$color-obj-tag_bubble-foreground: $mid-900; // menu-9 suggested
variables.$color-obj-tag_bubble_snatched-background: variables.$back-600;
variables.$color-obj-tag_bubble_snatched-foreground: variables.$fore-800;

// Autocompletes
variables.$color-background-autocompletes: variables.$color-background-searchbars;
variables.$color-accent-border-autocompletes: variables.$midtone-300;
variables.$color-text-autocomplete: variables.$color-text-input;
variables.$color-text-autocomplete-highlight-match: variables.$fore-1000;

variables.$color-accent-border-blockquote: variables.$back-900; // Dotted
variables.$color-accent-border-box: variables.$back-900;
variables.$color-accent-border-input: variables.$ds-fx-low;
variables.$color-accent-border-input-active: variables.$ds-fx-mid;
variables.$color-accent-border-tooltipster: $mid-800;
variables.$color-accent-border-popup: $mid-800;
variables.$color-accent-border-tableouter: variables.$back-600-mid;
variables.$color-accent-border-tablerows: variables.$back-600-low;
variables.$color-accent-border-tablerows-torrent: variables.$back-600-mid;
variables.$color-accent-shadow-menutext: initial; // provisioned for derivative themes

variables.$color-accent-cats_applications: silver;
variables.$color-accent-cats_audiobooks: cornflowerblue;
variables.$color-accent-cats_comedy: deepskyblue;
variables.$color-accent-cats_comics: gold;
variables.$color-accent-cats_ebooks: chocolate;
variables.$color-accent-cats_elearningvideos: mediumpurple;
variables.$color-accent-cats_music: darkslategray;
variables.$color-accent-forum-inline-last-read: $ds-orange;
variables.$color-accent-forum-unread: $ds-orange;
variables.$color-accent-selection-background: $mid-800;
variables.$color-accent-selection-text: #fff; // usually #fff or $color-text-bold

// popup notifications
variables.$color-background-notification-gradient-1: $mid-1000; // menu low/high suggested
variables.$color-background-notification-gradient-2: $mid-500;  // menu high/low suggested
variables.$color-background-notification: #fff;
variables.$color-text-notification-words: #fff;

// alerts (light mode style)
variables.$color-accent-border-alert: variables.$midtone-500;
variables.$color-background-alert: variables.$ds-gray-92;
variables.$color-text-alert: variables.$ds-black;
variables.$color-anchor-alert: variables.$ds-gray-05;

// ////////////////////////////////////////////////////////////////////////////////
// ICONS

// changing to #000 black version
variables.$icon-message-unread: url(config('STATIC_SERVER') + "/svg/std/document-round-000.svg");
variables.$icon-message-unread-locked: url(config('STATIC_SERVER') + "/svg/std/lock-round-000.svg");
variables.$icon-message-unread-sticky: url(config('STATIC_SERVER') + "/svg/std/pin-round-000.svg");
variables.$icon-message-unread-locked-sticky: url(config('STATIC_SERVER') + "/svg/std/pin-and-lock-round-000.svg");
variables.$icon-message-read: url(config('STATIC_SERVER') + "/svg/std/document-000.svg");
variables.$icon-message-read-locked: url(config('STATIC_SERVER') + "/svg/std/lock-000.svg");
variables.$icon-message-read-sticky: url(config('STATIC_SERVER') + "/svg/std/pin-000.svg");
variables.$icon-message-read-locked-sticky: url(config('STATIC_SERVER') + "/svg/std/pin-and-lock-000.svg");

// Header Pulldown Menu (hamburger/chevron icon)
// not changing, still dark background

// Used in Header
// changing to light mode version
// // Orpheus specific:
variables.$logo-site-lockup: url(config('STATIC_SERVER') + "/svg/site/ops-logo-lockup-lightmode.svg");
variables.$logo-site-square: url(config('STATIC_SERVER') + "/svg/site/ops-logo-loop-lightmode.svg");

// Used on Mobile
// changing to #000 black version
variables.$icon-number-snatches: url(config('STATIC_SERVER') + "/svg/std/arrow-loop-000.svg");
variables.$icon-number-seeders: url(config('STATIC_SERVER') + "/svg/std/arrow-up-round-000.svg");
variables.$icon-number-leechers: url(config('STATIC_SERVER') + "/svg/std/arrow-down-round-000.svg");

// // standard:
// $icon-notification: url(config('STATIC_SERVER') + "/svg/std/notification-bell-000.svg");
// $icon-warning: url(config('STATIC_SERVER') + "/svg/std/x-000.svg")
// // Orpheus specific; other deployments, use the above.
variables.$icon-notification: url(config('STATIC_SERVER') + "/svg/site/ops-icon-harp-000.svg");
variables.$icon-warning: url(config('STATIC_SERVER') + "/svg/site/ops-icon-triangle-000.svg");

@use '../apollostage/_base';

// EOF

/* ****************************** */
/* Local overrides for this theme */

/* no fonts */

// EOF
// ////////////////////////////////////////////////////////////////////////////////
