{{ header('BBCode Sandbox', {'js': 'bbcode_sandbox'}) }}
<div class="header">
    <h2>BBCode Sandbox</h2>
</div>
<div class="thin">
    <textarea id="sandbox" class="wbbarea" style="width: 98%;" onkeyup="resize('sandbox');" name="body" cols="90" rows="8"></textarea>
    <br />
    <br />
    <div class="thin">
        <table class="forum_post wrap_overflow box vertical_margin">
            <tr>
                <td class="body" id="preview">
                </td>
            </tr>
        </table>
    </div>
</div>
{{ footer() }}
