<ul>
{% if personal_allowed or general_allowed %}
<li><strong>Personal</strong> – You can put whatever you want here.
If you do not see the option then you must purchase a slot in the <a
href="/bonus.php">Bonus Shop</a>. Note that Donors are given up to
five free personal collages. You have <b>{{ available }}</b> collage
slot{{ available|plural }} available.</li>
{% endif %}

{% if general_allowed %}
<li><strong>Theme</strong> – A collage containing releases that all
relate to a certain theme.<br />Examples: "Concept Albums", "Funky
Groove", "Predominantly Polka Dot Covers"). <b>DO NOT</b> use this
category for personal collages. You may lose your collage creation
privileges.</li>

<li><strong>Genre Introduction</strong> – A subjective introduction
to a genre composed by our own users.</li>

<li><strong>Discography</strong> – A collage containing all the
releases of an artist, used for keeping track of side projects.</li>

<li><strong>Label</strong> – A collage containing all the releases
of a particular record label.</li>

<li><strong>Staff Picks</strong> – A listing of recommendations
picked by the staff on special occasions.</li>

<li><strong>Artists</strong> – A collection of artists who are
related in some way, for example <i>The World's Greatest Orchestras
according to Gramophone magazine</i> or <i>Musicians who passed
away in 2020</i>.</li>

<li><strong>Charts</strong> – A collage of all the releases that
comprise a certain type of chart<br /> Examples: Billboard Top 100,
Pitchfork Top 100, {{ constant('SITE_NAME') }} Top 10, etc.).</li>

<li><strong>Awards</strong> – A collage of the releases in an annual
competition, with winners determined by member voting or panel
decision<br /> Examples: The Grammy Awards, Gramophone Classical
Music Awards, Academy Awards.</li>

<li><strong>Series</strong> – A defined project within an established
label or accross two or more established labels, must have a specific
series Title and often have a series Logo; can be original releases
or reissues.<br /> Examples: The Desert Sessions (across the following
labels – Matador,Rekords, Man's Ruin, Southern Lord, Ipecac) and
The Originals (Deutsche Gramophone and Decca; The Vivaldi Edition
(Naive / Opus111 labels)</li>
{% endif %}
</ul>
