body {
    background-color: #041813;
    font-family: Bitstream Vera Sans, Tahoma, sans-serif;
    color: #e0e0e0;
}

a {
    color: #178c36;
    text-decoration: none;

    &:hover {
        color: #1fd54f;
        text-decoration: underline;
    }
}

input {
    &[type="text"], &[type="password"] {
        padding: 1px 3px 0px 3px;
        font-family: "tahoma", "arial", "helvetica", "sans-serif";
        font-size: 8pt;
        width: 200px;
    }

    &[type="text"]:valid, &[type="password"]:valid {
        border-style: none;
    }

    &[type="text"]:invalid, &[type="password"]:invalid {
        border-top-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-right-style: solid 2px;
        border-color: red;
    }
}

#head, #foot {
    height: 3%;
    min-height: 10px;
    width: 100%;
    background-color: #041813;
    overflow: hidden;
}

#maincontent {
    width: 100%;
    height: 94%;
    margin-bottom: 50px;
}

#logo {
    height: 170px;
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

.action {
    width: 100%;
}

.action-bar {
    display: block;
    width: max-content;
    margin: 20px auto;
    font-size: 0.8em;
}

.pwrecover {
    width: max-content;
    margin: 20px auto;
}

.action-bar a {
    padding: 0 10px;
}

.main {
    width: 100%;
}

.referral {
    width: 80%;
    margin: 0 auto;
}

.para {
    width: max-content;
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 1.2em;
    padding-top: 18px;
}

.enter {
    width: 100%;
    margin: 20px 0;

    a {
        display: block;
        width: max-content;
        margin: 0 auto;
        font-size: 1.2em;
    }
}

#foot {
    text-align: center;
    position: fixed;
    bottom: 0;
    min-height: 20px;
}

.links {
    font-size: 0.8em;
}

.auth {
    width: max-content;
    margin: 0 auto;
}

.main {
    label {
        font-size: 0.85em;
        width: 90px;
        display: inline-block;
        line-height: 1.8em;
    }

    .submit {
        margin: 10px 0 0 80px;
    }
}

.auth_form a {
    display: block;
    font-size: 0.7em;
    margin-top: 10px;
    margin-left: 80px;
}

.referral {
    label {
        width: 130px;
        display: inline-block;
        line-height: 1.8em;
    }

    > .submit {
        margin: 10px 0;
    }
}

#referral-code {
    color: #f5f5f5;
    padding: 10px;
    background-color: #151515;
    text-align: center;
}

.hidden {
    display: none;
}

.info {
    color: green;
    font-weight: bold;
}

.warning-login {
    text-align: center;
    margin: 50px 0;
    font-weight: 550;
    color: #ff9617;
}

.warning {
    font-weight: 550;
    color: #ff9617;
}

.center {
    text-align: center;
}