{{ header('Recover Password', {'js': 'password,password_validate'}) }}
{% include 'logo.twig' %}

<div id="main">
<div class="pwrecover">
<form class="auth_form" name="recovery" id="recoverform" method="post" action="">
    <input type="hidden" name="key" value="{{ key }}" />
    <div style="width: 500px;">
        <span class="titletext">Enter new password</span><br /><br />
{% if success %}
        Your password has been successfully reset.<br />
        Please <a href="login.php">click here</a> to log in using your new password.
{% else %}
    {% if error %}
        <strong class="important_text">{{ error }}</strong><br /><br />
    {% endif %}
    A strong password is at least 8 characters long, with at least 1&nbsp;lowercase and uppercase letter and at least a number or symbol, or is at least 20 characters long.<br /><br />
        <table class="layout" cellpadding="2" cellspacing="1" border="0" align="center" width="100%">
            <tr valign="top">
                <td align="right" style="width: 140px;">Password&nbsp;</td>
                <td align="left"><input type="password" name="password" id="new_pass_1" class="inputtext" />
                    <span id="password_toggle">&#x1FAE3;</span>
                    <strong id="pass_strength"></strong>
                </td>
            </tr>
            <tr valign="top">
                <td align="right">Confirm Password&nbsp;</td>
                <td align="left"><input type="password" name="verifypassword" id="new_pass_2" class="inputtext" /><br /><strong id="pass_match"></strong></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="reset" value="Save new password" class="submit" /><br />
                After saving, you will be able to log in on the next page.</td>
            </tr>
        </table>
{% endif %}
    </div>
</form>
{{ footer(true) }}
