<style type="text/css">
li { margin-bottom: 10px; }
</style>
<div id="logo">
<a href="/"><img src="{{ static }}/styles/public/images/loginlogo.png" alt="Orpheus Network" title="Orpheus Network" /></a>
</div>

<div style="width: 100%">
<div style="width: 45%; margin: auto;">

<h2>No invitation found</h2>

<div>There is no invitation waiting at the link you accessed. There are
three possibilities:

<ul>

<li>The invitation was issued more than three days ago and has expired.
You should ask the person who invited you to send it again.</li>

<li>You made a mistake when copying the invite url by hand and clipped off a
few characters from the end. At the end of the url, the key following the =
(equals) sign should be 32 characters long. If you made a mistake, you can
correct it and try again.</li>

<li>The invitation has already been used, either by you or someone else.
You should contact the person who invited you, and they can check their
invitees. Otherwise you may try contacting staff on IRC. Join
<tt>irc.orpheus.network</tt>, channel <tt>#disabled</tt>. Depending on the
timezone you may have to wait, but you will receive a response.</li>

</ul>
</div>
</div>
</div>
