{{ header('Weak Password') }}
{% include 'logo.twig' %}
<div class="main">
    <div class="warning-password">
        You are using a weak or known-compromised password. As a security measure you are prevented from
        logging into your account until you <a href="login.php?action=recover">reset your password</a>.
    </div>
</div>
{{ footer() }}
