            </tbody>
        </table>
        <div class="drag_drop_save">
            <input type="submit" name="update" value="Update ranking" title="Save your rank" class="tooltip save_sortable_collage" />
            <input type="submit" name="delete" value="Delete checked" title="Remove items" class="tooltip save_sortable_collage" />
        </div>
        <div>
            <input type="hidden" name="action" value="mass_edit" />
            <input type="hidden" name="type" value="{{ edit_type }}" />
            <input type="hidden" name="auth" value="{{ auth }}" />
        </div>
    </form>
</div>
