<div class="thin">
    <div class="header">
        <h2>No torrents found.</h2>
    </div>
    <div class="box pad" align="center">
        <p>Add some torrents and come back later.</p>
    </div>
</div>
{{ footer() }}
