/* APOLLOSTAGE SUNSET THEME */
/* 2024-07-23 */

// ////////////////////////////////////////////////////////////////////////////////
// SLUG/SETUP

// import basic colors as a backup:
@import '../apollostage/_variables';
// debug slugs: must be after import.
$build-slug: $build-slug + " " + "sunset";
// and override as follows:

// ////////////////////////////////////////////////////////////////////////////////
// COLORS

// physical_layout -> token, and token -> raw value.

// Backgrounds -- 100-600 are used
$back-100: #19181A;
$back-200: #2A242C;
$back-300: #342A33;
$back-400: #3B2F36;
$back-500: #423438;
$back-600: #493B3D;

$fore-400: #8D869D;
$fore-500: #A595AF;
$fore-600: #BCA5BE;
$fore-700: #CDB6C5;
$fore-800: #DBC8D5;
$fore-900: #DADDEA;
$fore-1000: #F9ECEC;

// midtones ~ reduced brightness
// <400 for background accents
// >500 used on black backgrounds
$midtone-100: #674242;
$midtone-200: #7B4848;
$midtone-300: #84464A;
$midtone-400: #D97081;
$midtone-500: #F78DA6;
$midtone-600: #EB90AE;
$midtone-700: #DE93B7;
$midtone-800: #D19DC8;
$midtone-900: #A196C4;
$midtone-1000:#757AAB;

// Menu
$menutheme-100: #ffb0a0;
$menutheme-200: #ff9e98;
$menutheme-300: #fe8691;
$menutheme-400: #f07c8e;
$menutheme-500: #da7c92;
$menutheme-600: #c47891;
$menutheme-700: #ab718d;
$menutheme-800: #8d6a87;
$menutheme-900: #6c6584;
$menutheme-1000: #5c6086;

// Direct-specialty
$ds-fiji: #b43477;
$ds-bali: #9c4366;
$ds-neutral-300: #a4a4a4;
$ds-black: #000;
$ds-menu-white: #fff8f8;

// // Standard except where marked:
// DEFINE FROM LOGICAL LAYOUT TO TOKENS

$color-background-base: $back-100;
$color-background-blockquote: $back-400;
$color-background-box: $back-500;
$color-background-form: $back-200; // also boxes on frontpage
$color-background-input: $back-400;
$color-background-input-active: $back-500;
$color-background-poll: $back-500;
$color-background-searchbars: $back-300;
$color-background-searchbars-field-focus: $back-100;
$color-background-searchbars-surround: $back-500;
$color-background-table: $back-200; // tables/forms without odd-even treatment
$color-background-table-row-th: $back-500;
$color-background-table-row-odd: $back-300;
$color-background-table-row-even: $back-200;
$color-background-table-torrenttable: $back-300; // also form field in focus
$color-background-table-torrents-group: $back-600;

$color-background-torrent: $midtone-200; // edition in group-list
$color-background-table-discog: $midtone-300; // navigation row ~ "jump down to.."
$color-background-table-keyrows: $midtone-300; // navigation row ~ "jump up to.."

$color-menu-1: $menutheme-1000;
$color-menu-2: $menutheme-100;
$color-menu-3: $menutheme-200;
$color-menu-4: $menutheme-300;
$color-menu-5: $menutheme-400;
$color-menu-6: $menutheme-500;
$color-menu-7: $menutheme-600;
$color-menu-8: $menutheme-700;
$color-menu-9: $menutheme-800;
$color-menu-username: $menutheme-900;
$color-menu-userinfo: $menutheme-1000;
$color-menu-hover: $menutheme-300;
$color-menu-username-hover: $menutheme-900;
$color-menu-userinfo-hover: $menutheme-900;
$color-menu-fx-selection: $ds-fx-menutheme;
$color-mobilemenu-userinfo-1: $menutheme-300;
$color-mobilemenu-userinfo-2: $menutheme-600;
$color-mobilemenu-closed: $menutheme-700;
$color-mobilemenu-shadow: $menutheme-500;

$color-text-anchor-hover: $midtone-1000;
$color-text-anchor: $fore-1000;
$color-text-base: $fore-700;
$color-text-bold: $fore-800;
$color-text-button: $ds-gray-05;
$color-text-footer: $ds-neutral-300;
$color-text-heading-anchor: $fore-900; // changed
$color-text-heading: $fore-700;
$color-text-important-alt: $ds-green;
$color-text-important: $ds-red;
$color-text-input: $fore-600; // for pre-populated inputs
$color-text-input-active: $fore-900;
$color-text-linkbox: $midtone-800; // links in linkbox
$color-text-menu: $ds-menu-white; // changed
$color-text-menu-hover: $fore-700; // during pulldown // changed
$color-text-mono: $fore-500;
$color-text-popup-anchor-hover: $midtone-1000;
$color-text-popup-anchor: $fore-900;
$color-text-popup: $fore-700;
$color-text-ratio-greenzone: $ds-green;
$color-text-ratio-redzone: $ds-red;
$color-text-ratio-yellowzone: $ds-yellow;
$color-text-span-blue: hsl(235, 90%, 85%);
$color-text-span-green: hsl(145, 90%, 70%);
$color-text-span-red: $ds-red;
$color-text-table-discog-titles: $midtone-900;
$color-text-tooltipster: $midtone-600;
$color-text-tooltipster-anchor: $midtone-800;
$color-text-tooltipster-anchor-hover: $midtone-1000;

$color-obj-button-base-1: $ds-gray-62;
$color-obj-button-base-2: $ds-gray-92;
$color-obj-poll: $midtone-900; // poll active part of bargraph

$color-obj-tag_bubble-background: $midtone-200; // menu-2 suggested
$color-obj-tag_bubble-foreground: $midtone-900; // menu-9 suggested
$color-obj-tag_bubble_snatched-background: $back-600;
$color-obj-tag_bubble_snatched-foreground: $midtone-1000; // Changed for sunset

$color-accent-border-blockquote: $back-900; // Dotted
$color-accent-border-box: $back-900;
$color-accent-border-input: $ds-fx-low;
$color-accent-border-input-active: $ds-fx-mid;
$color-accent-border-tooltipster: $midtone-800;
$color-accent-border-popup: $midtone-800;
$color-accent-border-tableouter: $back-600-mid;
$color-accent-border-tablerows: $back-600-low;
$color-accent-border-tablerows-torrent: $back-600-mid;
$color-accent-shadow-menutext: initial; // provisioned for derivative themes

$color-accent-cats_applications: silver;
$color-accent-cats_audiobooks: cornflowerblue;
$color-accent-cats_comedy: deepskyblue;
$color-accent-cats_comics: gold;
$color-accent-cats_ebooks: chocolate;
$color-accent-cats_elearningvideos: mediumpurple;
$color-accent-cats_music: darkslategray;
$color-accent-forum-inline-last-read: $ds-fiji; // changed
$color-accent-forum-unread: $ds-fiji; // changed

$color-accent-selection-background: rgba(217, 130, 111, 0.6);  //changed
$color-accent-selection-text: #fff; // changed

// popup notifications
$color-background-notification-gradient-1: $menutheme-200; // menu low/high suggested // changed
$color-background-notification-gradient-2: $menutheme-600;  // menu high/low suggested // changed
$color-background-notification: $ds-neutral-000;
$color-text-notification-words: $ds-black; // changed

// alerts
$color-accent-border-alert: $midtone-500;
$color-background-alert: $midtone-100;
$color-text-alert: $fore-700;
$color-anchor-alert: $fore-1000;

$ds-shadow-heavy: 0 10px 18px rgba(0, 0, 0, 0.55), 0 7px 7px rgba(0, 0, 0, 0.52), 0 -5px 9px rgba(0, 0, 0, 0.32);
$ds-shadow-raised:  0 10px 18px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.22);
$ds-shadow-raised-hover:  0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

@import '../apollostage/_base';
@import '../apollostage/_fonts_base';

// EOF
// ////////////////////////////////////////////////////////////////////////////////
