<div class="thin">
    <table>
        <thead>
        <tr>
            <td>Gift Tokens - {{price}} Points</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <form action="bonus.php?action=purchase&label={{label}}" method="post">
                    <input type="hidden" name="auth" value="{{auth}}" />
                    <input type="hidden" name="confirm" value="true" />
                    <input type="text" style="width: 98%" id="user" name="user" placeholder="User"/> <br />
                    <input type="text" style="width: 98%" id="message" name="message" placeholder="Message"/> <br />
                    <input type="submit" onclick="ConfirmPurchase(event,'{{item}}')" value="Submit" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>