{{ header('Alias in use') }}
<h2>Alias already in use</h2>
<div class="thin pad box">
The alias {{ alias }} is already attached to {{ artist.link|raw }}. You may want to rename that artist to this one.
</div>
{{ footer() }}
