<strong><a href="#" onclick="toggle_edition({{ tgroup.id }}, {{ edition_id }}, this, event);"
           title="Collapse this edition. Hold [Ctrl/Command] while clicking to collapse all editions in this torrent group."
           class="tooltip edition_toggle">–</a>
    {{- torrent.edition }}</strong>
