<div class="linkbox">
    <a class="brackets" href="tools.php?action=periodic&amp;mode=view">Status</a>
    <a class="brackets" href="tools.php?action=periodic&amp;mode=stats">Statistics</a>
{% if can_edit %}
    <a class="brackets" href="tools.php?action=periodic&amp;mode=edit">Edit</a>
{% endif %}
</div>
