{{ header(constant('TOP_TEN_HEADING') ~ " – Tags") }}
<div class="thin">
    <div class="header">
        <h2>{{ constant('TOP_TEN_HEADING') }} – Tags</h2>
{% include 'top10/linkbox.twig' with {'selected': 'tags'} %}
    </div>
{% if detail in ['all', 'top_used'] %}
{%  include 'top10/tag-table.twig' with {
        'caption': 'Most Used Torrent Tags',
        'detail':  'top_used',
        'list':    manager.topTGroupList(limit),
        'limit':   limit,
    }
%}
{% endif %}
{% if detail in ['all', 'top_request'] %}
{%  include 'top10/tag-table.twig' with {
        'caption': 'Most Used Request Tags',
        'detail':  'top_request',
        'list':    manager.topRequestList(limit),
        'limit':   limit,
    }
%}
{% endif %}
{% if detail in ['all', 'top_rvoted'] %}
{%  include 'top10/tag-table.twig' with {
        'caption': 'Most Highly Voted Tags',
        'detail':  'top_voted',
        'list':    manager.topVotedList(limit),
        'limit':   limit,
    }
%}
{% endif %}
</div>
{{ footer() }}

