{{ header(constant('TOP_TEN_HEADING') ~ " – Users") }}
<div class="thin">
<div class="header">
    <h2>{{ constant('TOP_TEN_HEADING') }} – Users</h2>
    {%- include 'top10/linkbox.twig' with {'selected': 'users'} only -%}
</div>

{%- set detail = detail in table|keys ? detail : 'all' -%}
{%- set limit = limit in [10, 100, 250] ? limit : 10 -%}
{%- for tag, t in table -%}
    {%- if detail in ['all', tag] -%}
        {%- include 'top10/user-detail.twig' with {
                'results': top10.fetch(t.Type, limit),
                'limit':   limit,
                'tag':     tag,
                'title':   t.Title,
            } only
         -%}
    {%- endif %}
{% endfor %}

</div>
{{ footer() }}
