{% if not logfile.checksum() %}
    <blockquote>
    {% if pasted is not defined or pasted == false %}
        <strong>Trumpable For:</strong>
        <br /><br />
        {% if logfile.checksumState() == 'checksum_missing' %}
                No Checksum(s)
        {% elseif logfile.checksumState() == 'checksum_invalid' %}
                Invalid Checksum(s)
        {% endif %}
    {% else %}
            Checksums of pasted log files cannot be verified, as the character encoding can change during copy-pasting.
    {% endif %}
    </blockquote>
{% endif %}

{% if logfile.score() == 100 %}
{%    set color = '#418B00' %}
{% elseif logfile.score()  >  90 %}
{%     set color = '#74C42E' %}
{% elseif logfile.score()  >  75 %}
{%     set color = '#FFAA00' %}
{% elseif logfile.score()  >  50 %}
{%     set color = '#FF5E00' %}
{% else %}
{%     set color = '#FF0000' %}
{% endif %}
    <blockquote>
        <strong>Score:</strong> <span style="color:{{ color }}">{{ logfile.score() }}</span> (out of 100)
    </blockquote>
    <blockquote>
        <h3>Log validation report:</h3>
        <ul>
{% for detail in logfile.details() %}
            <li>{{ detail }}</li>
{% endfor %}
        </ul>
    </blockquote>
    <blockquote>
        <pre>{{ logfile.text()|raw }}</pre>
    </blockquote>
