{{ header('Logchecker') }}
<div class="linkbox">
    <a href="logchecker.php?action=upload" class="brackets">Upload Missing Logs</a>
    <a href="logchecker.php?action=update" class="brackets">Update Uploaded Logs</a>
</div>
<div class="thin">
    <h2 class="center">Orpheus Logchecker</h2>
    <div class="box pad">
        <p>
        Use this page to test our logchecker. You can either upload a file or paste the contents
        into the text box below. This will then run the file/text against our logchecker displaying
        to you what it would look like on our site. To verify the checksum of a log file, you will
        need to upload it.
        </p>
        <table class="vertical_margin">
            <tr class="colhead">
                <td colspan="2">Upload file</td>
            </tr>
            <tr>
                <td>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="action" value="take_test" />
                        <input type="file" accept="{{ accepted }}" name="log" size="40" />
                        <input type="submit" value="Upload log" name="submit" />
                    </form>
                </td>
            </tr>
        </table>
        <table class="vertical_margin">
            <tr class="colhead">
                <td colspan="2">Paste log (No checksum verification)</td>
            </tr>
            <tr>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="action" value="take_test" />
                        <textarea rows="20" style="width: 99%" name="pastelog" wrap="soft"></textarea>
                        <br /><br />
                        <input type="submit" value="Upload log" name="submit" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
{{ footer() }}
