{{ header('Logchecker Report') }}
<div class="linkbox">
    <a href="logchecker.php" class="brackets">Test Another Log file</a>
    <a href="logchecker.php?action=upload" class="brackets">Upload Missing Logs</a>
</div>
<div class="thin">
    <h2 class="center">Logchecker Test Results</h2>
{% include 'logchecker/report.twig' %}
</div>
{{ footer() }}
