/* Layout (Torrents page) */

@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);

/* We're going to opt for the category icon method for now, tags_* is also available */
.cats_applications {
  background: url('images/apps.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

.cats_audiobooks {
  background: url('images/audiobook.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

.cats_comedy {
  background: url('images/comedy.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

.cats_comics {
  background: url('images/comics.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

.cats_ebooks {
  background: url('images/ebook.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

.cats_elearningvideos {
  background: url('images/elearning.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

.cats_music {
  background: url('images/music.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

/* Global */

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background-color: #F2E9E1;
  color: #000;
  font-family: tahoma, helvetica, sans-serif;
  font-size: 8pt;
  min-width: 850px;
  width: 100%;
}

/* Common elements */

a {
  border: none;
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #444;
  text-decoration: underline;
}

svg|a {
  fill: #444444;
}

svg|a:hover {
  fill: #444444;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 5px 0;
}

h2 {
  font-size: 12pt;
  text-align: center;
}

h4 {
  font-size: 8pt;
}

p {
  margin: 10px 5px;
}

li {
  margin: 5px 15px;
}

input {
  padding: 2px 3px;
}

textarea {
  padding: 2px 3px;
}

img {
  border: none;
}

/* Ratio Colors */

.r00 { color: #FF0000; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #74C42E; }
.r20 { color: #418B00; }
.r50 { color: #418B00; }
.r99 { color: #418B00; }

/* Styles generated by the BBCode parser */

span.size1 { font-size: 0.75em; }
span.size2 { font-size: 1em; }
span.size3 { font-size: 1.25em; }
span.size4 { font-size: 1.5em; }
span.size5 { font-size: 1.75em; }
span.size6 { font-size: 2em; }
span.size7 { font-size: 2.25em; }
span.size8 { font-size: 2.5em; }
span.size9 { font-size: 2.75em; }
span.size10 { font-size: 3em; }

ul.thin {
  margin: 0 0 0 25px;
  padding: 0;
}

ul.thin li {
  margin: 0;
  padding: 0;
}

/* Layout (Every page) */

#header {
  background: #F2E9E1;
  padding: 0;
  width: 100%;
}

#content {
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  width: 90%;
}

#footer {
  margin-top: 40px;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

#logo {
  background: url('images/logo.png') no-repeat top left;
  height: 78px;
  margin: 5px auto;
  width: 385px;
}

#logo a {
  border: none;
  display: block;
  height: 78px;
  width: 385px;
}

#logo a:hover {
  border: none;
}

#menu {
  background-color: #CBE86B;
  font-size: 10pt;
  padding: 0.6em 0;
  position: absolute;
  text-align: center;
  top: 114px;
  width: 100%;
}

#menu ul li {
  display: inline;
  position: relative;
}

#menu ul li a {
  color: #1C140D;
  padding: 0.6em 1.1%;
}

#menu ul li a.active {
  background-color: #E5F3B5;
}

#menu ul li a:hover {
  background-color: #E5F3B5;
  text-decoration: none;
}

#userinfo {
  background: #1C140D;
  color: #FFF;
  font-size: 8pt;
  padding: 4px 0;
  position: absolute;
  text-align: center;
  top: 146px;
  width: 100%;
}

#userinfo img {
  margin-top: -5px;
}

#userinfo ul {
  display: inline;
  margin: 0 0.8%;
}

#userinfo ul li {
  display: inline;
  line-height: 20px;
  margin: 0 0.1em;
  padding: 0;
  vertical-align: middle;
}

#userinfo a {
  color: #F2E9E1;
}
#userinfo a:hover {
  text-decoration: underline;
}

#userinfo b a {
  font-size: 0.9em;
  font-weight: bold;
}

#searchbars {
  background-color: #FFF;
  margin-top: 2px;
  padding: 4px 0;
  position: absolute;
  text-align: center;
  top: 88px;
  width: 100%;
}

#searchbars input {
  background-color: #F2E9E1;
  border: 1px solid #CCC;
  color: #444;
  font-size: 0.9em;
  padding: 2px 2px 2px 4px;
  position: relative;
}

#searchbars ul {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#searchbars ul li {
  display: inline;
  list-style: none;
  margin: 0 1px;
  position: relative;
}

#searchbars ul li ul {
  background-color: #999;
  display: block;
  left: 0;
  margin-top: 12px;
  position: absolute;
  top: 1em;
  width: 12em;
  z-index: 1000;
}

#searchbars ul li ul li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

#searchbars ul li ul li.highlight {
  background: #D7D7D7;
}

#searchbars ul li form {
  display: inline;
}

#alerts {
  background: #F2E9E1;
  margin-bottom: -90px;
  margin-top: 90px;
  padding: 10px 0;
}

#cat-selector ul {
  width: 100%;
}

#cat-selector ul li {
  display: inline;
  // float: left;
  // height: 1em;
  // width: 12em;
}

.alertbar {
  background-color: #E5F3B5;
  border: 1px solid #999;
  color: #444;
  font-size: 0.95em;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 350px;
}

.alertbar a {
  color: #555;
  text-decoration: underline;
}

.alertbar a:hover {
  color: #777;
  text-decoration: none;
}

/* Layout (Artist page) */

div#flip_view_1 div#similar-artist .name {
  border: 1px solid #666666;
  background: rgba(225, 225, 225, 0.5);
  padding: 2px 4px;
}

/* Layout (Any page) */

.thin {
  margin: 0 auto;
  width: 950px;
}

.widethin { /* overriding the thin class on torrents.php */
  margin: 0 auto;
  width: 95% !important;
}

#userinfo_major .brackets::before {
  font-weight: bold;
}

#userinfo_major .brackets::after {
  font-weight: bold;
}

div.linkbox {
  padding: 5px;
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.min_padding {
  margin: 0;
  padding: 0;
}

p.min_padding {
  margin: 2px 0;
}

.pad {
  padding: 1em;
}

.vertical_space {
  margin-bottom: 10px;
}

.box {
  background-color: #FFF;
  border: 1px solid #666666;
  font-size: 8pt;
  margin-bottom: 10px;
}

.box2 {
  background-color: #FFF;
  border: 1px solid #666666;
  font-size: 8pt;
  margin-bottom: 10px;
}

.pad h3,
.pad h4,
.padbox h3,
.padbox h4 {
  margin-top: 0;
  padding-top: 0;
}

.sidebar {
  float: right;
  width: 245px;
}

.head {
  background: #E1E1E1;
  border-bottom: 1px solid #666;
  color: #333;
  padding: 4px;
}

.body {
  padding: 3px 10px 10px 10px;
}

.main_column {
  width: 695px;
}

.main_column table {
  margin-bottom: 10px;
}

.tags {
  font-style: italic;
  padding: 0 0 0 20px;
}

.tags a {
  color: #222;
}

.tags a:hover {
  color: #444;
  text-decoration: underline;
}

.noborder {
  border: none;
}

ul.nobullet {
  list-style-type: none;
}

table {
  border: 1px solid #666666;
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: #EEE;
}

tr.rowa {
  background-color: #DDD;
}

td,
th {
  border: 1px solid #666666;
  padding: 5px;
  text-align: left;
}

.colhead {
  background: #BBB;
  color: #ffffff;
  font-weight: bold;
}

td.colhead,
.colhead td,
.colhead th {
  padding-left: 10px;
  padding-right: 10px;
}

.colhead .sign,
.colhead_dark .sign {
  font-size: 12pt;
  font-weight: bold;
  padding: 0 8px 0 8px;
  text-align: center;
  vertical-align: middle;
}

.colhead .sign {
  font-size: 12pt;
  font-weight: bold;
  padding: 0 8px 0 8px;
}

.colhead_dark {
  background: #E1E1E1;
  color: #333;
}

td.label {
  font-weight: bold;
  text-align: right;
  width: 180px;
}

table.slice {
  margin-top: -1px;
}

.error_message {
  background-color: #AF2525;
  border: 1px solid #666;
  color: white;
  font-weight: bold;
  padding: 3px 0 3px 0;
  text-align: center;
}

.save_message {
  background-color: #F4E649;
  border: 1px solid #666;
  color: #492802;
  font-weight: bold;
  padding: 3px 0 3px 0;
  text-align: center;
}

.elem_error {
  border: 3px solid #B00D0D;
}

/* Layout (home page) */

ul.stats li {
  padding: 0 0 1px 0;
}

ul.poll li {
  clear: left;
  margin: 0;
  padding: 0 0 0 10px;
}

ul.poll li.graph {
  margin-bottom: 3px;
  padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents {
  background: url('images/show.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

.hide_torrents {
  background: url('images/hide.png') no-repeat center center;
  height: 28px;
  width: 28px;
}

.show_torrents_link {
  border: none;
  display: block;
  height: 28px;
  width: 28px;
}

.filter_torrents {
  margin: auto;
  width: 750px;
}

.filter_torrents .submit {
  padding-top: 5px;
  text-align: right;
}

#content form.search_form + .torrent_table {
  margin-top: 20px;
}

.cat_list tr td {
  border: none;
}

.torrent_table tr {
  vertical-align: top;
}

.torrent_table tr.torrent,
.torrent_table tr.group {
  font-weight: bold;
}

.torrent_table tr.group {
  background-color: #cfcfcf;
}

.torrent_table tr.group_torrent {
  background-color: #fafafa;
}

.torrent_table tr.torrent {
  background-color: #ddd;
}

.torrent_table div.tags {
  font-weight: normal;
}

.torrent_table tr .center {
  text-align: center;
  vertical-align: middle;
}

.group_torrent span {
  float: right;
}

.torrent span {
  float: right;
  font-weight: normal;
}

.nobr {
  white-space: nowrap;
}

/* Layout (Forums) */

.last_read {
  background: url(images/go_last_read.png) no-repeat center center;
  height: 15px;
  margin-left: 5px;
  width: 15px;
}

.last_read a {
  border: none;
  display: block;
  height: 100%;
  width: 100%;
}

.last_read a:hover {
  border: none;
}

.unread_locked_sticky {
  background: url(images/locked_sticky_unread.png) no-repeat center center;
}

.read_locked_sticky {
  background: url(images/locked_sticky_read.png) no-repeat center center;
}

.read_sticky {
  background: url(images/sticky_read.png) no-repeat center center;
}

.unread_sticky {
  background: url(images/sticky_unread.png) no-repeat center center;
}

.unread_locked {
  background: url(images/locked_unread.png) no-repeat center center;
}

.read_locked {
  background: url(images/locked_read.png) no-repeat center center;
}

.unread {
  background: url(images/unread.png) no-repeat center center;
}

.read {
  background: url(images/read.png) no-repeat center center;
}

strong.quoteheader { color: #000; }

table.forum_post {
  margin: 10px 0;
}

table.forum_post td {
  border: 1px solid #666;
}

table.forum_unread {
  border: 2px solid #F0BBD6;
}

td.avatar {
  padding: 0;
  width: 150px;
}

table.forum_post td.body {
  width: 690px;
}

blockquote {
  border: 1px dashed #666;
  margin: 10px;
  padding: 10px;
}

/* Layout (Inbox) */

tr.unreadpm {
  background-color: #ECC;
}

/* Layout (Permission Page) */

.permission_head {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.permissions {
  margin-left: auto;
  margin-right: auto;
  width: 930px;
}

.permission_container {
  float: left;
  padding: 5px;
  width: 300px;
}

.permission_container input {
  margin: 0 3px 5px 0;
  vertical-align: top;
}

.submit_container {
  clear: both;
  text-align: right;
}

.toolbox_container {
  float: left;
  padding: 5px;
  width: 200px;
}

/* Layout (Invite tree) */

ul .invitetree {
  margin: 0 0 0 25px;
}

.invitetree li {
  list-style: none;
  margin: 10px 2px;
}

/* Layout (User options) */

.user_options .options_list li {
  margin: 0;
}

/* Layout (MISC) */

.left_poll {
  background: url('images/bar_left.gif') no-repeat center center;
  float: left;
  height: 9px;
  margin: 0;
  padding: 0;
  width: 2px;
}

.center_poll {
  background: url('images/bar.gif') repeat;
  float: left;
  height: 9px;
  margin: 0;
  padding: 0;
  max-width: 785px;
}

#index .center_poll {
  max-width: 175px;
}

.right_poll {
  background: url('images/bar_right.gif') no-repeat center center;
  float: left;
  height: 9px;
  margin: 0;
  padding: 0;
  width: 2px;
}

.curtain {
  background-color: black;
  filter: alpha(opacity=80);
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.lightbox {
  height: 90%;
  left: 5%;
  overflow: auto;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 5%;
  width: 90%;
  z-index: 1002;
}

.center {
  text-align: center;
}

.spellcheck {
  font-size: 1.25em;
  font-weight: bold;
  margin: 25px 0;
}

tr.torrent .bookmark > a::before {
  color: black;
}

tr.torrent .bookmark > a::after {
  color: black;
}

.field_div {
  margin-bottom: 10px;
}

.edit_changelog textarea {
  width: 600px;
}

.brackets {
  font-weight: normal;
}

div[class~=tooltipster-content] > a {
  color: #AAAAAA;
}

.post_id {
  font-weight: normal;
}

.vote_tag_up,
.vote_artist_up,
.vote_album_up,
.small_upvote,
.small_upvoted {
  font-weight: bolder;
  color: green;
}

.vote_tag_down,
.vote_artist_down,
.vote_album_down,
.small_downvote,
.small_downvoted {
  font-weight: bolder;
  color: red;
}

/* get rid of extraneous padding in the Top Contributors box */

#request_top_contrib {
  border: none;
}

#request_top_contrib tr:first-child th {
  border-top: 0;
}

#request_top_contrib tr:last-child td {
  border-bottom: 0;
}

#request_top_contrib tr td:first-child,
#request_top_contrib tr th:first-child,
#request_top_contrib tr td:nth-child(2),
#request_top_contrib tr th:nth-child(2) {
  border-left: 0;
  border-top: 0;
}

#request_top_contrib tr td:last-child,
#request_top_contrib tr th:last-child {
  border-right: 0;
}

ol {
  margin-left: 1em;
}

#forum_search_cat_list {
  border: none;
}

.avatar_container {
  word-wrap: normal;
}
