{{ header('Rule Index') }}
<div class="thin">
{% include 'rules/toc.twig' %}
<div class="header">
    <h2 id="general">Golden Rules</h2>
    <p>The Golden Rules encompass all of {{ constant('SITE_NAME') }} and our IRC Network.
    These rules are paramount; non-compliance will jeopardize your account.</p>
</div>
<div class="box pad rule_summary" style="padding: 10px 10px 10px 20px;">
    {% include 'rules/golden.twig' %}
</div>
</div>
{{ footer() }}
