<ol>

<li>Staff have the final decision. If a staff member says stop and you continue,
expect at least to be banned from the IRC network.</li>

<li>Be respectful to IRC Operators and Administrators. These people are site
staff who volunteer their time for no compensation. They are there for the
benefit of all and to aid in conflict resolution; do not waste their time.</li>

<li>Do not link shock sites or anything NSFW (not safe for work) without a
warning. If in doubt, ask a staff member in #help about it.</li>

<li>Excessive swearing will get you kicked; keep swearing to a minimum.</li>

<li>Do not leave Caps Lock enabled all the time. It gets annoying, and you will
likely get yourself kicked.</li>

<li>No arguing. You can't win an argument over the Internet, so you are just
wasting your time trying.</li>

<li>No prejudice, especially related to race, religion, politics, sexual
preference, ethnic background, etc. It is suggested to avoid these subjects
entirely.</li>

<li>Flooding is irritating and will warrant you a kick. This includes, but is
not limited to, automatic "now playing" scripts, pasting large amounts of text,
and multiple consecutive lines with no relevance to the conversation at
hand.</li>

<li>Impersonation of other members&#8202;&mdash;&#8202;particularly staff
members&#8202;&mdash;&#8202;will not go unpunished. If you are uncertain of a
user's identity, check their vhost.</li>

<li>Spamming is strictly forbidden. This includes, but is not limited to,
personal sites, online auctions, and torrent uploads.</li>

<li>Obsessive annoyance&#8202;&mdash;&#8202;both to other users and
staff&#8202;&mdash;&#8202;will not be tolerated.</li>

<li>Do not PM, DCC, or Query anyone you don't know or have never talked to
without asking first; this applies especially to staff.</li>

<li>No language other than English is permitted in the IRC channels. If we
cannot understand it, we cannot moderate it.</li>

<li>The offering, selling, trading, and giving away of invites to this or any
other site on our IRC network is <strong>strictly forbidden</strong>.</li>

<li>The creation of non-official channels on the IRC network is prohibited.
Please send a <a href="staffpm.php">Staff PM</a> if you want to add a channel to
our network.

<li><strong>Read the channel topic before asking questions.</strong></li>

</ol>
