<ul>

<li>Multiple tags must be separated by commas, and you can use a dot (".") or
simple dash ("-") to separate words inside a tag&nbsp;&mdash;&nbsp;e.g. "<strong
class="important_text_alt">hip.hop</strong>" or "<strong
class="important_text_alt">post-rock</strong>". Spaces embedded inside tags will
be converted to dots.</li>

<li>There is a list of official tags {{ on_upload ? 'to the left of the text
box' : 'on <a href="upload.php">the torrent upload page</a>' | raw }}. Please use
these tags instead of "unofficial" tags (e.g. use the official "<strong
class="important_text_alt">drum.and.bass</strong>" tag, instead of an unofficial
"<strong class="important_text">dnb</strong>" tag). <strong>Please note that the
"<strong class="important_text_alt">2000s</strong>" tag refers to music produced
between 2000 and 2009.</strong></li>

<li>Avoid abbreviations. Instead of tagging an album as "<strong
class="important_text">alt</strong>", tag it as "<strong
class="important_text_alt">alternative</strong>". Make sure that you use correct
spelling. Psychedelic does not contain the letter "a".</li>

<li>Avoid using multiple synonymous tags. Using both "<strong
class="important_text">prog.rock</strong>" and "<strong
class="important_text_alt">progressive.rock</strong>" is redundant and
annoying&nbsp;&mdash;&nbsp;just use the official "<strong
class="important_text_alt">progressive.rock</strong>" tag.</li>

<li>Do not add useless tags, such as "<strong
class="important_text">seen.live</strong>", "<strong
class="important_text">awesome</strong>", "<strong
class="important_text">lastfm</strong>", etc. If an album is live, you can tag
it as "<strong class="important_text_alt">live</strong>", and the Release type
should be Live or Concert Recording.</li>

<li>Only tag information on the album itself&nbsp;&mdash;&nbsp;<strong>not an
individual upload or release</strong>. Tags such as "<strong
class="important_text">v0</strong>", "<strong
class="important_text">eac</strong>", "<strong
class="important_text">vinyl</strong>", "<strong
class="important_text">from.what</strong>", etc. are strictly forbidden.
Remember that these tags will be used for other versions of the same album.</li>

<li><strong>You should be able to build up a list of tags using
only the official tags {%- if on_upload -%}
to the left of the text box
{%- else -%}
on <a href="upload.php">the torrent upload page</a>'
{%- endif -%}. If you are in any doubt about whether or not a tag is acceptable,
do not add it (it can always be added afterwards).</strong></li>

</ul>
