<h3 id="jump">Rule Sections</h3>
<div class="box pad rule_table" style="padding: 10px 10px 10px 20px;">
    <table class="m_table" width="100%">
        <tr class="colhead">
            <td class="m_th_left" style="width: 150px;">Category</td>
            <td style="width: 400px;">Additional Information</td>
        </tr>
        <tr class="rowb">
            <td class="nobr">
                <a href="rules.php">Golden Rules</a>
            </td>
            <td class="nobr">
                These are the most important rules. Breaking these rules will result in the most serious consequences.
            </td>
        </tr>
        <tr class="rowa">
            <td class="nobr">
                <a href="rules.php?p=ratio">Ratio</a>
            </td>
            <td class="nobr">
                These are the rules for seeding/leeching activity on this site.
            </td>
        </tr>
        <tr class="rowb">
            <td class="nobr">
                <a href="rules.php?p=requests">Requests</a>
            </td>
            <td class="nobr">
                These are the rules that govern requests.
            </td>
        </tr>
        <tr class="rowa">
            <td class="nobr">
                <a href="rules.php?p=collages">Collages</a>
            </td>
            <td class="nobr">
                These are the rules that govern collages.
            </td>
        </tr>
        <tr class="rowb">
            <td class="nobr">
                <a href="rules.php?p=clients">Clients</a>
            </td>
            <td class="nobr">
                These are the clients we allow to connect to our tracker and rules specific to them.
            </td>
        </tr>
        <tr class="rowa">
            <td class="nobr">
                <a href="rules.php?p=upload">Upload</a>
            </td>
            <td class="nobr">
                This is the section of the rules regarding any and all content which is allowed on this site.
            </td>
        </tr>
        <tr class="rowb">
            <td class="nobr">
                <a href="rules.php?p=chat">Chat</a>
            </td>
            <td class="nobr">
                Read this before posting in our forums or talking on our IRC network.
            </td>
        </tr>
        <tr class="rowa">
            <td class="nobr">
                <a href="rules.php?p=tag">Tagging</a>
            </td>
            <td class="nobr">
                These rules govern what tags can and cannot be added.
            </td>
        </tr>
    </table>
</div>
