{{ header('Uploading Rules', {'js': 'rules'}) }}
<div class="thin">
    {% include 'rules/toc.twig' %}
    <div class="header">
        <h2>Uploading Rules</h2>
    </div>
    <br />
    <form class="search_form" name="rules" onsubmit="return false" action="">
        <input type="text" id="search_string" value="Filter (empty to reset)" />
        <span id="Index">Example: The search term <strong>FLAC</strong> returns
        all rules containing <strong>FLAC</strong>. The search term
        <strong>FLAC+trump</strong> returns all rules containing both
        <strong>FLAC</strong> and <strong>trump</strong>.</span>
    </form>
    <br />
    <div class="before_rules">
        <div class="box pad" style="padding: 10px 10px 10px 20px;">
            {{ toc|raw }}
        </div>
    </div>
    <div id="actual_rules">
        {{ body|raw }}
    </div>
</div>
{{ footer() }}
