/* Error: Undefined variable.
 *      ,
 * 1793 |     background-color: $color-menu-4;
 *      |                       ^^^^^^^^^^^^^^^^^
 *      '
 *   ../apollostage/_base.scss 1793:23  @import
 *   style.scss 88:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a      \2577 \a 1793 \2502      background-color: $color-menu-4;\a      \2502                        ^^^^^^^^^^^^^^^^^\a      \2575 \a   ../apollostage/_base.scss 1793:23  @import\a   style.scss 88:9                    root stylesheet";
}
