{{ header("Enable Request Processed") }}

<div class="box pad thin">
{% if success %}
    You have successfully reenabled your account. You may now <a href="/">login</a>.
{% else %}
    Your account could not be enabled. Please visit {{ IRC_CHAN_BLOCKED }} on {{ IRC_HOSTNAME }}
{% endif %}

{{ footer() }}
