<div id="logo">
{% if constant('SHOW_LOGO') %}
<a href="/" style="margin-left: 0;"><img src="{{ constant('STATIC_SERVER') }}/styles/public/images/loginlogo.png" alt="{{ constant('SITE_NAME') }}" title="{{ constant('SITE_NAME') }}" /></a>
{% endif %}
</div>
