<div class="linkbox">
    <a class="brackets" href="better.php?method=transcode">Transcodes</a>
    <a class="brackets" href="better.php?method=missing">Missing</a>
    <a class="brackets" href="better.php?method=single">Single Seeded</a>
</div>
