{{ header('Single seeder FLACs') }}
<div class="thin">
    <h2>Single Seeded</h2>
    {% include 'better/links.twig' only %}
    <div class="box pad">
        <div class="torrent">
            <h3>Here are {{ results|length }} random torrents
                {% if results and viewer.permitted('zip_downloader') %}
                    {% include 'better/zip.twig' with {torrent_ids: results|map(t => "#{t.id}")|join(',')} only %}
                {% endif %}
                <small>(seeding size: {{ results|map(t => "#{t.size}")|reduce((sum, s) => sum + s, 0)|octet_size }})</small>
            </h3>
        </div>
        {% include 'better/single-list.twig' with {
            results: results,
            viewer: viewer,
        } only %}
    </div>
</div>
{{ footer() }}
