<span class="torrents_links_block">
    <a class="brackets" href="torrents.php?action=collector&amp;title=better&amp;ids={{ torrent_ids }}" onclick="return confirm('If you do not have the content, your ratio WILL be affected; be sure to check the size of all torrents before downloading.');">Download All</a>
</span>

