# These are the cron jobs.
# Adjust PATH according to where the repository is checked out on the filesystem

PATH=$PATH:/var/www/scripts

0,15,30,45  *   * * * scheduler >> /tmp/schedule.log
*           *   * * * /usr/bin/indexer -c /etc/sphinx/sphinx.conf --rotate delta requests_delta log_delta > /dev/null
5           */2 * * * /usr/bin/indexer -c /etc/sphinx/sphinx.conf --rotate --all >> /tmp/sphinx-indexer.log
