/* APOLLOSTAGE COFFEE THEME */
/* 2024-05-16 */

// DEFINE THEME COLORS AND ICONS

// import basic colors as a backup:

@import '../apollostage/_variables';

// and override as follows:

  $levelbb: #272524;
  $levelaa: #302C2B;
  $level01: #3D2C29;
  $level02: #45322E;
  $level03: #4E3833;
  $level04: #563E37;
  $level05: #5F443B;
  $level06: #674A3F;
  $level07: #6F5042;
  $level08: #785746;
  $level09: #805D49;
  $level10: #89644C;
  $text11: #B4825D;
  $text12: #C0906A;
  $text13: #CBA079;
  $text14: #D7B18B;
  $text15: #E4C6A6;
  $text16: #EFDAC1;
  $text17: #fffacd;

// define theme colors

$direct-accent-primary: $text16;
$color-background-base: #1d1c1d;

$color-background-table: $levelbb;
$color-background-table-secondary: $level01;	// also form field in focus
$color-background-input: $levelaa; 	            // also table-even-rows
$color-background-form: $levelbb; 				// also boxes on frontpage

$color-text-input: $text14;
$color-text-mono: $text14;
$color-text-base: $text15;
$color-text-bold: $text16;
$color-text-anchor: $text17;
$color-text-menu: $text17;
$color-text-anchor-hover: $text13;

// Ten color gradient:

$color-menu-2: $level10;    // torrents
$color-menu-3: $level09;     // collages
$color-menu-5: $level08;    // requests
$color-menu-5: $level07;     // forums
$color-menu-6: $level06;     // irc
$color-menu-7: $level05;   // top10
$color-mobilemenu-closed: $level04;                  // rules, also mobile menu header
$color-menu-9: $level03;     // wiki
$color-menu-username: $level02;                  // username menu ~ closed
$color-menu-username-hover: $level02; // username menu ~ open
$color-menu-userinfo: $level01;                     // VV pulldown menu ~ closed
$color-menu-userinfo-hover: $level03;    // VV pulldown menu ~ open

// mobile pulldown menu gradient

$color-mobilemenu-userinfo-1: $level09;    // mobile pulldown menu gradient 1
$color-mobilemenu-userinfo-2: $level03;    // mobile pulldown menu gradient 2

// notification gradient

$color-background-gradient-1: $level09;	// usually works well with 'third-child'
$color-background-gradient-1: $level03;    // usually works well with 'seventh-child'

// these are GNDN: goes nowhere, does nothing

$menu-background-color-1: #880D1E;  // noop
$menu-background-color-2: #DD2D4A;  // noop

// formatting colors for page elements

$color-background-blockquote: $level01;
$color-background-torrent: $levelaa;
$color-text-footer: #949494;
$color-text-ratio-redzone: #e74e4e;
$color-text-ratio-yellowzone: #e1b661;
$color-accent-selection-background: rgba(180, 160, 139, 0.6);
$color-background-poll: rgba(197, 176, 155, 0.1);

// overrides these colors when called: for more theme flavor?

$color-text-span-green: #4eb44e;
$color-text-span-blue: #4e4ee7;

// accent color for upload categories (stripes)

$color-accent-cats_music: #fd6659;
$color-accent-cats_applications: #f02940;
$color-accent-cats_audiobooks: #a54873;
$color-accent-cats_comedy: #8b869c;
$color-accent-cats_comics: #688187;
$color-accent-cats_ebooks: #578f9d;
$color-accent-cats_elearningvideos: #793555;

// accent color for tag bubbles

// These can equal "ninth" and "second"
// or adjust contrast as desired to emphasize/de-emphaszie
$color-obj-tag_bubble-background: $level04; 
$color-obj-tag_bubble-foreground: $text12; 

@import '../apollostage/_base';

// EOF

