<td class="td_collapse center m_td_left">
    <div id="showimg_{{ id }}" class="{% if closed %}show{% else %}hide{% endif %}_torrents">
        <a href="#" class="tooltip show_torrents_link" onclick="toggle_group({{ id }}, this, event);" title="Collapse this group. Hold [Command] <em>(Mac)</em> or [Ctrl] <em>(PC)</em> while clicking to collapse all groups in this release type."></a>
    </div>
</td>
