/* APOLLOSTAGE COFFEE THEME */
/* 2024-05-16 */

// DEFINE THEME COLORS AND ICONS

// import basic colors as a backup:

@import '../apollostage/_variables';

// and override as follows:

  $levelbb: #272524;
  $levelaa: #302C2B;
  $level01: #3D2C29;
  $level02: #45322E;
  $level03: #4E3833;
  $level04: #563E37;
  $level05: #5F443B;
  $level06: #674A3F;
  $level07: #6F5042;
  $level08: #785746;
  $level09: #805D49;
  $level10: #89644C;
  $text11: #B4825D;
  $text12: #C0906A;
  $text13: #CBA079;
  $text14: #D7B18B;
  $text15: #E4C6A6;
  $text16: #EFDAC1;
  $text17: #fffacd;

// define theme colors

$primary-accent-color: $text16;
$base-background-color: #1d1c1d;

$table-background-color: $levelbb;
$secondary-table-background-color: $level01;	// also form field in focus
$input-background-color: $levelaa; 	            // also table-even-rows
$form-background-color: $levelbb; 				// also boxes on frontpage

$input-color: $text14;
$mono-text-color: $text14;
$base-text-color: $text15;
$bold-text-color: $text16;
$a-color: $text17;
$a-hover-color: $text13;

// Ten color gradient:

$menu-li-second-child-background-color: $level10;    // torrents
$menu-li-third-child-background-color: $level09;     // collages
$menu-li-fourth-child-background-color: $level08;    // requests
$menu-li-fifth-child-background-color: $level07;     // forums
$menu-li-sixth-child-background-color: $level06;     // irc
$menu-li-seventh-child-background-color: $level05;   // top10
$header-background-color: $level04;                  // rules, also mobile menu header
$menu-li-ninth-child-background-color: $level03;     // wiki
$userinfo-username-color: $level02;                  // username menu ~ closed
$userinfo-username-hover-background-color: $level02; // username menu ~ open
$userinfo-minor-color: $level01;                     // VV pulldown menu ~ closed
$userinfo-minor-hover-background-color: $level03;    // VV pulldown menu ~ open

// mobile pulldown menu gradient

$userinfo-background-color-1: $level09;    // mobile pulldown menu gradient 1
$userinfo-background-color-2: $level03;    // mobile pulldown menu gradient 2

// notification gradient

$gradient-color-1: $level09;	// usually works well with 'third-child'
$gradient-color-2: $level03;    // usually works well with 'seventh-child'

// these are GNDN: goes nowhere, does nothing

$menu-background-color-1: #880D1E;  // noop
$menu-background-color-2: #DD2D4A;  // noop

// formatting colors for page elements

$blockquote-background-color: $level01;
$torrent-background-color: $levelaa;
$footer-color: #949494;
$ratio-red-color: #e74e4e;
$ratio-yellow-color: #e1b661;
$selection-background-color: rgba(180, 160, 139, 0.6);
$poll-background-color: rgba(197, 176, 155, 0.1);

// overrides these colors when called: for more theme flavor?

$span-green-color: #4eb44e;
$span-blue-color: #4e4ee7;

// accent color for upload categories (stripes)

$accent-color-cats_music: #fd6659;
$accent-color-cats_applications: #f02940;
$accent-color-cats_audiobooks: #a54873;
$accent-color-cats_comedy: #8b869c;
$accent-color-cats_comics: #688187;
$accent-color-cats_ebooks: #578f9d;
$accent-color-cats_elearningvideos: #793555;

// accent color for tag bubbles

// These can equal "ninth" and "second"
// or adjust contrast as desired to emphasize/de-emphaszie
$tag-bubble-background-color: $level04; 
$tag-bubble-foreground-color: $text12; 

@import '../apollostage/_base';

// EOF

