// 
// APOLLOSTAGE THEME 
// DEFINE THEME COLORS AND ICONS

  $back-100: #131918;
  $back-200: #161C1B;
  $back-300: #181F1E;
  $back-400: #1A2321;
  $back-500: #1C2624;
  $back-600: #1E2926;
  $back-700: #202C29;
  $back-800: #22302C;
  $back-900: #24332F;
  $back-1000: #263632;
  $blk: #020B09;
  $mid-100: #093A2E;
  $mid-200: #0C4A3B;
  $mid-300: #0F5B49;
  $mid-400: #126C56;
  $mid-500: #157D63;
  $mid-600: #188E71;
  $mid-700: #1A9F7E;
  $mid-800: #1DAF8B;
  $mid-900: #20C098;
  $mid-1000: #23D1A5;
  $blk: #0B0B05;
  $fore-100: #C7C958;
  $fore-200: #B6C9AD;
  $fore-300: #BFCEBB;
  $fore-400: #C3D3C1;
  $fore-500: #C7D7C7;
  $fore-600: #CCDCCD;
  $fore-700: #D3E1D4;
  $fore-800: #D9E6DB;
  $fore-900: #DFEAE2;
  $fore-1000: #E5EFE9;
  $foo: #000000;


// define palette
$levelbb: #242726;
$levelaa: #2B302F;
$level01: #0A3D30;
$level02: #0B4537;
$level03: #0D4E3E;
$level04: #0E5645;
$level05: #105F4C;
$level06: #116753;
$level07: #126F5A;
$level08: #147862;
$level09: #15806A;
$level10: #178972;
$text11: #5EB4A2;
$text12: #6CC0B0;
$text13: #7ACBBC;
$text14: #8AD7C9;
$text15: #c3c6c6; // in sequence, #A5E4D9;
$text16: #C1EFE7;
$text17: #CDF8FF;

// define theme colors

$base-background-color: $back-100;
$form-background-color: $back-300; 	// also boxes on frontpage
$table-background-color: $back-200;	// primarily table-odd-rows
$input-background-color: $back-500; 	// also table-even-rows
$secondary-table-background-color: $back-700;	// also form field in focus

$input-color: $fore-400;	// for pre-populated inputs
$mono-text-color: $fore-400;
$base-text-color: $fore-500;
$bold-text-color: $fore-600;
$a-color: $fore-1000;
$a-hover-color: $fore-400;
$button-text-color: $levelaa;

$primary-accent-color: $mid-700;	// for portions of headers
$offset-accent-color: $fore-100;

// Ten color gradient:

// (L-R Light To Dark Style)

$menu-li-second-child-background-color:	$mid-100; // torrents
$menu-li-third-child-background-color:	$mid-200; // collages
$menu-li-fourth-child-background-color:	$mid-300; // requests
$menu-li-fifth-child-background-color:	$mid-400; // forums
$menu-li-sixth-child-background-color:	$mid-500; // irc
$menu-li-seventh-child-background-color:	$mid-600; // top10
$header-background-color:		$mid-700; // rules, also mobile menu header
$menu-li-ninth-child-background-color:	$mid-800; // wiki
$userinfo-username-color:		$mid-900; // username menu ~ closed
$userinfo-username-hover-background-color:	$mid-700; // username menu ~ open
$userinfo-minor-color:	$mid-1000; // VV pulldown menu ~ closed
$userinfo-minor-hover-background-color:	$mid-700; // VV pulldown menu ~ open

// (L-R Dark To Light Style)
// 1000 to 100

// mobile pulldown menu gradient

$userinfo-background-color-1: $mid-700; // mobile pulldown menu gradient 1
$userinfo-background-color-2: $mid-300; // mobile pulldown menu gradient 2

// notification gradient

$gradient-color-1: $mid-900;	// usually works well with 'third-child'
$gradient-color-2: $mid-300;	// usually works well with 'seventh-child'
$notification-background-color: #000000;

// these are GNDN: goes nowhere, does nothing

$menu-background-color-1: #009999;		// noop
$menu-background-color-2: #008888;		// noop

// formatting colors for page elements

$blockquote-background-color: $mid-100;
$torrent-background-color: $back-200;
$blockquote-border-color: $back-600;
$box-background-color: #50505070;
$box-border-color: #212A2DAA; 
$input-background-color: #252F32;	
$input-border-color: rgb(255 255 255 / 8%);
$input-border-color-active: rgb(255 255 255 / 20%);
$torrent-background-color: #1F282B;
$footer-color: $fore-200;
$input-color: #c6c9c9;
$button-base-color-1: #b8b8b8;
$button-base-color-2: $a-color;
$ratio-red-color: #e85050;
$ratio-yellow-color: #e3ba65;
$ratio-green-color: #4fb650;
$selection-background-color: rgb(105 217 146 / 60%);
$selection-foreground-color: $bold-text-color; // usually #fff or $bold-text-color
$poll-background-color: rgb(131 228 166 / 10%);

// overrides these colors when called: why?

$span-green-color: #4fb650; 	
$span-blue-color: #4f50e9; 	

// accent color for upload categories (stripes)

$accent-color-cats_music: darkslategray;
$accent-color-cats_applications: silver;
$accent-color-cats_audiobooks: cornflowerblue;
$accent-color-cats_comedy: deepskyblue;
$accent-color-cats_comics: gold;
$accent-color-cats_ebooks: chocolate;
$accent-color-cats_elearningvideos: mediumpurple;

// accent color for tag bubbles

// These can equal "ninth" and "second"
// or adjust contrast as desired to emphasize/de-emphaszie
$tag-bubble-background-color: $mid-300; 
$tag-bubble-foreground-color: $mid-900; 

// Forum icons

$unread-icon: url("https://wally-crunk.github.io/svg/gazelle/document-round.svg");
$unread-locked-icon: url("https://wally-crunk.github.io/svg/gazelle/lock-round.svg");
$unread-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-round.svg");
$unread-locked-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock-round.svg");

$read-icon: url("https://wally-crunk.github.io/svg/gazelle/document.svg");
$read-locked-icon: url("https://wally-crunk.github.io/svg/gazelle/lock.svg");
$read-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin.svg");
$read-locked-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock.svg");

// Header Pulldown Menu (hamburger/chevron icon)

$menu-open-state-icon: url("https://wally-crunk.github.io/svg/gazelle/menu.svg");
$menu-closed-state-icon: url("https://wally-crunk.github.io/svg/gazelle/chevrons-down.svg");
$mobile-pulldown-icon: url("https://wally-crunk.github.io/svg/gazelle/chevrons-down.svg");

// Used in Header

$site-logo-lockup: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-lockup.svg");
$site-logo-square: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-loop.svg");

// Used on Mobile
$number-snatches-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-loop.svg");
$number-seeders-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-up-round.svg");
$number-leechers-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-down-round.svg");
