<table class="layout">
    <tr class="colhead">
        <td colspan="2">
            Lock Account
        </td>
    </tr>
    <tr>
        <td class="label">Lock Account:</td>
        <td>
            <input type="checkbox" name="LockAccount" id="LockAccount"{{ is_locked|checked }} /> You must give the reason below when locking.
        </td>
    </tr>
    <tr>
        <td class="label">Lock Reason:</td>
        <td>
            <select name="LockType">
                <option value="---">---</option>
                <option value="{{ staff_lock }}" {{ is_locked|checked }}>Staff Lock</option>
            </select>
        </td>
    </tr>
{% if can_logout %}
    <tr>
        <td class="label">Log out:</td>
        <td><input type="checkbox" name="Logout" id="LogOut" /></td>
    </tr>
{% endif %}
</table>
