<tr>
    <td class="label">Reset:</td>
    <td>
        <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="ResetRatioWatch" id="ResetRatioWatch" />
        <label for="ResetRatioWatch">Ratio watch</label></span>
        <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="ResetPasskey" id="ResetPasskey" />
        <label for="ResetPasskey">Passkey</label></span>
        <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="ResetAuthkey" id="ResetAuthkey" />
        <label for="ResetAuthkey">Authkey</label></span>
        <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="ResetIPHistory" id="ResetIPHistory" />
        <label for="ResetIPHistory">IP history</label></span>
        <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="ResetEmailHistory" id="ResetEmailHistory" />
        <label for="ResetEmailHistory">Email history</label></span>
        <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="ResetSnatchList" id="ResetSnatchList" />
        <label for="ResetSnatchList">Snatch list</label></span>
        <span style="white-space: nowrap; padding-right: 15px"><input type="checkbox" name="ResetDownloadList" id="ResetDownloadList" />
        <label for="ResetDownloadList">Download list</label></span>
    </td>
</tr>
