<table class="layout" id="submit_box">
    <tr class="colhead">
        <td colspan="2">
            Submit
        </td>
    </tr>
    <tr>
        <td class="label">Paste user stats:</td>
        <td>
            <button type="button" id="paster">Paste</button>
        </td>
    </tr>
    <tr>
        <td class="label tooltip" title="This message will be entered into staff notes only.">Reason:</td>
        <td>
            <textarea rows="1" cols="35" class="wide_input_text" name="Reason" id="Reason" onkeyup="resize('Reason');"></textarea>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="submit" value="Save changes" />
        </td>
    </tr>
</table>
