<tr>
    <td class="label tooltip" title="This is the message shown in the right-hand column on /staff.php">FLS/Staff slogan:</td>
    <td><input type="text" class="wide_input_text" name="slogan" value="{{ user.slogan }}" /></td>
</tr>
