<tr>
    <td class="label tooltip" title="This is the message shown in the right-hand column on /staff.php">FLS/Staff remark:</td>
    <td><input type="text" class="wide_input_text" name="SupportFor" value="{{ remark }}" /></td>
</tr>
