<table class="layout" id="session_box">
    <tr class="colhead">
        <td colspan="2">
            Session
        </td>
    </tr>
    <tr>
        <td class="label">Reset session:</td>
        <td><input type="checkbox" name="ResetSession" id="ResetSession" /></td>
    </tr>
    <tr>
        <td class="label">Log out:</td>
        <td><input type="checkbox" name="LogOut" id="LogOut" /></td>
    </tr>
</table>
