<tr>
    <td class="label">New password:</td>
    <td>
        <input type="text" size="36" id="change_password" name="ChangePassword" />
        <button type="button" id="random_password">Generate</button>
    </td>
</tr>
<tr>
    <td class="label">Two-factor Authentication:</td>
    <td>
{% if key_2fa %}
        <a href="user.php?action=2fa&amp;page=user&amp;do=disable&amp;userid={{ user_id }}">Click here to disable</a>
{% else %}
        Currently Disabled
{% endif %}
    </td>
</tr>
