<tr id="comm_unlimited_download">
    <td class="label tooltip" title="If checked, user is allowed to download unlimited torrent files.">Unlimited Torrent Downloads</td>
    <td><input type="checkbox" name="unlimitedDownload" id="unlimitedDownload"{{ unlimited|checked }} /></td>
</tr>
