{% from 'macro/form.twig' import checked, selected %}
<table class="layout">
    <tr class="colhead">
        <td colspan="2">
            Lock Account
        </td>
    </tr>
    <tr>
        <td class="label">Lock Status:</td>
        <td>
            <select name="LockType">
                <option value="0">Unlocked</option>
                <option value="{{ constant('STAFF_LOCKED') }}" {{ selected(user.lockType == constant('STAFF_LOCKED')) }}>Staff Lock</option>
            </select>
        </td>
    </tr>
{% if viewer.permitted('users_logout') %}
    <tr>
        <td class="label">Log out:</td>
        <td><input type="checkbox" name="Logout" id="LogOut" /></td>
    </tr>
{% endif %}
</table>
