{{ header(user.username ~ ' &rsaquo; Invites &rsaquo; Tree') }}
<div class="thin">
    <div class="header">
        <h2>{{ user.id|user_url }} &rsaquo; <a href="user.php?action=invite&amp;userid={{ user.id }}">Invites</a> &rsaquo; Tree</h2>
    </div>
    <div class="box pad">
        <div class="invitetree pad">
{% include 'user/invite-tree.twig' with {
    'classes': classes,
    'depth':   depth,
    'height':  height,
    'info':    info,
    'user':    user,
    'viewer':  viewer,
} only %}
       </div>
   </div>
</div>
{{ footer() }}
