{% for tag in user.tagSnatchCounts %}
    {% if loop.first %}
<div class="box box_info box_userinfo_activity">
    <div class="head colhead_dark">Snatched tags</div>
    <ul class="stats nobullet">
    {% endif %}
        <li><a href="torrents.php?type=snatched&amp;userid={{ user.id }}&amp;tags={{ tag.name }}&amp;order=time&amp;sort=desc">{{ tag.name }}</a>
            ({{ tag.n }})</li>
    {% if loop.last %}
    </ul>
</div>
    {% endif %}
{% endfor %}
