<div class="box pad">
    <p>
        This is the only time this token value you will be shown to you, so be sure to copy it down!
        Neither you, nor staff, will be able to view the value for any previously generated token.
        <br /><br />
        In case of doubt, you should <b>always</b> revoke a token and generate a new one.
        <br /><br />
        <strong class="important_text">Treat your tokens like passwords and keep them secret.</strong>
    </p>
</div>

<div class="box box2">
    <div class="pad">
        Name: {{ name }}<br />
        Token: <strong>{{ token }}</strong>
    </div>
    <div class='center pad'>
        <a href='user.php?action=edit&userid={{ id }}'>Go back to user settings</a>
    </div>
</div>
