{{ header(user.username ~ ' › Voting History') }}
<div id="user-vote-history" class="box pad thin">
{% for v in page %}
<div>
    <span style="width:80px">
    {%- if v.upvote -%}
        <span style="font-size: 16pt" title="Upvoted" class="center tooltip vote_tag_up">&#x25b2;</span>
    {%- else -%}
        <span style="font-size: 16pt" title="Downvoted" class="center tooltip vote_tag_down">&#x25bc;</span>
    {%- endif -%}
    </span>
    <span>{{ v.tgroup.link|raw }}</span>
</div>
{% endfor %}
</div>
{{ footer() }}
