<div id="user-vote-history" class="box pad thin">
{% for v in page %}
<div>
    <span style="width:80px">
    {%- if v.upvote -%}
        <span style="font-size: 16pt" title="Upvoted" class="center tooltip vote_tag_up">&#x25b2;</span>
    {%- else -%}
        <span style="font-size: 16pt" title="Downvoted" class="center tooltip vote_tag_down">&#x25bc;</span>
    {%- endif -%}
    </span>
    <span>{{ v.tgroup.artistHtml|raw }} &ndash; <a href="torrents.php?id={{ v.group_id }}">{{ v.tgroup.name }}</a></span>
</div>
{% endfor %}
</div>
