<p>You are reporting the collage:</p>
<table>
    <tr class="colhead">
        <td>Title</td>
        <td>Description</td>
    </tr>
    <tr>
        <td>{{ subject.name }}</td>
        <td>{{ subject.description|bb_format }}</td>
    </tr>
</table>

