<p>You are reporting the {{ subject.page|trim('s', side='right') }} {{ subject.link|raw }}:</p>
<table>
    <tr class="colhead">
        <td width="12%">Username</td>
        <td>Body</td>
    </tr>
    <tr>
        <td>{{ subject.userId|user_url }}</td>
        <td>{{ subject.body|bb_format }}</td>
    </tr>
</table>
