<p>You are reporting the thread:</p>
<table>
    <tr class="colhead">
        <td width="12%">Author</td>
        <td>Title</td>
    </tr>
    <tr>
        <td>{{ report.subject.author.id|user_url }}</td>
        <td>{{ ("[thread]" ~ report.subject.id ~ "[/thread]")|bb_format }}</td>
    </tr>
</table>

