<p>You are reporting the thread:</p>
<table>
    <tr class="colhead">
        <td width="12%">Username</td>
        <td>Title</td>
    </tr>
    <tr>
        <td>{{ context.author_id|user_url }}</td>
        <td>{{ context.title }}</td>
    </tr>
</table>

