//  font call for apollostage_paper incremental fonts;
//  this is meant to be incremental to the baseline apollostage fontcall.

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/Merriweather/Merriweather-300-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/Merriweather/Merriweather-400-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/Merriweather/Merriweather-700-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/Merriweather/Merriweather-900-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/Merriweather/Merriweather-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/Merriweather/Merriweather-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/Merriweather/Merriweather-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/Merriweather/Merriweather-900.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-300-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-400-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-500-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-600-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-700-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-800-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/styles/apollostage_paper/fonts/ttf/MerriweatherSans/MerriweatherSans-800.ttf') format('truetype');
}
