/* APOLLOSTAGE PAPER THEME */
/* 2024-07-03 */

/// ////////////////////////////////////////////////////////////////////////////////
// SLUG

// import basic colors as a backup:
@import '../apollostage/_variables';
// debug slugs: must be after import.
$build-slug: $build-slug + " " + "paper 2407";
// and override as follows:

// ////////////////////////////////////////////////////////////////////////////////
// COLORS

// physical_layout -> token, and token -> raw value.

// Backs
$back-100: #EBEFF0;
$back-200: #DEE2E2;
$back-300: #D0D4D5;
$back-400: #C2C6C7;
$back-500: #B5B9BA;
$back-600: #A7ABAC;
$back-700: #9A9E9F;
$back-800: #8D9091;
$back-900: #808384;
$back-1000: #727576;

//Mids
$mid-100: #00AD89;
$mid-200: #00A280;
$mid-300: #009777;
$mid-400: #008D6D;
$mid-500: #008265;
$mid-600: #00745A;
$mid-700: #00674E;
$mid-800: #005943;
$mid-900: #004B38;
$mid-1000: #003D2D;

//Menutheme ~ for base apollostage, same as mids
$menutheme-100: #003D2D;
$menutheme-200: #004B38;
$menutheme-300: #005943;
$menutheme-400: #00674E;
$menutheme-500: #00745A;
$menutheme-600: #008265;
$menutheme-700: #008D6D;
$menutheme-800: #009777;
$menutheme-900: #00A280;
$menutheme-1000: #00AD89;

//Fores
$fore-100: #8E9FB3;
$fore-200: #577AA4;
$fore-300: #2E5D95;
$fore-400: #174A86;
$fore-500: #0C3376;
$fore-600: #0D3167;
$fore-700: #123058;
$fore-800: #162E49;
$fore-900: #17212E;
$fore-1000: #0E0F0F;

//Neutrals (Ink)
$neutral-000: #FFFFFF;
$neutral-100: #F7F8F9;
$neutral-200: #F1F2F4;
$neutral-300: #DCDFE4;
$neutral-400: #B3B9C4;
$neutral-500: #8590A2;
$neutral-600: #758195;
$neutral-700: #626F86;
$neutral-800: #44546F;
$neutral-900: #2C3E5D;
$neutral-1000: #172B4D;
$neutral-1100: #091E42;

//Blues
$blue-000: #E9F2FF;
$blue-100: #CCE0FF;
$blue-200: #85B8FF;
$blue-300: #579DFF;
$blue-400: #388BFF;
$blue-500: #1D7AFC;
$blue-600: #0C66E4;
$blue-700: #0055CC;
$blue-800: #09326C;
$blue-900: #1C2B41;

//Direct-Specialty
$ds-neutral-300: #979a9c;
$ds-neutral-400: #7f807f;
$ds-neutral-500: #5d6670;
$ds-neutral-000: #000;
$ds-red: #a41610;
$ds-green: #11890e;
$ds-yellow: #c9a612;
$ds-fx-low: rgba(0, 0, 0, 0.15);
$ds-fx-mid: rgba(0, 0, 0, 0.225);
$ds-fx-blue: hsla(215, 90%, 56%, 0.3);
$ds-gray-05: hsl(178, 100%, 5.1%);
$ds-gray-13: hsl(180, 11%, 13%); //goes nowhere does nothing;
$ds-gray-52: hsl(181, 3.5%, 52%);
$ds-gray-72: hsl(183, 4%, 72%);
$ds-gray-99: hsl(120, 100%, 99.6%);

// DEFINE FROM LOGICAL LAYOUT TO TOKENS

$color-background-base: $back-100;
$color-background-blockquote: $back-400;
$color-background-box: $back-500;
$color-background-form: $back-200; // also boxes on frontpage
$color-background-input: $back-400;
$color-background-input-active: $back-500;
$color-background-poll: $back-500;
$color-background-popup: $back-300; // upload musicbrainz info
$color-background-popup-warning: $ds-yellow;
$color-background-searchbars: $back-300;
$color-background-searchbars-field-focus: $back-100;
$color-background-searchbars-surround: $back-500;
$color-background-table: $back-200; // tables/forms without odd-even treatment
$color-background-table-discog: $mid-300; // navigation row ~ "jump down to.."
$color-background-table-row-th: $back-500;
$color-background-table-row-odd: $back-300;
$color-background-table-row-even: $back-200;
$color-background-table-keyrows: $mid-300; // navigation row ~ "jump up to.."
$color-background-table-torrenttable: $back-300; // also form field in focus
$color-background-table-torrents-group: $back-600;
$color-background-torrent: $mid-200; // edition in group-list
$color-background-fx-unread: $ds-fx-blue;

$color-text-anchor-hover: $blue-800;
$color-text-anchor: $blue-700;
$color-text-base: $neutral-1000;
$color-text-bold: $neutral-1100;
$color-text-button: $ds-gray-05;  //xx checkme
$color-text-footer: $ds-neutral-300;
$color-text-heading-anchor: $blue-700; //x
$color-text-heading: $fore-700;
$color-text-important-alt: $ds-green;
$color-text-important: $ds-red;
$color-text-input: $fore-600; // for pre-populated inputs
$color-text-input-active: $fore-900;
$color-text-linkbox: $blue-700; // links in linkbox
$color-text-menu: $ds-gray-99; // new
$color-text-menu-hover: $ds-gray-99; //new // during pulldown
$color-text-mono: $fore-500;
$color-text-popup-anchor-hover: $blue-800;
$color-text-popup-anchor: $blue-700;
$color-text-popup: $neutral-1000;
$color-text-ratio-greenzone: $ds-green;
$color-text-ratio-redzone: $ds-red;
$color-text-ratio-yellowzone: $ds-yellow;
$color-text-span-blue: hsl(235, 90%, 55%); //x lower
$color-text-span-green: hsl(145, 90%, 35%); //x lower
$color-text-span-red: $ds-red;
$color-text-table-discog-titles: $fore-300;
$color-text-tooltipster: $fore-400;
$color-text-tooltipster-anchor: $fore-900;
$color-text-tooltipster-anchor-hover: $fore-200;

$color-menu-1: orangered; // unused (could be home)
$color-menu-2: $menutheme-100; // torrents
$color-menu-3: $menutheme-200; // collages
$color-menu-4: $menutheme-300; // requests
$color-menu-5: $menutheme-400; // forums
$color-menu-6: $menutheme-500; // irc
$color-menu-7: $menutheme-600; // top10
$color-menu-8: $menutheme-700; // rules
$color-menu-9: $menutheme-800; // wiki
$color-menu-username: $menutheme-900; // username menu ~ closed
$color-menu-userinfo: $menutheme-1000; // VV pulldown menu ~ closed
$color-menu-hover: $menutheme-300;
$color-menu-username-hover: $menutheme-900; // username menu ~ open
$color-menu-userinfo-hover: $menutheme-900; // VV pulldown menu ~ open
$color-menu-fx-selection: $ds-fx-menutheme;
$color-mobilemenu-userinfo-1: $menutheme-400; // mobile pulldown menu gradient 1
$color-mobilemenu-userinfo-2: $menutheme-900; // mobile pulldown menu gradient 2
$color-mobilemenu-closed: $mid-700; // rules, also mobile menu header
$color-mobilemenu-shadow: $mid-500; //mobile menu

$color-obj-button-base-1: $ds-gray-72;
$color-obj-button-base-2: $ds-gray-52;
$color-obj-poll: $mid-900; // poll active part of bargraph

$color-obj-tag_bubble-background: $mid-200; // menu-2 suggested
$color-obj-tag_bubble-foreground: $mid-900; // menu-9 suggested
$color-obj-tag_bubble_snatched-background: $back-600;
$color-obj-tag_bubble_snatched-foreground: $fore-800;

$color-accent-border-blockquote: $back-900; // Dotted
$color-accent-border-box: $back-900;
$color-accent-border-input: $ds-fx-low;
$color-accent-border-input-active: $ds-fx-mid;
$color-accent-border-tooltipster: $mid-800;
$color-accent-border-popup: $mid-800;
$color-accent-border-tableouter: $back-600-mid;
$color-accent-border-tablerows: $back-600-low;
$color-accent-border-tablerows-torrent: $back-600-mid;
$color-accent-shadow-menutext: initial; // provisioned for derivative themes

$color-accent-cats_applications: silver;
$color-accent-cats_audiobooks: cornflowerblue;
$color-accent-cats_comedy: deepskyblue;
$color-accent-cats_comics: gold;
$color-accent-cats_ebooks: chocolate;
$color-accent-cats_elearningvideos: mediumpurple;
$color-accent-cats_music: darkslategray;
$color-accent-forum-inline-last-read: $ds-yellow;
$color-accent-forum-unread: $ds-yellow;

$color-accent-selection-background: $mid-800;
$color-accent-selection-text: #fff; // usually #fff or $color-text-bold

// popup notifications
$color-background-notification-gradient-1: $mid-1000; // menu low/high suggested
$color-background-notification-gradient-2: $mid-500;  // menu high/low suggested
$color-background-notification: #fff;
$color-text-notification-words: #fff;

// alerts (light mode style)
$color-accent-border-alert: $midtone-500;
$color-background-alert: $ds-gray-92;
$color-text-alert: $ds-black;
$color-anchor-alert: $ds-gray-05;

// ////////////////////////////////////////////////////////////////////////////////
// ICONS

// changing to #000 black version
$icon-message-unread: url("/svg/std/document-round-000.svg");
$icon-message-unread-locked: url("/svg/std/lock-round-000.svg");
$icon-message-unread-sticky: url("/svg/std/pin-round-000.svg");
$icon-message-unread-locked-sticky: url("/svg/std/pin-and-lock-round-000.svg");

$icon-message-read: url("/svg/std/document-000.svg");
$icon-message-read-locked: url("/svg/std/lock-000.svg");
$icon-message-read-sticky: url("/svg/std/pin-000.svg");
$icon-message-read-locked-sticky: url("/svg/std/pin-and-lock-000.svg");

$icon-notification: url("/styles/apollostage/images/notification-bell-000xeee.svg");

// Header Pulldown Menu (hamburger/chevron icon)
// not changing, still dark background

// Used in Header
// changing to light mode version
// // Orpheus specific:
$logo-site-lockup: url("/svg/site/ops-logo-lockup-lightmode.svg");
$logo-site-square: url("/svg/site/ops-logo-loop-lightmode.svg");

// Used on Mobile
// changing to #000 black version
$icon-number-snatches: url("/svg/std/arrow-loop-000.svg");
$icon-number-seeders: url("/svg/std/arrow-up-round-000.svg");
$icon-number-leechers: url("/svg/std/arrow-down-round-000.svg");

// // standard:
// $icon-notification: url("/svg/std/notification-bell-000.svg");
// $icon-warning: url("/svg/std/x-000.svg")
// // Orpheus specific; other deployments, use the above.
$icon-notification: url("/svg/site/ops-icon-harp-000.svg");
$icon-warning: url("/svg/site/ops-icon-triangle-000.svg");

@import '../apollostage/_base';
@import '../apollostage/_fonts_base';
@import '_fonts_paper';

// EOF

/* ****************************** */
/* Local overrides for this theme */

// For the 'paper' derivative theme, incremental fonts to the baseline theme.

body,
textarea {
  font-family: "Bitter", "Noto Sans", "Microsoft Yahei", Tahoma, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.6;
  margin: 0 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", "Noto Sans", "Open Sans", Tahoma, sans-serif;
  font-weight: 700;
}

// EOF
// ////////////////////////////////////////////////////////////////////////////////
