/* APOLLOSTAGE COFFEE THEME */
/* 2024-05-08c */

// DEFINE THEME COLORS AND ICONS

// import basic colors as a backup:

@import '../apollostage/_variables';

// and override as follows: -- palettte.app was helpful for this

  $back-100: #EBEFF0;
  $back-200: #DEE2E2;
  $back-300: #D0D4D5;
  $back-400: #C2C6C7;
  $back-500: #B5B9BA;
  $back-600: #A7ABAC;
  $back-700: #9A9E9F;
  $back-800: #8D9091;
  $back-900: #808384;
  $back-1000: #727576;
   $foo: #000000;
  $mid-100:  #70D2AA;
  $mid-200:  #69DAAA;
  $mid-300:  #69E2AF;
  $mid-400:  #4ED59C;
  $mid-500:  #2DC888;
  $mid-600:  #28BC7E;
  $mid-700:  #29AF77;
  $mid-800:  #2BA271;
  $mid-900:  #2C956A;
  $mid-1000: #2E8962;
    $foo: #020208;
 $fore-100: #121321;
 $fore-300: #0F2136;
 $fore-500: #112C49;
 $fore-700: #13385F;
 $fore-900: #134771;

  
// define theme colors

$base-background-color: $back-100;
$form-background-color: $back-200; 	// also boxes on frontpage
$table-background-color: $back-400;	// primarily table-odd-rows
$input-background-color: $back-500; 	// also table-even-rows
$secondary-table-background-color: $back-700;	// also form field in focus

$input-color: $fore-300;
$mono-text-color: $fore-300;
$base-text-color: $fore-100;
$bold-text-color: $fore-300;
$a-color: $fore-700;
$a-hover-color: $fore-900;
$button-text-color: $fore-300;

$primary-accent-color: $fore-700;	// for portions of headers
$offset-accent-color: $fore-900;

// Ten color gradient:

$menu-li-second-child-background-color:	$mid-100; // torrents
$menu-li-third-child-background-color:	$mid-200; // collages
$menu-li-fourth-child-background-color:	$mid-300; // requests
$menu-li-fifth-child-background-color:	$mid-400; // forums
$menu-li-sixth-child-background-color:	$mid-500; // irc
$menu-li-seventh-child-background-color:	$mid-600; // top10
$header-background-color:		$mid-700; // rules, also mobile menu header
$menu-li-ninth-child-background-color:	$mid-800; // wiki
$userinfo-username-color:		$mid-900; // username menu ~ closed
$userinfo-username-hover-background-color:	$mid-700; // username menu ~ open
$userinfo-minor-color:	$mid-1000; // VV pulldown menu ~ closed
$userinfo-minor-hover-background-color:	$mid-700; // VV pulldown menu ~ open

// mobile pulldown menu gradient

$userinfo-background-color-1: $mid-900; // mobile pulldown menu gradient 1
$userinfo-background-color-2: $mid-300; // mobile pulldown menu gradient 2

// notification gradient

$gradient-color-1: $mid-900;	// usually works well with 'third-child'
$gradient-color-2: $mid-300;	// usually works well with 'seventh-child'
$notification-background-color: -000000;

// these are GNDN: goes nowhere, does nothing

$menu-background-color-1: #880D1E;  // noop
$menu-background-color-2: #DD2D4A;  // noop

// formatting colors for page elements

$blockquote-background-color: $mid-100;
$torrent-background-color: $back-200;
$blockquote-border-color: $back-600;
$box-background-color: $back-700;
$box-border-color: $back-900; 
$input-background-color: $back-500;	 
$input-border-color: $mid-700;
$input-border-color-active: $mid-900;
$torrent-background-color: $back-700;
$footer-color: $fore-300;
$input-color: $back-1000;                   
$button-base-color-1: $back-200; 		// gradient from here to $a-color
$button-base-color-2: $back-600;
$ratio-red-color: #a62929;
$ratio-yellow-color: #e3ba65;
$ratio-green-color: #3aa63a;
$selection-background-color: $mid-1000;
$selection-foreground-color: $bold-text-color; // usually #fff or $bold-text-color
$poll-background-color: rgb(131 228 166 / 10%);

// overrides these colors when called: for more theme flavor?

$span-green-color: #4eb44e;
$span-blue-color: #4e4ee7;

// accent color for upload categories (stripes)

$accent-color-cats_music: #fd6659;
$accent-color-cats_applications: #f02940;
$accent-color-cats_audiobooks: #a54873;
$accent-color-cats_comedy: #8b869c;
$accent-color-cats_comics: #688187;
$accent-color-cats_ebooks: #578f9d;
$accent-color-cats_elearningvideos: #793555;

// accent color for tag bubbles

// These can equal "ninth" and "second"
// or adjust contrast as desired to emphasize/de-emphaszie
$tag-bubble-background-color: $mid-300; 
$tag-bubble-foreground-color: $mid-900; 

// Site header ~ need light background version

$site-logo-lockup: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-lockup-whiteusage.svg");

// Forum icons

$unread-icon: url("https://wally-crunk.github.io/svg/gazelle/document-round-000.svg");
$unread-locked-icon: url("https://wally-crunk.github.io/svg/gazelle/lock-round-000.svg");
$unread-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-round-000.svg");
$unread-locked-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock-round-000.svg");

$read-icon: url("https://wally-crunk.github.io/svg/gazelle/document-000.svg");
$read-locked-icon: url("https://wally-crunk.github.io/svg/gazelle/lock-000.svg");
$read-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-000.svg");
$read-locked-sticky-icon: url("https://wally-crunk.github.io/svg/gazelle/pin-and-lock-000.svg");

// Header Pulldown Menu (hamburger/chevron icon)
// not changing, still dark background

// Used on Mobile
$number-snatches-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-loop-000.svg");
$number-seeders-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-up-round-000.svg");
$number-leechers-icon: url("https://wally-crunk.github.io/svg/gazelle/arrow-down-round-000.svg");

@import '../apollostage/_base';

/* local overrides for this theme */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&display=swap');

body, textarea {
 font-family: "Merriweather Sans", Noto, "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 320;
  background-color: #EBEFF0;
  box-sizing: border-box;
  color: #243024;
  font-size: 12px;
  line-height: 1.6;
  margin: 0 8px;
}
h1,
h2,
h3,
h4,
h5,
h6,
 {
    font-family: 'Merriweather', Noto, 'Noto Sans', 'Open Sans', Tahoma, sans-serif;
    font-weight: 700;
 }

/*0647*/
// EOF

