{%- macro news_pitch() -%}
Pitch:
<select id="news-pitch">
<option value="0">---</option>
<option value="1">Discuss this post</option>
<option value="2">Come join the discussion</option>
</select>
<input type="text" name="pitch" id="pitch" size="20" />
{%- endmacro -%}
