{% macro class_option(max_level, list, active, secondary = false) %}
    {% from 'macro/form.twig' import selected %}
    {% for class in list %}
        {% if (secondary or not class.Secondary) and class.Level <= max_level %}
            <option value="{{ class.Level }}"{{ selected(class.Level == active) }}>{{ class.Name }}</option>
        {% endif %}
    {% endfor %}
{% endmacro %}
